Repository 0xPolygonZero/zk_evm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @muursh, @Nashtare, @wborgeaud, @LindaGuiga, @atanmarko, @0xaatif

chore: more gitignore
  .gitignore
  zero/.gitignore
Owners: @muursh, @Nashtare, @atanmarko

run: cargo fmt
  zero/src/bin/leader/client.rs
  zero/src/bin/leader/stdio.rs
Owners: @muursh, @Nashtare, @atanmarko

chore: fix exe paths
  scripts/prove_stdio.sh
Owners: @muursh, @Nashtare

review: markups
  .gitignore
  trace_decoder/Cargo.toml
Owners: @muursh, @Nashtare, @0xaatif

sync plonky2 and fix verifier build
  Cargo.lock
  evm_arithmetization/src/fixed_recursive_verifier.rs
  evm_arithmetization/src/verifier.rs
Owners: @muursh, @Nashtare, @wborgeaud, @LindaGuiga

Remove JDA for type2
  evm_arithmetization/src/cpu/jumps.rs
  evm_arithmetization/src/cpu/kernel/aggregator.rs
  evm_arithmetization/src/cpu/kernel/asm/core/call.asm
  evm_arithmetization/src/cpu/kernel/asm/core/exception.asm
  evm_arithmetization/src/cpu/kernel/tests/core/jumpdest_analysis.rs
  evm_arithmetization/src/cpu/kernel/tests/mod.rs
  evm_arithmetization/src/witness/transition.rs
Owners: @wborgeaud, @muursh, @Nashtare, @LindaGuiga

.github/CODEOWNERS:

* @muursh @Nashtare
/evm_arithmetization/ @wborgeaud @muursh @Nashtare @LindaGuiga
/zero/ @muursh @Nashtare @atanmarko
/smt_trie/ @0xaatif @muursh @Nashtare
/mpt_trie/ @0xaatif @Nashtare @muursh
/trace_decoder/ @0xaatif @muursh @Nashtare
.github/ @0xaatif @atanmarko @muursh @Nashtare
