Repository 0xPolygonZero/zk_evm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @muursh, @Nashtare, @wborgeaud, @LindaGuiga, @atanmarko, @0xaatif

.github/CODEOWNERS:

* @muursh @Nashtare
/evm_arithmetization/ @wborgeaud @muursh @Nashtare @LindaGuiga
/zero/ @muursh @Nashtare @atanmarko
/smt_trie/ @0xaatif @muursh @Nashtare
/mpt_trie/ @0xaatif @Nashtare @muursh
/trace_decoder/ @0xaatif @muursh @Nashtare
.github/ @0xaatif @atanmarko @muursh @Nashtare
/vscode-extension @0xaatif
/evm_arithmetization/src/bin/lsp-server.rs @0xaatif

ignore None
  evm_arithmetization/src/generation/prover_input.rs
Owners: @wborgeaud, @muursh, @Nashtare, @LindaGuiga

fix
  evm_arithmetization/src/generation/state.rs
Owners: @wborgeaud, @muursh, @Nashtare, @LindaGuiga

fix
  evm_arithmetization/src/generation/state.rs
Owners: @wborgeaud, @muursh, @Nashtare, @LindaGuiga

Inline
  evm_arithmetization/src/memory/segments.rs
  evm_arithmetization/src/witness/memory.rs
Owners: @wborgeaud, @muursh, @Nashtare, @LindaGuiga

Some more
  evm_arithmetization/src/memory/segments.rs
  evm_arithmetization/src/witness/memory.rs
  evm_arithmetization/src/witness/traces.rs
  evm_arithmetization/src/witness/util.rs
Owners: @wborgeaud, @muursh, @Nashtare, @LindaGuiga

add
  Cargo.toml
Owners: @muursh, @Nashtare

feedback
  evm_arithmetization/src/cpu/kernel/tests/core/jumpdest_analysis.rs
  evm_arithmetization/src/generation/prover_input.rs
  evm_arithmetization/tests/global_exit_root.rs
  zero/src/bin/leader/cli.rs
  zero/src/bin/rpc.rs
  zero/src/rpc/native/txn.rs
  zero/src/tracing.rs
Owners: @wborgeaud, @muursh, @Nashtare, @LindaGuiga, @atanmarko

feedback: rustdoc
  evm_arithmetization/src/generation/jumpdest.rs
  zero/src/rpc/jumpdest.rs
Owners: @wborgeaud, @muursh, @Nashtare, @LindaGuiga, @atanmarko

merge tests
  evm_arithmetization/src/fixed_recursive_verifier.rs
  evm_arithmetization/tests/empty_tables.rs
Owners: @wborgeaud, @muursh, @Nashtare, @LindaGuiga

clippy
  evm_arithmetization/tests/empty_tables.rs
Owners: @wborgeaud, @muursh, @Nashtare, @LindaGuiga

Ranges
  evm_arithmetization/src/fixed_recursive_verifier.rs
  scripts/prove_stdio.sh
Owners: @wborgeaud, @muursh, @Nashtare, @LindaGuiga

More ranges
  scripts/prove_stdio.sh
Owners: @muursh, @Nashtare

Review
  evm_arithmetization/src/cpu/kernel/asm/cdk_pre_execution.asm
  evm_arithmetization/src/cpu/kernel/asm/core/precompiles/blake2_f.asm
Owners: @wborgeaud, @muursh, @Nashtare, @LindaGuiga

perf: Inline some hot spots in witness generation (#715)
  evm_arithmetization/src/memory/segments.rs
  evm_arithmetization/src/witness/memory.rs
  evm_arithmetization/src/witness/traces.rs
  evm_arithmetization/src/witness/util.rs
Owners: @wborgeaud, @muursh, @Nashtare, @LindaGuiga

perf: reduce `MemBefore` initial size (#684)
  evm_arithmetization/src/cpu/kernel/asm/cdk_pre_execution.asm
  evm_arithmetization/src/cpu/kernel/asm/core/gas.asm
  evm_arithmetization/src/cpu/kernel/asm/core/precompiles/blake2_f.asm
  evm_arithmetization/src/cpu/kernel/asm/core/precompiles/bn_add.asm
  evm_arithmetization/src/cpu/kernel/asm/core/precompiles/bn_mul.asm
  evm_arithmetization/src/cpu/kernel/asm/core/precompiles/ecrec.asm
  evm_arithmetization/src/cpu/kernel/asm/core/precompiles/expmod.asm
  evm_arithmetization/src/cpu/kernel/asm/core/terminate.asm
  evm_arithmetization/src/cpu/kernel/asm/curve/bn254/curve_arithmetic/glv.asm
  evm_arithmetization/src/cpu/kernel/asm/curve/secp256k1/curve_add.asm
  evm_arithmetization/src/cpu/kernel/asm/hash/blake2/blake2_f.asm
  evm_arithmetization/src/cpu/kernel/asm/main.asm
  evm_arithmetization/src/cpu/kernel/asm/memory/syscalls.asm
  evm_arithmetization/src/cpu/kernel/asm/mpt/hex_prefix.asm
  evm_arithmetization/src/cpu/kernel/asm/signed.asm
  evm_arithmetization/src/cpu/kernel/asm/util/basic_macros.asm
  evm_arithmetization/src/fixed_recursive_verifier.rs
  scripts/prove_stdio.sh
Owners: @wborgeaud, @muursh, @Nashtare, @LindaGuiga

Optimize code by using De Morgan laws (#670)
  evm_arithmetization/src/cpu/kernel/optimizer.rs
Owners: @wborgeaud, @muursh, @Nashtare, @LindaGuiga

feedback: add user-specified timeout
  zero/src/bin/leader.rs
  zero/src/bin/leader/cli.rs
  zero/src/bin/leader/client.rs
  zero/src/bin/rpc.rs
  zero/src/parsing.rs
  zero/src/rpc/jerigon.rs
  zero/src/rpc/jumpdest.rs
  zero/src/rpc/mod.rs
  zero/src/rpc/native/mod.rs
  zero/src/rpc/native/txn.rs
Owners: @muursh, @Nashtare, @atanmarko

Update zero/src/bin/leader/cli.rs
  zero/src/bin/leader/cli.rs
Owners: @muursh, @Nashtare, @atanmarko

Fix memory reset
  evm_arithmetization/src/cpu/kernel/asm/main.asm
  evm_arithmetization/src/cpu/kernel/constants/global_metadata.rs
Owners: @wborgeaud, @muursh, @Nashtare, @LindaGuiga

build
  evm_arithmetization/src/fixed_recursive_verifier.rs
  evm_arithmetization/src/lib.rs
  evm_arithmetization/src/testing_utils.rs
  evm_arithmetization/tests/empty_tables.rs
Owners: @wborgeaud, @muursh, @Nashtare, @LindaGuiga

polish code
  evm_arithmetization/src/fixed_recursive_verifier.rs
Owners: @wborgeaud, @muursh, @Nashtare, @LindaGuiga

refactor
  evm_arithmetization/src/fixed_recursive_verifier.rs
  zero/src/prover_state/persistence.rs
Owners: @wborgeaud, @muursh, @Nashtare, @LindaGuiga, @atanmarko

wip
  evm_arithmetization/src/fixed_recursive_verifier.rs
  zero/src/prover_state/persistence.rs
Owners: @wborgeaud, @muursh, @Nashtare, @LindaGuiga, @atanmarko

build
  evm_arithmetization/src/fixed_recursive_verifier.rs
Owners: @wborgeaud, @muursh, @Nashtare, @LindaGuiga

fix
  evm_arithmetization/src/generation/state.rs
Owners: @wborgeaud, @muursh, @Nashtare, @LindaGuiga

fix
  zero/src/prover_state/mod.rs
Owners: @muursh, @Nashtare, @atanmarko

ci: private rustdoc
  .github/workflows/lint.yml
  trace_decoder/src/core.rs
  trace_decoder/src/tries.rs
  trace_decoder/src/type2.rs
  trace_decoder/src/wire.rs
Owners: @0xaatif, @atanmarko, @muursh, @Nashtare

review: markups
  trace_decoder/src/tries.rs
  trace_decoder/src/type2.rs
Owners: @0xaatif, @muursh, @Nashtare

Fix memory reset (#717)
  evm_arithmetization/src/cpu/kernel/asm/main.asm
  evm_arithmetization/src/cpu/kernel/constants/global_metadata.rs
Owners: @wborgeaud, @muursh, @Nashtare, @LindaGuiga

Fix erc20 up to hashing final tries
  evm_arithmetization/src/cpu/kernel/asm/account_code.asm
  evm_arithmetization/src/cpu/kernel/asm/balance.asm
  evm_arithmetization/src/cpu/kernel/asm/cdk_pre_execution.asm
  evm_arithmetization/src/cpu/kernel/asm/core/nonce.asm
  evm_arithmetization/src/cpu/kernel/asm/core/process_txn.asm
  evm_arithmetization/src/cpu/kernel/asm/core/selfdestruct_list.asm
  evm_arithmetization/src/cpu/kernel/asm/core/touched_addresses.asm
  evm_arithmetization/src/cpu/kernel/asm/core/transfer_cdk_erigon.asm
  evm_arithmetization/src/cpu/kernel/asm/core/util.asm
  evm_arithmetization/src/cpu/kernel/asm/linked_list/type2/state_linked_list.asm
  evm_arithmetization/src/cpu/kernel/asm/mpt/hash/hash_trie_specific.asm
  evm_arithmetization/src/generation/mod.rs
  evm_arithmetization/src/generation/prover_input.rs
  evm_arithmetization/src/generation/state.rs
  evm_arithmetization/src/witness/transition.rs
  evm_arithmetization/tests/erc20_type2.rs
Owners: @wborgeaud, @muursh, @Nashtare, @LindaGuiga

feedback
  Cargo.toml
  evm_arithmetization/benches/fibonacci_25m_gas.rs
  evm_arithmetization/src/cpu/kernel/interpreter.rs
  evm_arithmetization/src/cpu/kernel/tests/add11.rs
  evm_arithmetization/src/cpu/kernel/tests/init_exc_stop.rs
  evm_arithmetization/tests/add11_yml.rs
  evm_arithmetization/tests/erc20.rs
  evm_arithmetization/tests/erc721.rs
  evm_arithmetization/tests/log_opcode.rs
  evm_arithmetization/tests/selfdestruct.rs
  evm_arithmetization/tests/simple_transfer.rs
  evm_arithmetization/tests/withdrawals.rs
  trace_decoder/src/typed_mpt.rs
  zero/src/rpc/jumpdest.rs
  zero/src/tracing.rs
Owners: @muursh, @Nashtare, @wborgeaud, @LindaGuiga, @0xaatif, @atanmarko

try to fix
  evm_arithmetization/src/fixed_recursive_verifier.rs
Owners: @wborgeaud, @muursh, @Nashtare, @LindaGuiga

wip
  evm_arithmetization/src/fixed_recursive_verifier.rs
  evm_arithmetization/src/lib.rs
  zero/src/lib.rs
  zero/src/prover_state/mod.rs
Owners: @wborgeaud, @muursh, @Nashtare, @LindaGuiga, @atanmarko

done
  evm_arithmetization/src/fixed_recursive_verifier.rs
Owners: @wborgeaud, @muursh, @Nashtare, @LindaGuiga

fix
  evm_arithmetization/tests/empty_tables.rs
Owners: @wborgeaud, @muursh, @Nashtare, @LindaGuiga

fix tests
  evm_arithmetization/tests/empty_tables.rs
Owners: @wborgeaud, @muursh, @Nashtare, @LindaGuiga

Fix check against 0xEF byte
  evm_arithmetization/src/cpu/kernel/asm/core/process_txn.asm
Owners: @wborgeaud, @muursh, @Nashtare, @LindaGuiga

chore: naming
  trace_decoder/src/core.rs
  trace_decoder/src/tries.rs
  trace_decoder/src/type1.rs
  trace_decoder/src/type2.rs
Owners: @0xaatif, @muursh, @Nashtare

refactor: store_int, store_hash
  trace_decoder/src/core.rs
  trace_decoder/src/tries.rs
Owners: @0xaatif, @muursh, @Nashtare

refactor: store_int -> store_int_at_slot
  trace_decoder/src/core.rs
  trace_decoder/src/interface.rs
  trace_decoder/src/tries.rs
Owners: @0xaatif, @muursh, @Nashtare
