Repository 0xPolygonZero/zk_evm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @muursh, @Nashtare, @wborgeaud, @LindaGuiga, @atanmarko, @0xaatif

.github/CODEOWNERS:

* @muursh @Nashtare
/evm_arithmetization/ @wborgeaud @muursh @Nashtare @LindaGuiga
/zero/ @muursh @Nashtare @atanmarko
/smt_trie/ @0xaatif @muursh @Nashtare
/mpt_trie/ @0xaatif @Nashtare @muursh
/trace_decoder/ @0xaatif @muursh @Nashtare
.github/ @0xaatif @atanmarko @muursh @Nashtare
/vscode-extension @0xaatif
/evm_arithmetization/src/bin/lsp-server.rs @0xaatif

trait World
  trace_decoder/src/lib.rs
  trace_decoder/src/tries.rs
  trace_decoder/src/world.rs
Owners: @0xaatif, @muursh, @Nashtare

fix: check gas before perform op
  evm_arithmetization/src/witness/transition.rs
Owners: @wborgeaud, @muursh, @Nashtare, @LindaGuiga

switcheroo; cargo test --package trace_decoder
  trace_decoder/src/core.rs
  trace_decoder/src/observer.rs
  trace_decoder/src/tries.rs
  trace_decoder/src/world.rs
Owners: @0xaatif, @muursh, @Nashtare

rm TypedMpt; cargo test --package trace_decoder
  trace_decoder/src/core.rs
  trace_decoder/src/tries.rs
  trace_decoder/src/type1.rs
  trace_decoder/src/world.rs
Owners: @0xaatif, @muursh, @Nashtare

World has no concept of storage root; cargo test --package trace_decoder
  trace_decoder/src/core.rs
  trace_decoder/src/tries.rs
  trace_decoder/src/world.rs
Owners: @0xaatif, @muursh, @Nashtare

document and polish
  trace_decoder/src/core.rs
  trace_decoder/src/lib.rs
  trace_decoder/src/tries.rs
  trace_decoder/src/world.rs
  zero/src/bin/trie_diff.rs
Owners: @0xaatif, @muursh, @Nashtare, @atanmarko

address comments
  evm_arithmetization/src/generation/state.rs
Owners: @wborgeaud, @muursh, @Nashtare, @LindaGuiga

Bump plonky2 (serialization fix) (#729)
  Cargo.lock
  Cargo.toml
  evm_arithmetization/src/all_stark.rs
  evm_arithmetization/src/fixed_recursive_verifier.rs
  evm_arithmetization/src/recursive_verifier.rs
  evm_arithmetization/src/verifier.rs
  evm_arithmetization/src/witness/errors.rs
  evm_arithmetization/tests/empty_tables.rs
  evm_arithmetization/tests/two_to_one_block.rs
Owners: @muursh, @Nashtare, @wborgeaud, @LindaGuiga

Fix max_cpu_len_log (#714)
  evm_arithmetization/src/generation/state.rs
Owners: @wborgeaud, @muursh, @Nashtare, @LindaGuiga

replace
  Cargo.lock
  evm_arithmetization/Cargo.toml
  evm_arithmetization/benches/fibonacci_25m_gas.rs
  evm_arithmetization/src/cpu/kernel/aggregator.rs
  evm_arithmetization/src/cpu/kernel/stack/stack_manipulation.rs
  evm_arithmetization/src/cpu/kernel/tests/bn254.rs
  evm_arithmetization/src/cpu/kernel/tests/init_exc_stop.rs
  evm_arithmetization/src/cpu/kernel/tests/mcopy.rs
  evm_arithmetization/src/cpu/kernel/tests/mpt/linked_list.rs
  evm_arithmetization/src/keccak/keccak_stark.rs
  evm_arithmetization/src/lib.rs
  evm_arithmetization/src/testing_utils.rs
Owners: @muursh, @Nashtare, @wborgeaud, @LindaGuiga

Tweak
  evm_arithmetization/src/witness/operation.rs
Owners: @wborgeaud, @muursh, @Nashtare, @LindaGuiga

Reduce memory
  Cargo.toml
  evm_arithmetization/src/cpu/kernel/asm/util/basic_macros.asm
Owners: @muursh, @Nashtare, @wborgeaud, @LindaGuiga

Add CTLs
  evm_arithmetization/src/all_stark.rs
  evm_arithmetization/src/cpu/cpu_stark.rs
Owners: @wborgeaud, @muursh, @Nashtare, @LindaGuiga

Bring back arith op
  evm_arithmetization/src/cpu/columns/general.rs
  evm_arithmetization/src/cpu/incr.rs
  evm_arithmetization/src/witness/operation.rs
Owners: @wborgeaud, @muursh, @Nashtare, @LindaGuiga

Type2World; type2::test_tries panics
  trace_decoder/src/core.rs
  trace_decoder/src/tries.rs
  trace_decoder/src/type2.rs
  trace_decoder/src/world.rs
Owners: @0xaatif, @muursh, @Nashtare

Type2Entry is partial; cargo test --package trace_decoder
  trace_decoder/src/type2.rs
  trace_decoder/src/world.rs
Owners: @0xaatif, @muursh, @Nashtare

Remove profile
  Cargo.toml
Owners: @muursh, @Nashtare

r4r
  trace_decoder/src/core.rs
  trace_decoder/src/world.rs
Owners: @0xaatif, @muursh, @Nashtare

fix: lints
  Cargo.lock
  trace_decoder/Cargo.toml
  trace_decoder/src/tries.rs
  trace_decoder/src/type2.rs
  trace_decoder/src/world.rs
Owners: @muursh, @Nashtare, @0xaatif

fix checkpoint arg
  scripts/prove_rpc.sh
  zero/src/bin/leader/cli.rs
  zero/src/block_interval.rs
Owners: @muursh, @Nashtare, @atanmarko

robustness
  trace_decoder/src/type2.rs
  trace_decoder/src/wire.rs
Owners: @0xaatif, @muursh, @Nashtare
