Repository 0xPolygonZero/zk_evm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @muursh, @Nashtare, @wborgeaud, @LindaGuiga, @atanmarko, @0xaatif

.github/CODEOWNERS:

* @muursh @Nashtare
/evm_arithmetization/ @wborgeaud @muursh @Nashtare @LindaGuiga
/zero/ @muursh @Nashtare @atanmarko
/smt_trie/ @0xaatif @muursh @Nashtare
/mpt_trie/ @0xaatif @Nashtare @muursh
/trace_decoder/ @0xaatif @muursh @Nashtare
.github/ @0xaatif @atanmarko @muursh @Nashtare
/vscode-extension @0xaatif
/evm_arithmetization/src/bin/lsp-server.rs @0xaatif

wip: factor out methods on StorageTrie
  trace_decoder/src/core.rs
  trace_decoder/src/tries.rs
Owners: @0xaatif, @muursh, @Nashtare

wip
  trace_decoder/src/core.rs
  trace_decoder/src/tries.rs
Owners: @0xaatif, @muursh, @Nashtare

doc: endianness
  trace_decoder/src/tries.rs
Owners: @0xaatif, @muursh, @Nashtare

wip
  evm_arithmetization/src/all_stark.rs
  evm_arithmetization/src/fixed_recursive_verifier.rs
  evm_arithmetization/src/get_challenges.rs
  evm_arithmetization/src/proof.rs
  evm_arithmetization/src/prover.rs
Owners: @wborgeaud, @muursh, @Nashtare, @LindaGuiga

build
  evm_arithmetization/src/fixed_recursive_verifier.rs
  evm_arithmetization/src/generation/mod.rs
  evm_arithmetization/src/get_challenges.rs
  evm_arithmetization/src/prover.rs
  evm_arithmetization/src/verifier.rs
  evm_arithmetization/src/witness/traces.rs
Owners: @wborgeaud, @muursh, @Nashtare, @LindaGuiga

wip
  trace_decoder/src/core.rs
  trace_decoder/src/observer.rs
  trace_decoder/src/tries.rs
Owners: @0xaatif, @muursh, @Nashtare

wip
  trace_decoder/src/core.rs
  trace_decoder/src/tries.rs
  trace_decoder/src/type1.rs
Owners: @0xaatif, @muursh, @Nashtare

cleanup
  trace_decoder/src/core.rs
  trace_decoder/src/observer.rs
  trace_decoder/src/tries.rs
  trace_decoder/src/type1.rs
  zero/src/bin/trie_diff.rs
Owners: @0xaatif, @muursh, @Nashtare, @atanmarko

doc: endianness
  trace_decoder/src/tries.rs
Owners: @0xaatif, @muursh, @Nashtare

done?
  trace_decoder/src/core.rs
  trace_decoder/src/tries.rs
  trace_decoder/src/type2.rs
Owners: @0xaatif, @muursh, @Nashtare

fix: bug
  trace_decoder/src/tries.rs
Owners: @0xaatif, @muursh, @Nashtare

fix: accept clobbered storage
  trace_decoder/src/tries.rs
Owners: @0xaatif, @muursh, @Nashtare

Fix check against 0xEF byte (#719)
  evm_arithmetization/src/cpu/kernel/asm/core/process_txn.asm
Owners: @wborgeaud, @muursh, @Nashtare, @LindaGuiga

fix: addresses
  evm_arithmetization/src/generation/prover_input.rs
  zero/src/rpc/jumpdest.rs
Owners: @wborgeaud, @muursh, @Nashtare, @LindaGuiga, @atanmarko

todo: fix todo
  trace_decoder/src/core.rs
Owners: @0xaatif, @muursh, @Nashtare

Fix initial smt hash in erc20
  evm_arithmetization/src/cpu/kernel/aggregator.rs
  evm_arithmetization/src/cpu/kernel/asm/linked_list/type2/initial_tries.asm
  evm_arithmetization/src/cpu/kernel/asm/main.asm
  evm_arithmetization/src/cpu/kernel/asm/smt/hash.asm
  evm_arithmetization/src/cpu/kernel/asm/smt/read.asm
  evm_arithmetization/src/generation/mod.rs
  evm_arithmetization/src/generation/prover_input.rs
  evm_arithmetization/src/generation/state.rs
  evm_arithmetization/src/witness/transition.rs
  smt_trie/src/smt.rs
Owners: @wborgeaud, @muursh, @Nashtare, @LindaGuiga, @0xaatif

testing: improve prove_stdio script
  scripts/prove_stdio.sh
Owners: @muursh, @Nashtare

testing: improve test_native script
  scripts/test_native.sh
Owners: @muursh, @Nashtare

fmt
  Cargo.toml
Owners: @muursh, @Nashtare

Round 5
  .cargo/config.toml
  Cargo.toml
  scripts/prove_stdio.sh
  scripts/test_native.sh
Owners: @muursh, @Nashtare

fix
  evm_arithmetization/src/fixed_recursive_verifier.rs
  evm_arithmetization/src/verifier.rs
Owners: @wborgeaud, @muursh, @Nashtare, @LindaGuiga

works
  evm_arithmetization/src/all_stark.rs
  evm_arithmetization/src/fixed_recursive_verifier.rs
  evm_arithmetization/src/generation/mod.rs
Owners: @wborgeaud, @muursh, @Nashtare, @LindaGuiga

work
  evm_arithmetization/src/all_stark.rs
Owners: @wborgeaud, @muursh, @Nashtare, @LindaGuiga

fixed mem_after
  evm_arithmetization/src/fixed_recursive_verifier.rs
  evm_arithmetization/src/proof.rs
  evm_arithmetization/src/prover.rs
  evm_arithmetization/src/testing_utils.rs
  evm_arithmetization/tests/empty_tables.rs
Owners: @wborgeaud, @muursh, @Nashtare, @LindaGuiga

fix
  evm_arithmetization/src/all_stark.rs
  evm_arithmetization/src/fixed_recursive_verifier.rs
  evm_arithmetization/src/generation/mod.rs
  evm_arithmetization/src/testing_utils.rs
  evm_arithmetization/tests/empty_tables.rs
Owners: @wborgeaud, @muursh, @Nashtare, @LindaGuiga

cleanup
  evm_arithmetization/src/fixed_recursive_verifier.rs
  evm_arithmetization/src/prover.rs
Owners: @wborgeaud, @muursh, @Nashtare, @LindaGuiga

Fix get_mnemonic
  evm_arithmetization/src/cpu/kernel/interpreter.rs
Owners: @wborgeaud, @muursh, @Nashtare, @LindaGuiga

testing
  scripts/prove_stdio.sh
  scripts/test_native.sh
Owners: @muursh, @Nashtare

Fix trie data size
  evm_arithmetization/src/cpu/kernel/asm/main.asm
  evm_arithmetization/src/cpu/kernel/asm/smt/hash.asm
  evm_arithmetization/src/generation/prover_input.rs
Owners: @wborgeaud, @muursh, @Nashtare, @LindaGuiga

Fix set_final_tries
  evm_arithmetization/src/cpu/kernel/aggregator.rs
  evm_arithmetization/src/cpu/kernel/asm/linked_list/type2/final_tries.asm
  evm_arithmetization/src/cpu/kernel/asm/main.asm
Owners: @wborgeaud, @muursh, @Nashtare, @LindaGuiga

Fix erc20 but constraints are failing
  evm_arithmetization/src/cpu/kernel/asm/linked_list/type2/state_linked_list.asm
  evm_arithmetization/src/cpu/kernel/asm/main.asm
  evm_arithmetization/src/witness/transition.rs
  evm_arithmetization/tests/erc20_type2.rs
Owners: @wborgeaud, @muursh, @Nashtare, @LindaGuiga

polish the code
  evm_arithmetization/src/verifier.rs
Owners: @wborgeaud, @muursh, @Nashtare, @LindaGuiga

clean
  evm_arithmetization/tests/empty_tables.rs
Owners: @wborgeaud, @muursh, @Nashtare, @LindaGuiga

check no logic ops
  evm_arithmetization/src/testing_utils.rs
Owners: @wborgeaud, @muursh, @Nashtare, @LindaGuiga

fix index_verifier_data
  evm_arithmetization/src/fixed_recursive_verifier.rs
Owners: @wborgeaud, @muursh, @Nashtare, @LindaGuiga

Actually we do not need index_verifier_data
  evm_arithmetization/src/fixed_recursive_verifier.rs
Owners: @wborgeaud, @muursh, @Nashtare, @LindaGuiga

testing: improve reporting, add error cases
  evm_arithmetization/src/generation/state.rs
  scripts/test_native.sh
Owners: @wborgeaud, @muursh, @Nashtare, @LindaGuiga

change exit code
  scripts/prove_stdio.sh
Owners: @muursh, @Nashtare

Bump plonky2
  Cargo.lock
  Cargo.toml
  evm_arithmetization/src/all_stark.rs
  evm_arithmetization/src/fixed_recursive_verifier.rs
  evm_arithmetization/src/recursive_verifier.rs
  evm_arithmetization/src/verifier.rs
  evm_arithmetization/src/witness/errors.rs
Owners: @muursh, @Nashtare, @wborgeaud, @LindaGuiga

address comments
  evm_arithmetization/src/fixed_recursive_verifier.rs
  zero/src/lib.rs
  zero/src/prover_state/mod.rs
Owners: @wborgeaud, @muursh, @Nashtare, @LindaGuiga, @atanmarko
