Repository 0xPolygonZero/zk_evm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @muursh, @Nashtare, @wborgeaud, @LindaGuiga, @atanmarko, @0xaatif

feat: Remove duplicate txn bytestring in parsing (#477)
  trace_decoder/src/lib.rs
  trace_decoder/tests/data/witnesses/zero_jerigon/b19807080_main.json
  trace_decoder/tests/data/witnesses/zero_jerigon/b4_dev.json
  zero_bin/rpc/src/native/txn.rs
  zero_bin/tools/artifacts/witness_b19807080.json
  zero_bin/tools/artifacts/witness_b3_b6.json
Owners: @0xaatif, @muursh, @Nashtare, @atanmarko

Misc
  trace_decoder/src/decoding.rs
  trace_decoder/src/typed_mpt.rs
Owners: @0xaatif, @muursh, @Nashtare

Review
  trace_decoder/src/decoding.rs
  trace_decoder/src/processed_block_trace.rs
  trace_decoder/src/typed_mpt.rs
  zero_bin/rpc/src/native/txn.rs
Owners: @0xaatif, @muursh, @Nashtare, @atanmarko

Check storage keys
  evm_arithmetization/src/cpu/kernel/asm/mpt/linked_list/initial_tries.asm
Owners: @wborgeaud, @muursh, @Nashtare, @LindaGuiga

Update zero_bin/common/src/prover_state/persistence.rs
  zero_bin/common/src/prover_state/persistence.rs
Owners: @muursh, @Nashtare, @atanmarko

Parallelize test_only segment simulation (#498)
  zero_bin/ops/src/lib.rs
  zero_bin/prover/src/lib.rs
Owners: @muursh, @Nashtare, @atanmarko

Fix typo
  trace_decoder/src/type1.rs
Owners: @0xaatif, @muursh, @Nashtare

Fix selfdestruct for EIP-6780 with non-empty balances (#493)
  trace_decoder/src/decoding.rs
  trace_decoder/src/lib.rs
  trace_decoder/src/processed_block_trace.rs
  trace_decoder/src/typed_mpt.rs
  trace_decoder/tests/data/witnesses/zero_jerigon/b20472570_main.json
  trace_decoder/tests/data/witnesses/zero_jerigon/b20472570_main_header.json
  zero_bin/rpc/src/native/txn.rs
Owners: @0xaatif, @muursh, @Nashtare, @atanmarko

Small improvement
  evm_arithmetization/src/cpu/kernel/asm/mpt/linked_list/initial_tries.asm
Owners: @wborgeaud, @muursh, @Nashtare, @LindaGuiga

Requested PR changes for #310 (3)
  zero_bin/tools/prove_rpc.sh
Owners: @muursh, @Nashtare, @atanmarko

Fix: `zero-bin` is now able again to accesses `evm_arithmetization` for circuit versions (#310)
  zero_bin/common/src/prover_state/persistence.rs
  zero_bin/common/src/version.rs
  zero_bin/leader/src/main.rs
  zero_bin/rpc/src/main.rs
  zero_bin/tools/prove_rpc.sh
  zero_bin/tools/prove_stdio.sh
  zero_bin/verifier/src/main.rs
  zero_bin/worker/src/main.rs
Owners: @muursh, @Nashtare, @atanmarko

.github/CODEOWNERS:

* @muursh @Nashtare
/evm_arithmetization/ @wborgeaud @muursh @Nashtare @LindaGuiga
/zero_bin/ @muursh @Nashtare @atanmarko
/smt_trie/ @0xaatif @muursh @Nashtare
/mpt_trie/ @0xaatif @Nashtare @muursh
/trace_decoder/ @0xaatif @muursh @Nashtare
