Repository 0xPolygonZero/zk_evm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @muursh, @Nashtare, @wborgeaud, @LindaGuiga, @atanmarko, @0xaatif

fix a bug with index_verifier_data
  evm_arithmetization/src/fixed_recursive_verifier.rs
  evm_arithmetization/tests/empty_tables.rs
Owners: @wborgeaud, @muursh, @Nashtare, @LindaGuiga

fmt
  evm_arithmetization/src/fixed_recursive_verifier.rs
Owners: @wborgeaud, @muursh, @Nashtare, @LindaGuiga

Optimize zkVM Proving by Skipping Unused Keccak Tables (#690)
  Cargo.lock
  Cargo.toml
  evm_arithmetization/src/fixed_recursive_verifier.rs
  evm_arithmetization/src/get_challenges.rs
  evm_arithmetization/src/proof.rs
  evm_arithmetization/src/prover.rs
  evm_arithmetization/src/testing_utils.rs
  evm_arithmetization/src/verifier.rs
  evm_arithmetization/tests/empty_tables.rs
  zero/src/prover_state/mod.rs
Owners: @muursh, @Nashtare, @wborgeaud, @LindaGuiga, @atanmarko

update paladin version
  Cargo.lock
  Cargo.toml
Owners: @muursh, @Nashtare

Assign specific jobs to dedicated workers (#564)
  Cargo.lock
  Cargo.toml
  zero/src/bin/leader.rs
  zero/src/bin/leader/cli.rs
  zero/src/bin/leader/client.rs
  zero/src/bin/leader/http.rs
  zero/src/bin/leader/stdio.rs
  zero/src/prover.rs
Owners: @muursh, @Nashtare, @atanmarko

Fix CTLs
  evm_arithmetization/src/cpu/cpu_stark.rs
  evm_arithmetization/src/witness/operation.rs
Owners: @wborgeaud, @muursh, @Nashtare, @LindaGuiga

Fix memory constraint
  evm_arithmetization/src/memory/memory_stark.rs
Owners: @wborgeaud, @muursh, @Nashtare, @LindaGuiga

[WIP] Adding scalable data final erc20 smt
  evm_arithmetization/src/cpu/kernel/asm/cdk_pre_execution.asm
  evm_arithmetization/src/cpu/kernel/asm/main.asm
  evm_arithmetization/tests/erc20_type2.rs
Owners: @wborgeaud, @muursh, @Nashtare, @LindaGuiga

don't panic!
  evm_arithmetization/src/generation/prover_input.rs
Owners: @wborgeaud, @muursh, @Nashtare, @LindaGuiga

feat: SMT support in `trace_decoder` ignores storage (#693)
  .github/workflows/lint.yml
  Cargo.lock
  Cargo.toml
  trace_decoder/Cargo.toml
  trace_decoder/benches/block_processing.rs
  trace_decoder/src/core.rs
  trace_decoder/src/lib.rs
  trace_decoder/src/observer.rs
  trace_decoder/src/tries.rs
  trace_decoder/src/type1.rs
  trace_decoder/src/type2.rs
  trace_decoder/src/wire.rs
  trace_decoder/tests/consistent-with-header.rs
  trace_decoder/tests/simulate-execution.rs
  zero/Cargo.toml
  zero/src/bin/rpc.rs
  zero/src/bin/trie_diff.rs
  zero/src/prover.rs
Owners: @0xaatif, @atanmarko, @muursh, @Nashtare

Tweak debug
  zero/src/ops.rs
Owners: @muursh, @Nashtare, @atanmarko

Debug
  zero/src/ops.rs
Owners: @muursh, @Nashtare, @atanmarko

Fix
  evm_arithmetization/src/fixed_recursive_verifier.rs
  evm_arithmetization/src/public_types.rs
  evm_arithmetization/tests/two_to_one_block.rs
  zero/src/ops.rs
  zero/src/proof_types.rs
  zero/src/prover_state/mod.rs
Owners: @wborgeaud, @muursh, @Nashtare, @LindaGuiga, @atanmarko

feat: SMT support in `trace_decoder` ignores storage (#693)
  .github/workflows/lint.yml
  Cargo.lock
  Cargo.toml
  trace_decoder/Cargo.toml
  trace_decoder/benches/block_processing.rs
  trace_decoder/src/core.rs
  trace_decoder/src/lib.rs
  trace_decoder/src/observer.rs
  trace_decoder/src/tries.rs
  trace_decoder/src/type1.rs
  trace_decoder/src/type2.rs
  trace_decoder/src/wire.rs
  trace_decoder/tests/consistent-with-header.rs
  trace_decoder/tests/simulate-execution.rs
  zero/Cargo.toml
  zero/src/bin/rpc.rs
  zero/src/bin/trie_diff.rs
  zero/src/prover.rs
Owners: @0xaatif, @atanmarko, @muursh, @Nashtare

Assign specific jobs to dedicated workers (#564)
  Cargo.lock
  Cargo.toml
  zero/src/bin/leader.rs
  zero/src/bin/leader/cli.rs
  zero/src/bin/leader/client.rs
  zero/src/bin/leader/http.rs
  zero/src/bin/leader/stdio.rs
  zero/src/prover.rs
Owners: @muursh, @Nashtare, @atanmarko

Add warn
  zero/src/ops.rs
  zero/src/proof_types.rs
Owners: @muursh, @Nashtare, @atanmarko

Debug
  zero/src/ops.rs
Owners: @muursh, @Nashtare, @atanmarko

Debug
  zero/src/ops.rs
Owners: @muursh, @Nashtare, @atanmarko

Fix serialization
  evm_arithmetization/src/fixed_recursive_verifier.rs
  evm_arithmetization/tests/two_to_one_block.rs
Owners: @wborgeaud, @muursh, @Nashtare, @LindaGuiga

Bump plonky2
  Cargo.lock
  Cargo.toml
  evm_arithmetization/src/all_stark.rs
  evm_arithmetization/src/fixed_recursive_verifier.rs
  evm_arithmetization/src/recursive_verifier.rs
  evm_arithmetization/src/verifier.rs
  evm_arithmetization/src/witness/errors.rs
Owners: @muursh, @Nashtare, @wborgeaud, @LindaGuiga

Fix test and add serialization check
  evm_arithmetization/tests/two_to_one_block.rs
Owners: @wborgeaud, @muursh, @Nashtare, @LindaGuiga

fix
  Cargo.lock
  Cargo.toml
  evm_arithmetization/tests/empty_tables.rs
Owners: @muursh, @Nashtare, @wborgeaud, @LindaGuiga

Add test
  evm_arithmetization/src/all_stark.rs
Owners: @wborgeaud, @muursh, @Nashtare, @LindaGuiga

Move test to empty_tables
  evm_arithmetization/tests/empty_tables.rs
  evm_arithmetization/tests/two_to_one_block.rs
Owners: @wborgeaud, @muursh, @Nashtare, @LindaGuiga

Refactor BlockInterval::new() to facilitate hash range inputs
  scripts/prove_rpc.sh
  zero/src/bin/leader.rs
  zero/src/bin/leader/cli.rs
  zero/src/bin/leader/client.rs
  zero/src/bin/rpc.rs
  zero/src/block_interval.rs
  zero/src/provider.rs
  zero/src/rpc/mod.rs
Owners: @muursh, @Nashtare, @atanmarko

Remove blockid from interval
  zero/src/block_interval.rs
Owners: @muursh, @Nashtare, @atanmarko

Update scripts
  .github/workflows/jerigon-native.yml
  .github/workflows/jerigon-zero.yml
  scripts/prove_rpc.sh
Owners: @0xaatif, @atanmarko, @muursh, @Nashtare

Script and into() cleanup
  scripts/prove_rpc.sh
  zero/src/block_interval.rs
Owners: @muursh, @Nashtare, @atanmarko

comments and cleanup
  zero/src/bin/leader/client.rs
  zero/src/block_interval.rs
Owners: @muursh, @Nashtare, @atanmarko

check end vs start in range
  zero/src/block_interval.rs
Owners: @muursh, @Nashtare, @atanmarko

fix script call in workflow
  .github/workflows/jerigon-native.yml
Owners: @0xaatif, @atanmarko, @muursh, @Nashtare

struct World; cargo test --package trace_decoder
  trace_decoder/src/core.rs
  trace_decoder/src/observer.rs
  trace_decoder/src/tries.rs
  zero/src/bin/trie_diff.rs
Owners: @0xaatif, @muursh, @Nashtare, @atanmarko

World::storage is private; cargo test --package trace_decoder
  trace_decoder/src/core.rs
  trace_decoder/src/tries.rs
Owners: @0xaatif, @muursh, @Nashtare

Apply comments
  evm_arithmetization/src/all_stark.rs
  evm_arithmetization/src/fixed_recursive_verifier.rs
  evm_arithmetization/src/verifier.rs
  evm_arithmetization/tests/empty_tables.rs
Owners: @wborgeaud, @muursh, @Nashtare, @LindaGuiga

Revert "Apply comments"
  evm_arithmetization/src/all_stark.rs
  evm_arithmetization/src/fixed_recursive_verifier.rs
  evm_arithmetization/src/verifier.rs
  evm_arithmetization/tests/empty_tables.rs
Owners: @wborgeaud, @muursh, @Nashtare, @LindaGuiga

Tweak test
  evm_arithmetization/tests/empty_tables.rs
Owners: @wborgeaud, @muursh, @Nashtare, @LindaGuiga

StateTrie::{update_balance,update_nonce,set_code,..}; cargo test --package trace_decoder
  trace_decoder/src/core.rs
  trace_decoder/src/tries.rs
Owners: @0xaatif, @muursh, @Nashtare

Dont store 0s in create_scalable_l2_account
  evm_arithmetization/src/cpu/kernel/asm/cdk_pre_execution.asm
  evm_arithmetization/src/cpu/kernel/asm/core/create.asm
  evm_arithmetization/tests/erc20_type2.rs
Owners: @wborgeaud, @muursh, @Nashtare, @LindaGuiga

Cache circuit generation
  evm_arithmetization/src/fixed_recursive_verifier.rs
Owners: @wborgeaud, @muursh, @Nashtare, @LindaGuiga

Pin to main branch
  Cargo.lock
  Cargo.toml
Owners: @muursh, @Nashtare

.github/CODEOWNERS:

* @muursh @Nashtare
/evm_arithmetization/ @wborgeaud @muursh @Nashtare @LindaGuiga
/zero/ @muursh @Nashtare @atanmarko
/smt_trie/ @0xaatif @muursh @Nashtare
/mpt_trie/ @0xaatif @Nashtare @muursh
/trace_decoder/ @0xaatif @muursh @Nashtare
.github/ @0xaatif @atanmarko @muursh @Nashtare
/vscode-extension @0xaatif
/evm_arithmetization/src/bin/lsp-server.rs @0xaatif
