Repository 0xPolygonZero/zk_evm, changes with the labels that .github/labeler.yml gives for each.
All labels: crate: mpt_trie, crate: evm_arithmetization, crate: trace_decoder, crate: proof_gen, specs

Add segment indexing
  evm_arithmetization/src/generation/mod.rs
  evm_arithmetization/src/prover.rs
Labels: crate: evm_arithmetization

Add getter
  evm_arithmetization/src/prover.rs
Labels: crate: evm_arithmetization

Add segment indexing (#191)
  evm_arithmetization/src/generation/mod.rs
  evm_arithmetization/src/prover.rs
Labels: crate: evm_arithmetization

Some cleanup (#190)
  evm_arithmetization/src/cpu/kernel/interpreter.rs
  evm_arithmetization/src/cpu/kernel/tests/blake2_f.rs
  evm_arithmetization/src/cpu/kernel/tests/bls381.rs
  evm_arithmetization/src/cpu/kernel/tests/bn254.rs
  evm_arithmetization/src/cpu/kernel/tests/core/access_lists.rs
  evm_arithmetization/src/cpu/kernel/tests/ecc/curve_ops.rs
  evm_arithmetization/src/cpu/kernel/tests/ecc/ecrecover.rs
  evm_arithmetization/src/cpu/kernel/tests/exp.rs
  evm_arithmetization/src/cpu/kernel/tests/hash.rs
  evm_arithmetization/src/cpu/kernel/tests/mod.rs
  evm_arithmetization/src/cpu/kernel/tests/mpt/delete.rs
  evm_arithmetization/src/cpu/kernel/tests/receipt.rs
  evm_arithmetization/src/generation/mod.rs
  evm_arithmetization/src/generation/mpt.rs
  evm_arithmetization/src/generation/prover_input.rs
  evm_arithmetization/src/generation/state.rs
  evm_arithmetization/src/keccak_sponge/keccak_sponge_stark.rs
  evm_arithmetization/src/prover.rs
  evm_arithmetization/src/witness/memory.rs
  evm_arithmetization/src/witness/transition.rs
Labels: crate: evm_arithmetization

Introduce verify_all_proofs and update integration tests
  evm_arithmetization/src/verifier.rs
  evm_arithmetization/tests/add11_yml.rs
  evm_arithmetization/tests/basic_smart_contract.rs
  evm_arithmetization/tests/erc20.rs
  evm_arithmetization/tests/erc721.rs
  evm_arithmetization/tests/log_opcode.rs
  evm_arithmetization/tests/self_balance_gas_cost.rs
  evm_arithmetization/tests/selfdestruct.rs
  evm_arithmetization/tests/simple_transfer.rs
  evm_arithmetization/tests/withdrawals.rs
Labels: crate: evm_arithmetization

Change log test
  evm_arithmetization/tests/log_opcode.rs
Labels: crate: evm_arithmetization

Don't generate dummy segment data
  evm_arithmetization/src/prover.rs
Labels: crate: evm_arithmetization

Move verify_all_proofs to a testing module
  evm_arithmetization/src/verifier.rs
  evm_arithmetization/tests/add11_yml.rs
  evm_arithmetization/tests/basic_smart_contract.rs
  evm_arithmetization/tests/erc20.rs
  evm_arithmetization/tests/erc721.rs
  evm_arithmetization/tests/log_opcode.rs
  evm_arithmetization/tests/self_balance_gas_cost.rs
  evm_arithmetization/tests/selfdestruct.rs
  evm_arithmetization/tests/simple_transfer.rs
  evm_arithmetization/tests/withdrawals.rs
Labels: crate: evm_arithmetization

Move verify_proof back outside of testing
  evm_arithmetization/src/verifier.rs
Labels: crate: evm_arithmetization

Two to one aggregation
  evm_arithmetization/src/fixed_recursive_verifier.rs
  evm_arithmetization/src/proof.rs
  evm_arithmetization/tests/log_opcode.rs
  evm_arithmetization/tests/two_to_one_agg.rs
Labels: crate: evm_arithmetization

Comments
  evm_arithmetization/src/fixed_recursive_verifier.rs
Labels: crate: evm_arithmetization

Apply comment
  evm_arithmetization/src/cpu/kernel/asm/core/terminate.asm
  evm_arithmetization/src/cpu/kernel/asm/core/util.asm
  evm_arithmetization/src/cpu/kernel/asm/memory/syscalls.asm
Labels: crate: evm_arithmetization

Improve new macro
  evm_arithmetization/src/cpu/kernel/asm/core/terminate.asm
  evm_arithmetization/src/cpu/kernel/asm/core/util.asm
  evm_arithmetization/src/cpu/kernel/asm/memory/syscalls.asm
Labels: crate: evm_arithmetization

Introduce verify_all_proofs and update integration tests (#192)
  evm_arithmetization/src/verifier.rs
  evm_arithmetization/tests/add11_yml.rs
  evm_arithmetization/tests/basic_smart_contract.rs
  evm_arithmetization/tests/erc20.rs
  evm_arithmetization/tests/erc721.rs
  evm_arithmetization/tests/log_opcode.rs
  evm_arithmetization/tests/self_balance_gas_cost.rs
  evm_arithmetization/tests/selfdestruct.rs
  evm_arithmetization/tests/simple_transfer.rs
  evm_arithmetization/tests/withdrawals.rs
Labels: crate: evm_arithmetization

New context pruning logic (#170)
  evm_arithmetization/src/all_stark.rs
  evm_arithmetization/src/cpu/contextops.rs
  evm_arithmetization/src/cpu/cpu_stark.rs
  evm_arithmetization/src/cpu/kernel/asm/core/terminate.asm
  evm_arithmetization/src/cpu/kernel/asm/core/util.asm
  evm_arithmetization/src/cpu/kernel/asm/main.asm
  evm_arithmetization/src/cpu/kernel/asm/memory/syscalls.asm
  evm_arithmetization/src/memory/columns.rs
  evm_arithmetization/src/memory/memory_stark.rs
  evm_arithmetization/src/memory_continuation/memory_continuation_stark.rs
  evm_arithmetization/src/verifier.rs
  evm_arithmetization/src/witness/operation.rs
  evm_arithmetization/tests/empty_txn_list.rs
  evm_arithmetization/tests/log_opcode.rs
Labels: crate: evm_arithmetization

Fix dummy proof setting
  evm_arithmetization/src/fixed_recursive_verifier.rs
  evm_arithmetization/src/proof.rs
Labels: crate: evm_arithmetization

Make dummy proof out of dummy circuit
  evm_arithmetization/src/fixed_recursive_verifier.rs
  evm_arithmetization/tests/log_opcode.rs
Labels: crate: evm_arithmetization

Silence jumpdest analysis
  evm_arithmetization/src/cpu/kernel/interpreter.rs
  evm_arithmetization/src/generation/prover_input.rs
  evm_arithmetization/src/generation/state.rs
  evm_arithmetization/src/witness/operation.rs
  evm_arithmetization/src/witness/transition.rs
Labels: crate: evm_arithmetization

Fix clippy
  evm_arithmetization/src/generation/mod.rs
Labels: crate: evm_arithmetization

Merge with develop (#195)
  CHANGELOG.md
  evm_arithmetization/src/cpu/kernel/interpreter.rs
  evm_arithmetization/src/cpu/kernel/tests/blake2_f.rs
  evm_arithmetization/src/cpu/kernel/tests/bls381.rs
  evm_arithmetization/src/cpu/kernel/tests/bn254.rs
  evm_arithmetization/src/cpu/kernel/tests/core/access_lists.rs
  evm_arithmetization/src/cpu/kernel/tests/ecc/curve_ops.rs
  evm_arithmetization/src/cpu/kernel/tests/ecc/ecrecover.rs
  evm_arithmetization/src/cpu/kernel/tests/exp.rs
  evm_arithmetization/src/cpu/kernel/tests/hash.rs
  evm_arithmetization/src/cpu/kernel/tests/mod.rs
  evm_arithmetization/src/cpu/kernel/tests/mpt/delete.rs
  evm_arithmetization/src/cpu/kernel/tests/receipt.rs
  evm_arithmetization/src/generation/prover_input.rs
  evm_arithmetization/src/generation/state.rs
  evm_arithmetization/src/prover.rs
  evm_arithmetization/src/witness/memory.rs
  evm_arithmetization/src/witness/transition.rs
  trace_decoder/Cargo.toml
  trace_decoder/src/decoding.rs
  trace_decoder/src/processed_block_trace.rs
Labels: crate: evm_arithmetization, crate: trace_decoder

Try to generate dummy proof
  evm_arithmetization/src/fixed_recursive_verifier.rs
Labels: crate: evm_arithmetization

Add import
  evm_arithmetization/src/fixed_recursive_verifier.rs
Labels: crate: evm_arithmetization

Fix Clippy
  evm_arithmetization/src/generation/mod.rs
Labels: crate: evm_arithmetization

Add pis to dummy proof
  evm_arithmetization/src/fixed_recursive_verifier.rs
Labels: crate: evm_arithmetization

Update method name
  evm_arithmetization/src/fixed_recursive_verifier.rs
Labels: crate: evm_arithmetization

First rough plan on trait structure
  trace_decoder/src/decoding_traits.rs
  trace_decoder/src/lib.rs
Labels: crate: trace_decoder

Removed the default feature of "mpt"
  trace_decoder/Cargo.toml
  trace_decoder/src/lib.rs
Labels: crate: trace_decoder

Renamed `processed_block_trace.rs` --> `processed_block_trace_mpt.rs`
  trace_decoder/src/decoding.rs
  trace_decoder/src/lib.rs
  trace_decoder/src/processed_block_trace_mpt.rs
Labels: crate: trace_decoder

Now conditionally uses evm types at compile time
  trace_decoder/Cargo.toml
  trace_decoder/src/aliased_crate_types.rs
  trace_decoder/src/compact/compact_to_partial_trie.rs
  trace_decoder/src/compact/complex_test_payloads.rs
  trace_decoder/src/decoding.rs
  trace_decoder/src/decoding_traits.rs
  trace_decoder/src/lib.rs
  trace_decoder/src/processed_block_trace.rs
  trace_decoder/src/types.rs
Labels: crate: trace_decoder

SQUASH!!
  mpt_trie/src/trie_ops.rs
  trace_decoder/src/aliased_crate_types.rs
  trace_decoder/src/compact/compact_prestate_processing.rs
  trace_decoder/src/compact/complex_test_payloads.rs
  trace_decoder/src/decoding.rs
  trace_decoder/src/decoding_mpt.rs
  trace_decoder/src/decoding_smt.rs
  trace_decoder/src/decoding_traits.rs
  trace_decoder/src/lib.rs
  trace_decoder/src/processed_block_trace.rs
  trace_decoder/src/processed_block_trace_mpt.rs
  trace_decoder/src/processed_block_trace_smt.rs
  trace_decoder/src/protocol_processing.rs
  trace_decoder/src/trace_protocol.rs
Labels: crate: mpt_trie, crate: trace_decoder

Removed feature gating for MPT/SMT
  trace_decoder/Cargo.toml
  trace_decoder/src/aliased_crate_types.rs
  trace_decoder/src/compact/compact_to_partial_trie.rs
  trace_decoder/src/compact/complex_test_payloads.rs
  trace_decoder/src/decoding.rs
  trace_decoder/src/decoding_mpt.rs
  trace_decoder/src/decoding_traits.rs
  trace_decoder/src/lib.rs
  trace_decoder/src/processed_block_trace_mpt.rs
  trace_decoder/src/processed_block_trace_smt.rs
  trace_decoder/src/types.rs
Labels: crate: trace_decoder

A bit more cleanup
  trace_decoder/Cargo.toml
  trace_decoder/src/aliased_crate_types.rs
  trace_decoder/src/decoding.rs
  trace_decoder/src/decoding_mpt.rs
  trace_decoder/src/decoding_smt.rs
  trace_decoder/src/decoding_traits.rs
  trace_decoder/src/lib.rs
  trace_decoder/src/processed_block_trace.rs
  trace_decoder/src/processed_block_trace_mpt.rs
  trace_decoder/src/processed_block_trace_smt.rs
  trace_decoder/src/protocol_processing.rs
Labels: crate: trace_decoder

A bit more cleanup
  trace_decoder/Cargo.toml
  trace_decoder/src/aliased_crate_types.rs
  trace_decoder/src/decoding.rs
  trace_decoder/src/decoding_mpt.rs
  trace_decoder/src/decoding_smt.rs
  trace_decoder/src/decoding_traits.rs
  trace_decoder/src/lib.rs
  trace_decoder/src/processed_block_trace.rs
  trace_decoder/src/processed_block_trace_mpt.rs
  trace_decoder/src/processed_block_trace_smt.rs
  trace_decoder/src/protocol_processing.rs
Labels: crate: trace_decoder

charge call value gas prior to call
  evm_arithmetization/src/cpu/kernel/asm/core/call_gas.asm
Labels: crate: evm_arithmetization

Apply comments
  evm_arithmetization/src/cpu/kernel/interpreter.rs
  evm_arithmetization/src/generation/state.rs
Labels: crate: evm_arithmetization

Silence jumpdest analysis logs (#193)
  evm_arithmetization/src/cpu/kernel/interpreter.rs
  evm_arithmetization/src/generation/prover_input.rs
  evm_arithmetization/src/generation/state.rs
  evm_arithmetization/src/witness/operation.rs
  evm_arithmetization/src/witness/transition.rs
Labels: crate: evm_arithmetization

Fix PV connection
  evm_arithmetization/src/fixed_recursive_verifier.rs
Labels: crate: evm_arithmetization

charge call value gas prior to call (#199)
  evm_arithmetization/src/cpu/kernel/asm/core/call_gas.asm
Labels: crate: evm_arithmetization

Fix wire set twice
  evm_arithmetization/src/fixed_recursive_verifier.rs
Labels: crate: evm_arithmetization

Update ranges
  evm_arithmetization/tests/empty_txn_list.rs
  evm_arithmetization/tests/log_opcode.rs
Labels: crate: evm_arithmetization

.github/labeler.yml:

# Add 'crate: mpt_trie' label to any changes within 'mpt_trie' folder.
'crate: mpt_trie':
- changed-files:
  - any-glob-to-any-file: mpt_trie/**

# Add 'crate: evm_arithmetization' label to any changes within 'evm_arithmetization' folder.
'crate: evm_arithmetization':
- changed-files:
  - any-glob-to-any-file: evm_arithmetization/**

# Add 'crate: trace_decoder' label to any changes within 'trace_decoder' folder.
'crate: trace_decoder':
- changed-files:
  - any-glob-to-any-file: trace_decoder/**

# Add 'crate: proof_gen' label to any changes within 'proof_gen' folder.
'crate: proof_gen':
- changed-files:
  - any-glob-to-any-file: proof_gen/**

# Add 'specs' label to any changes within 'docs' folder.
'specs':
- changed-files:
  - any-glob-to-any-file: docs/**
