Repository 0xPolygonZero/zk_evm, changes with the labels that .github/labeler.yml gives for each.
All labels: crate: mpt_trie, crate: evm_arithmetization, crate: trace_decoder, crate: zero_bin, specs, crate: common, ci

.
  evm_arithmetization/src/generation/prover_input.rs
Labels: crate: evm_arithmetization

.
  evm_arithmetization/src/cpu/kernel/interpreter.rs
  evm_arithmetization/src/generation/jumpdest.rs
  evm_arithmetization/src/generation/prover_input.rs
  scripts/test_new_chain.sh
Labels: crate: evm_arithmetization

.
  scripts/test_new_chain.sh
Labels: none

.
  evm_arithmetization/src/cpu/kernel/interpreter.rs
Labels: crate: evm_arithmetization

.
  scripts/prove_stdio.sh
  scripts/test_new_chain.sh
Labels: none

.
  evm_arithmetization/src/cpu/kernel/interpreter.rs
Labels: crate: evm_arithmetization

.
  evm_arithmetization/src/generation/prover_input.rs
Labels: crate: evm_arithmetization

chore: remove conditional ci execution (#754)
  .github/workflows/ci.yml
  .github/workflows/jerigon-native.yml
  .github/workflows/jerigon-zero.yml
  .github/workflows/pr_checking.yml
Labels: ci

.github/labeler.yml:

---  # Github labeler configuration file

# Add 'crate: mpt_trie' label to any changes within 'mpt_trie' folder.
'crate: mpt_trie':
  - changed-files:
      - any-glob-to-any-file: mpt_trie/**

# Add 'crate: evm_arithmetization' label to any changes within 'evm_arithmetization' folder.
'crate: evm_arithmetization':
  - changed-files:
      - any-glob-to-any-file: evm_arithmetization/**

# Add 'crate: trace_decoder' label to any changes within 'trace_decoder' folder.
'crate: trace_decoder':
  - changed-files:
      - any-glob-to-any-file: trace_decoder/**

# Add 'crate: zero_bin' label to any changes within 'zero' folder.
'crate: zero_bin':
  - changed-files:
      - any-glob-to-any-file: zero/**

# Add 'specs' label to any changes within 'docs' or `book` folder.
'specs':
  - changed-files:
      - any-glob-to-any-file: ['docs/**', 'book/**']

# Add 'crate: common' label to any changes within 'common' folder.
'crate: common':
  - changed-files:
      - any-glob-to-any-file: common/**

# Add 'ci' label to any changes within '.github' folder.
'ci':
  - changed-files:
      - any-glob-to-any-file: .github/**
