Repository 0xPolygonZero/zk_evm, changes with the labels that .github/labeler.yml gives for each.
All labels: crate: mpt_trie, crate: evm_arithmetization, crate: trace_decoder, crate: proof_gen, specs

continuations: initial cleanup pass (#181)
  evm_arithmetization/src/all_stark.rs
  evm_arithmetization/src/cpu/kernel/interpreter.rs
  evm_arithmetization/src/cpu/kernel/tests/add11.rs
  evm_arithmetization/src/fixed_recursive_verifier.rs
  evm_arithmetization/src/generation/mod.rs
  evm_arithmetization/src/generation/mpt.rs
  evm_arithmetization/src/generation/state.rs
  evm_arithmetization/src/keccak_sponge/keccak_sponge_stark.rs
  evm_arithmetization/src/memory/memory_stark.rs
  evm_arithmetization/src/memory_continuation/memory_continuation_stark.rs
  evm_arithmetization/src/proof.rs
  evm_arithmetization/src/prover.rs
  evm_arithmetization/src/recursive_verifier.rs
  evm_arithmetization/src/witness/operation.rs
  evm_arithmetization/src/witness/state.rs
  evm_arithmetization/src/witness/traces.rs
  evm_arithmetization/src/witness/transition.rs
  evm_arithmetization/src/witness/util.rs
Labels: crate: evm_arithmetization

Prepare for removal of obsolete `ceil_div_usize` in `plonky2_util`
  Cargo.toml
  evm_arithmetization/src/cpu/kernel/tests/bignum/mod.rs
  evm_arithmetization/src/cpu/kernel/utils.rs
  evm_arithmetization/src/keccak_sponge/keccak_sponge_stark.rs
  evm_arithmetization/src/logic.rs
Labels: crate: evm_arithmetization

test: add nibbles_into_h256_works unit test
  mpt_trie/src/nibbles.rs
Labels: crate: mpt_trie

Generate all segments before proving. (#135)
  evm_arithmetization/src/cpu/kernel/interpreter.rs
  evm_arithmetization/src/fixed_recursive_verifier.rs
  evm_arithmetization/src/generation/mod.rs
  evm_arithmetization/src/generation/state.rs
  evm_arithmetization/src/proof.rs
  evm_arithmetization/src/prover.rs
  evm_arithmetization/tests/add11_yml.rs
  evm_arithmetization/tests/basic_smart_contract.rs
  evm_arithmetization/tests/erc20.rs
  evm_arithmetization/tests/erc721.rs
  evm_arithmetization/tests/log_opcode.rs
  evm_arithmetization/tests/self_balance_gas_cost.rs
  evm_arithmetization/tests/selfdestruct.rs
  evm_arithmetization/tests/simple_transfer.rs
  evm_arithmetization/tests/withdrawals.rs
  proof_gen/src/proof_gen.rs
Labels: crate: evm_arithmetization, crate: proof_gen

Remove dead code
  evm_arithmetization/src/fixed_recursive_verifier.rs
Labels: crate: evm_arithmetization

Address comment
  evm_arithmetization/src/verifier.rs
Labels: crate: evm_arithmetization

Cargo audit updates (#66)
  zero_bin/Cargo.lock
  zero_bin/Cargo.toml
  zero_bin/common/src/prover_state/mod.rs
  zero_bin/ops/src/lib.rs
Labels: none

Implement RAII span for transaction timing to avoid cloning input (#67)
  zero_bin/ops/src/lib.rs
Labels: none

Address comments
  evm_arithmetization/src/verifier.rs
Labels: crate: evm_arithmetization

Put kernel code in first MemBefore (#178)
  evm_arithmetization/src/cpu/kernel/asm/main.asm
  evm_arithmetization/src/fixed_recursive_verifier.rs
  evm_arithmetization/src/generation/mod.rs
  evm_arithmetization/src/verifier.rs
Labels: crate: evm_arithmetization

Add dummy segments to the left.
  evm_arithmetization/src/cpu/kernel/interpreter.rs
  evm_arithmetization/src/fixed_recursive_verifier.rs
  evm_arithmetization/src/generation/mod.rs
  evm_arithmetization/src/generation/state.rs
  evm_arithmetization/src/memory/memory_stark.rs
  evm_arithmetization/src/prover.rs
  evm_arithmetization/tests/add11_yml.rs
  evm_arithmetization/tests/basic_smart_contract.rs
  evm_arithmetization/tests/empty_txn_list.rs
  evm_arithmetization/tests/erc20.rs
  evm_arithmetization/tests/erc721.rs
  evm_arithmetization/tests/log_opcode.rs
  evm_arithmetization/tests/self_balance_gas_cost.rs
  evm_arithmetization/tests/selfdestruct.rs
  evm_arithmetization/tests/simple_transfer.rs
  evm_arithmetization/tests/withdrawals.rs
  proof_gen/src/proof_gen.rs
Labels: crate: evm_arithmetization, crate: proof_gen

Improve comments
  evm_arithmetization/src/fixed_recursive_verifier.rs
  proof_gen/src/proof_gen.rs
  proof_gen/src/proof_types.rs
Labels: crate: evm_arithmetization, crate: proof_gen

Remove comment and make add11_segments_aggreg use a dummy segment
  evm_arithmetization/src/memory/memory_stark.rs
  evm_arithmetization/tests/add11_yml.rs
Labels: crate: evm_arithmetization

Change dummy insertion.
  evm_arithmetization/src/prover.rs
Labels: crate: evm_arithmetization

Reduce cloning
  evm_arithmetization/src/fixed_recursive_verifier.rs
  evm_arithmetization/src/generation/mod.rs
  evm_arithmetization/src/prover.rs
  evm_arithmetization/tests/add11_yml.rs
  evm_arithmetization/tests/basic_smart_contract.rs
  evm_arithmetization/tests/erc20.rs
  evm_arithmetization/tests/erc721.rs
  evm_arithmetization/tests/log_opcode.rs
  evm_arithmetization/tests/self_balance_gas_cost.rs
  evm_arithmetization/tests/selfdestruct.rs
  evm_arithmetization/tests/simple_transfer.rs
  evm_arithmetization/tests/withdrawals.rs
Labels: crate: evm_arithmetization

Reduce cloning (#186)
  evm_arithmetization/src/fixed_recursive_verifier.rs
  evm_arithmetization/src/generation/mod.rs
  evm_arithmetization/src/prover.rs
  evm_arithmetization/tests/add11_yml.rs
  evm_arithmetization/tests/basic_smart_contract.rs
  evm_arithmetization/tests/erc20.rs
  evm_arithmetization/tests/erc721.rs
  evm_arithmetization/tests/log_opcode.rs
  evm_arithmetization/tests/self_balance_gas_cost.rs
  evm_arithmetization/tests/selfdestruct.rs
  evm_arithmetization/tests/simple_transfer.rs
  evm_arithmetization/tests/withdrawals.rs
Labels: crate: evm_arithmetization

Apply comments
  evm_arithmetization/src/fixed_recursive_verifier.rs
  evm_arithmetization/src/prover.rs
  evm_arithmetization/tests/add11_yml.rs
Labels: crate: evm_arithmetization

Add a couple of fixes to Cancun implem
  evm_arithmetization/src/cpu/kernel/asm/beacon_roots.asm
  evm_arithmetization/src/cpu/kernel/asm/global_exit_root.asm
  evm_arithmetization/src/cpu/kernel/asm/main.asm
  evm_arithmetization/src/cpu/kernel/asm/mpt/accounts.asm
  evm_arithmetization/src/cpu/kernel/asm/mpt/read.asm
  evm_arithmetization/src/cpu/kernel/constants/mod.rs
  evm_arithmetization/src/cpu/kernel/interpreter.rs
  evm_arithmetization/src/generation/mpt.rs
Labels: crate: evm_arithmetization

Unify types
  evm_arithmetization/src/fixed_recursive_verifier.rs
Labels: crate: evm_arithmetization

Reduce arguments
  evm_arithmetization/src/fixed_recursive_verifier.rs
Labels: crate: evm_arithmetization

Reorder args for consistency
  evm_arithmetization/src/fixed_recursive_verifier.rs
Labels: crate: evm_arithmetization

Update evm_arithmetization/src/cpu/kernel/asm/mpt/read.asm
  evm_arithmetization/src/cpu/kernel/asm/mpt/read.asm
Labels: crate: evm_arithmetization

Unify `AggregationChildTarget` structs and reduce nb of args in method (#188)
  evm_arithmetization/src/fixed_recursive_verifier.rs
Labels: crate: evm_arithmetization

Cleanup
  evm_arithmetization/tests/add11_yml.rs
  evm_arithmetization/tests/log_opcode.rs
Labels: crate: evm_arithmetization

Some fixes to Cancun (#187)
  evm_arithmetization/src/cpu/kernel/asm/beacon_roots.asm
  evm_arithmetization/src/cpu/kernel/asm/global_exit_root.asm
  evm_arithmetization/src/cpu/kernel/asm/main.asm
  evm_arithmetization/src/cpu/kernel/asm/mpt/accounts.asm
  evm_arithmetization/src/cpu/kernel/asm/mpt/read.asm
  evm_arithmetization/src/cpu/kernel/constants/mod.rs
  evm_arithmetization/src/cpu/kernel/interpreter.rs
  evm_arithmetization/src/generation/mpt.rs
Labels: crate: evm_arithmetization

Adapt the circuitry to zero-bin (#184)
  Cargo.toml
  evm_arithmetization/Cargo.toml
  evm_arithmetization/src/cpu/kernel/interpreter.rs
  evm_arithmetization/src/fixed_recursive_verifier.rs
  evm_arithmetization/src/generation/mpt.rs
  evm_arithmetization/src/memory/segments.rs
  evm_arithmetization/src/prover.rs
  evm_arithmetization/src/witness/memory.rs
  evm_arithmetization/tests/add11_yml.rs
  evm_arithmetization/tests/empty_txn_list.rs
  evm_arithmetization/tests/log_opcode.rs
  proof_gen/src/proof_gen.rs
  proof_gen/src/proof_types.rs
  trace_decoder/src/types.rs
Labels: crate: evm_arithmetization, crate: trace_decoder, crate: proof_gen

feat: provide IR for debugging upon failure (#48)
  zero_bin/Cargo.lock
  zero_bin/README.md
  zero_bin/common/Cargo.toml
  zero_bin/common/src/debug_utils.rs
  zero_bin/common/src/lib.rs
  zero_bin/leader/src/cli.rs
  zero_bin/leader/src/http.rs
  zero_bin/leader/src/jerigon.rs
  zero_bin/leader/src/main.rs
  zero_bin/leader/src/stdio.rs
  zero_bin/ops/src/lib.rs
  zero_bin/prover/src/lib.rs
Labels: none

fix: fix circuit version consistency check (#58)
  zero_bin/Cargo.lock
  zero_bin/common/src/prover_state/mod.rs
  zero_bin/common/src/prover_state/persistence.rs
  zero_bin/common/src/prover_state/utils.rs
  zero_bin/leader/Cargo.toml
  zero_bin/leader/src/main.rs
  zero_bin/leader/src/utils.rs
Labels: none

Reduce sizes and add distinction with test_only mode (#69)
  zero_bin/tools/simple_test.sh
Labels: none

Cleanup perform_op
  evm_arithmetization/src/witness/transition.rs
Labels: crate: evm_arithmetization

Move interpreter test methods to test module
  evm_arithmetization/src/cpu/kernel/interpreter.rs
  evm_arithmetization/src/cpu/kernel/tests/mod.rs
Labels: crate: evm_arithmetization

Some more cleanup and removal
  evm_arithmetization/src/cpu/kernel/interpreter.rs
  evm_arithmetization/src/cpu/kernel/tests/mod.rs
  evm_arithmetization/src/generation/state.rs
  evm_arithmetization/src/witness/memory.rs
Labels: crate: evm_arithmetization

more cleanup
  evm_arithmetization/src/cpu/kernel/tests/blake2_f.rs
  evm_arithmetization/src/cpu/kernel/tests/bls381.rs
  evm_arithmetization/src/cpu/kernel/tests/bn254.rs
  evm_arithmetization/src/cpu/kernel/tests/ecc/curve_ops.rs
  evm_arithmetization/src/cpu/kernel/tests/ecc/ecrecover.rs
  evm_arithmetization/src/cpu/kernel/tests/exp.rs
  evm_arithmetization/src/cpu/kernel/tests/hash.rs
  evm_arithmetization/src/cpu/kernel/tests/receipt.rs
  evm_arithmetization/src/generation/mpt.rs
  evm_arithmetization/src/generation/prover_input.rs
  evm_arithmetization/src/generation/state.rs
  evm_arithmetization/src/keccak_sponge/keccak_sponge_stark.rs
Labels: crate: evm_arithmetization

More cleanup misc and doc
  evm_arithmetization/src/cpu/kernel/interpreter.rs
  evm_arithmetization/src/cpu/kernel/tests/core/access_lists.rs
  evm_arithmetization/src/cpu/kernel/tests/ecc/curve_ops.rs
  evm_arithmetization/src/cpu/kernel/tests/mod.rs
  evm_arithmetization/src/cpu/kernel/tests/mpt/delete.rs
  evm_arithmetization/src/generation/mod.rs
  evm_arithmetization/src/prover.rs
  evm_arithmetization/src/witness/transition.rs
Labels: crate: evm_arithmetization

Remove outdated arg
  evm_arithmetization/src/cpu/kernel/interpreter.rs
  evm_arithmetization/src/generation/state.rs
  evm_arithmetization/src/witness/transition.rs
Labels: crate: evm_arithmetization

Implement single-segment aggregations
  Cargo.toml
  evm_arithmetization/src/fixed_recursive_verifier.rs
  evm_arithmetization/src/proof.rs
  evm_arithmetization/tests/empty_txn_list.rs
  evm_arithmetization/tests/log_opcode.rs
  proof_gen/src/proof_gen.rs
Labels: crate: evm_arithmetization, crate: proof_gen

fix: fix pr comments
  trace_decoder/src/compact/compact_prestate_processing.rs
  trace_decoder/src/decoding.rs
Labels: crate: trace_decoder

Apply comments
  evm_arithmetization/src/cpu/kernel/interpreter.rs
  evm_arithmetization/src/cpu/kernel/tests/init_exc_stop.rs
  evm_arithmetization/src/cpu/kernel/tests/mod.rs
  evm_arithmetization/src/fixed_recursive_verifier.rs
  evm_arithmetization/src/generation/mod.rs
  evm_arithmetization/src/generation/state.rs
  evm_arithmetization/src/memory/memory_stark.rs
  evm_arithmetization/src/prover.rs
  evm_arithmetization/tests/add11_yml.rs
  evm_arithmetization/tests/basic_smart_contract.rs
  evm_arithmetization/tests/empty_txn_list.rs
  evm_arithmetization/tests/erc20.rs
  evm_arithmetization/tests/erc721.rs
  evm_arithmetization/tests/log_opcode.rs
  evm_arithmetization/tests/self_balance_gas_cost.rs
  evm_arithmetization/tests/selfdestruct.rs
  evm_arithmetization/tests/simple_transfer.rs
  evm_arithmetization/tests/withdrawals.rs
  proof_gen/src/proof_gen.rs
Labels: crate: evm_arithmetization, crate: proof_gen

Fix Clippy
  evm_arithmetization/src/prover.rs
Labels: crate: evm_arithmetization

Add dummy segment to the left (#185)
  evm_arithmetization/src/cpu/kernel/interpreter.rs
  evm_arithmetization/src/cpu/kernel/tests/init_exc_stop.rs
  evm_arithmetization/src/cpu/kernel/tests/mod.rs
  evm_arithmetization/src/generation/mod.rs
  evm_arithmetization/src/generation/state.rs
  evm_arithmetization/src/memory/memory_stark.rs
  evm_arithmetization/src/prover.rs
  evm_arithmetization/src/verifier.rs
Labels: crate: evm_arithmetization

.github/labeler.yml:

# Add 'crate: mpt_trie' label to any changes within 'mpt_trie' folder.
'crate: mpt_trie':
- changed-files:
  - any-glob-to-any-file: mpt_trie/**

# Add 'crate: evm_arithmetization' label to any changes within 'evm_arithmetization' folder.
'crate: evm_arithmetization':
- changed-files:
  - any-glob-to-any-file: evm_arithmetization/**

# Add 'crate: trace_decoder' label to any changes within 'trace_decoder' folder.
'crate: trace_decoder':
- changed-files:
  - any-glob-to-any-file: trace_decoder/**

# Add 'crate: proof_gen' label to any changes within 'proof_gen' folder.
'crate: proof_gen':
- changed-files:
  - any-glob-to-any-file: proof_gen/**

# Add 'specs' label to any changes within 'docs' folder.
'specs':
- changed-files:
  - any-glob-to-any-file: docs/**
