Repository 0xPolygonZero/zk_evm, changes with the labels that .github/labeler.yml gives for each.
All labels: crate: mpt_trie, crate: evm_arithmetization, crate: trace_decoder, crate: proof_gen, specs

.github/labeler.yml:

# Add 'crate: mpt_trie' label to any changes within 'mpt_trie' folder.
'crate: mpt_trie':
- changed-files:
  - any-glob-to-any-file: mpt_trie/**

# Add 'crate: evm_arithmetization' label to any changes within 'evm_arithmetization' folder.
'crate: evm_arithmetization':
- changed-files:
  - any-glob-to-any-file: evm_arithmetization/**

# Add 'crate: trace_decoder' label to any changes within 'trace_decoder' folder.
'crate: trace_decoder':
- changed-files:
  - any-glob-to-any-file: trace_decoder/**

# Add 'crate: proof_gen' label to any changes within 'proof_gen' folder.
'crate: proof_gen':
- changed-files:
  - any-glob-to-any-file: proof_gen/**

# Add 'specs' label to any changes within 'docs' folder.
'specs':
- changed-files:
  - any-glob-to-any-file: docs/**

Missing changes
  evm_arithmetization/src/cpu/kernel/interpreter.rs
  evm_arithmetization/src/generation/mod.rs
  evm_arithmetization/src/poseidon/poseidon_stark.rs
  evm_arithmetization/src/witness/operation.rs
  evm_arithmetization/src/witness/transition.rs
Labels: crate: evm_arithmetization

Remove interpreter specific methods from State trait
  evm_arithmetization/src/cpu/kernel/interpreter.rs
  evm_arithmetization/src/generation/state.rs
Labels: crate: evm_arithmetization

fixed few warning related to unused imports
  trace_decoder/src/compact/compact_prestate_processing.rs
  trace_decoder/src/compact/compact_to_partial_trie.rs
  trace_decoder/src/decoding.rs
  trace_decoder/src/lib.rs
  trace_decoder/src/processed_block_trace.rs
  trace_decoder/src/types.rs
Labels: crate: trace_decoder

Skip trie loading when being passed default inputs
  evm_arithmetization/src/generation/mpt.rs
  evm_arithmetization/src/generation/state.rs
Labels: crate: evm_arithmetization

Skip trie loading when being passed default inputs (#141)
  evm_arithmetization/src/generation/mpt.rs
  evm_arithmetization/src/generation/state.rs
Labels: crate: evm_arithmetization

Remove ignore and rlp alloc
  evm_arithmetization/src/cpu/kernel/asm/transactions/type_0.asm
  evm_arithmetization/src/cpu/kernel/tests/transaction_parsing/parse_type_0_txn.rs
Labels: crate: evm_arithmetization

Fix SELFDESTRUCT in the type2 using EIP-6780 (#130)
  evm_arithmetization/src/cpu/kernel/asm/core/create_contract_account.asm
  evm_arithmetization/src/cpu/kernel/asm/core/selfdestruct_list.asm
  evm_arithmetization/src/cpu/kernel/asm/core/terminate.asm
  evm_arithmetization/src/cpu/kernel/asm/core/transfer.asm
  evm_arithmetization/src/cpu/kernel/asm/journal/account_created.asm
  evm_arithmetization/src/cpu/kernel/asm/mpt/storage/storage_write.asm
  evm_arithmetization/src/cpu/kernel/asm/smt/delete.asm
  evm_arithmetization/src/cpu/kernel/asm/transactions/type_0.asm
  evm_arithmetization/src/cpu/kernel/constants/global_metadata.rs
  evm_arithmetization/src/memory/segments.rs
  evm_arithmetization/tests/selfdestruct.rs
Labels: crate: evm_arithmetization

Add rlp alloc in type0
  evm_arithmetization/src/cpu/kernel/asm/transactions/type_0.asm
Labels: crate: evm_arithmetization

Comments
  evm_arithmetization/src/curve_pairings.rs
  evm_arithmetization/src/generation/prover_input.rs
Labels: crate: evm_arithmetization

Add rlp alloc in type0 (#142)
  evm_arithmetization/src/cpu/kernel/asm/transactions/type_0.asm
Labels: crate: evm_arithmetization

Apply more suggestions
  evm_arithmetization/src/fixed_recursive_verifier.rs
  evm_arithmetization/src/generation/mod.rs
  evm_arithmetization/src/proof.rs
  evm_arithmetization/src/prover.rs
  evm_arithmetization/tests/add11_yml.rs
  evm_arithmetization/tests/basic_smart_contract.rs
  evm_arithmetization/tests/erc20.rs
  evm_arithmetization/tests/erc721.rs
  evm_arithmetization/tests/log_opcode.rs
  evm_arithmetization/tests/self_balance_gas_cost.rs
  evm_arithmetization/tests/selfdestruct.rs
  evm_arithmetization/tests/simple_transfer.rs
  evm_arithmetization/tests/withdrawals.rs
  proof_gen/src/proof_gen.rs
Labels: crate: evm_arithmetization, crate: proof_gen

EIP-4844 part 2: Point evaluation precompile (#133)
  evm_arithmetization/src/cpu/kernel/aggregator.rs
  evm_arithmetization/src/cpu/kernel/asm/core/precompiles/blake2_f.asm
  evm_arithmetization/src/cpu/kernel/asm/core/precompiles/bn_add.asm
  evm_arithmetization/src/cpu/kernel/asm/core/precompiles/bn_mul.asm
  evm_arithmetization/src/cpu/kernel/asm/core/precompiles/ecrec.asm
  evm_arithmetization/src/cpu/kernel/asm/core/precompiles/expmod.asm
  evm_arithmetization/src/cpu/kernel/asm/core/precompiles/id.asm
  evm_arithmetization/src/cpu/kernel/asm/core/precompiles/kzg_peval.asm
  evm_arithmetization/src/cpu/kernel/asm/core/precompiles/main.asm
  evm_arithmetization/src/cpu/kernel/asm/core/precompiles/rip160.asm
  evm_arithmetization/src/cpu/kernel/asm/core/precompiles/sha256.asm
  evm_arithmetization/src/cpu/kernel/asm/core/precompiles/snarkv.asm
  evm_arithmetization/src/cpu/kernel/asm/core/process_txn.asm
  evm_arithmetization/src/cpu/kernel/asm/core/util.asm
  evm_arithmetization/src/cpu/kernel/constants/mod.rs
  evm_arithmetization/src/cpu/kernel/interpreter.rs
  evm_arithmetization/src/cpu/kernel/tests/bls381.rs
  evm_arithmetization/src/cpu/kernel/tests/bn254.rs
  evm_arithmetization/src/curve_pairings.rs
  evm_arithmetization/src/extension_tower.rs
  evm_arithmetization/src/generation/prover_input.rs
  evm_arithmetization/src/witness/errors.rs
Labels: crate: evm_arithmetization

Changelog
  CHANGELOG.md
Labels: none

Fix data overwrite in RLP segment
  evm_arithmetization/src/cpu/kernel/asm/main.asm
  evm_arithmetization/src/cpu/kernel/asm/transactions/type_0.asm
  evm_arithmetization/src/cpu/kernel/asm/transactions/type_1.asm
  evm_arithmetization/src/cpu/kernel/asm/transactions/type_2.asm
Labels: crate: evm_arithmetization

Fix data overwrite in RLP segment (#145)
  evm_arithmetization/src/cpu/kernel/asm/main.asm
  evm_arithmetization/src/cpu/kernel/asm/transactions/type_0.asm
  evm_arithmetization/src/cpu/kernel/asm/transactions/type_1.asm
  evm_arithmetization/src/cpu/kernel/asm/transactions/type_2.asm
Labels: crate: evm_arithmetization

Add trait StateLog
  evm_arithmetization/src/cpu/kernel/interpreter.rs
  evm_arithmetization/src/generation/prover_input.rs
  evm_arithmetization/src/generation/state.rs
  evm_arithmetization/src/witness/operation.rs
  evm_arithmetization/src/witness/transition.rs
Labels: crate: evm_arithmetization

Change plonky2 version in smt_trie/Cargo.toml
  Cargo.toml
  evm_arithmetization/src/poseidon/poseidon_stark.rs
  smt_trie/Cargo.toml
Labels: crate: evm_arithmetization

feat: extend trace decoder err info
  trace_decoder/src/decoding.rs
Labels: crate: trace_decoder

fix: fix clippy issue
  trace_decoder/src/decoding.rs
Labels: crate: trace_decoder

Reduce verbosity in logs
  zero_bin/leader/src/init.rs
  zero_bin/rpc/src/init.rs
  zero_bin/verifier/src/init.rs
  zero_bin/worker/src/init.rs
Labels: none

feat: swap out the internal U512 inside nibbles (#132)
  CHANGELOG.md
  evm_arithmetization/src/cpu/kernel/tests/account_code.rs
  evm_arithmetization/src/cpu/kernel/tests/balance.rs
  evm_arithmetization/src/cpu/kernel/tests/mpt/delete.rs
  evm_arithmetization/src/cpu/kernel/tests/mpt/insert.rs
  evm_arithmetization/src/generation/mpt.rs
  evm_arithmetization/src/generation/trie_extractor.rs
  mpt_trie/Cargo.toml
  mpt_trie/src/nibbles.rs
  mpt_trie/src/testing_utils.rs
  mpt_trie/src/utils.rs
Labels: crate: mpt_trie, crate: evm_arithmetization

Missing nits
  evm_arithmetization/src/witness/operation.rs
  evm_arithmetization/src/witness/util.rs
Labels: crate: evm_arithmetization

MAX fixes for clippy
  evm_arithmetization/src/arithmetic/modular.rs
Labels: crate: evm_arithmetization

Minor
  evm_arithmetization/src/poseidon/poseidon_stark.rs
Labels: crate: evm_arithmetization

fix transmut without annotations
  evm_arithmetization/src/fixed_recursive_verifier.rs
Labels: crate: evm_arithmetization

please the fmt gods
  evm_arithmetization/src/fixed_recursive_verifier.rs
Labels: crate: evm_arithmetization

Some clippy fixes (#149)
  evm_arithmetization/src/arithmetic/modular.rs
  evm_arithmetization/src/fixed_recursive_verifier.rs
Labels: crate: evm_arithmetization

Add `POSEIDON_GENERAL` (#129)
  Cargo.toml
  evm_arithmetization/Cargo.toml
  evm_arithmetization/src/all_stark.rs
  evm_arithmetization/src/cpu/columns/ops.rs
  evm_arithmetization/src/cpu/cpu_stark.rs
  evm_arithmetization/src/cpu/decode.rs
  evm_arithmetization/src/cpu/kernel/asm/account_code.asm
  evm_arithmetization/src/cpu/kernel/interpreter.rs
  evm_arithmetization/src/cpu/kernel/opcodes.rs
  evm_arithmetization/src/cpu/stack.rs
  evm_arithmetization/src/generation/mod.rs
  evm_arithmetization/src/generation/mpt.rs
  evm_arithmetization/src/generation/state.rs
  evm_arithmetization/src/poseidon/columns.rs
  evm_arithmetization/src/poseidon/poseidon_stark.rs
  evm_arithmetization/src/verifier.rs
  evm_arithmetization/src/witness/gas.rs
  evm_arithmetization/src/witness/operation.rs
  evm_arithmetization/src/witness/traces.rs
  evm_arithmetization/src/witness/transition.rs
  evm_arithmetization/src/witness/util.rs
  smt_trie/Cargo.toml
  smt_trie/src/code.rs
  trace_decoder/Cargo.toml
Labels: crate: evm_arithmetization, crate: trace_decoder

Add `POSEIDON_GENERAL` (#129)
  smt_trie/Cargo.toml
  smt_trie/src/code.rs
Labels: none

Fix add11 tests
  evm_arithmetization/src/cpu/kernel/tests/add11.rs
Labels: crate: evm_arithmetization

Fix log_opcode tests
  evm_arithmetization/tests/log_opcode.rs
Labels: crate: evm_arithmetization

Fix balance tests
  evm_arithmetization/src/cpu/kernel/tests/account_code.rs
  evm_arithmetization/src/cpu/kernel/tests/balance.rs
Labels: crate: evm_arithmetization

Uncomment receipt tests
  evm_arithmetization/src/cpu/kernel/tests/receipt.rs
Labels: crate: evm_arithmetization

Add smt_trie to CI workflow
  .github/workflows/ci.yml
Labels: none

Reuse workspace level dependencies
  Cargo.toml
  mpt_trie/Cargo.toml
  smt_trie/Cargo.toml
Labels: crate: mpt_trie

`smt_trie` library deps cleanup (#152)
  .github/workflows/ci.yml
  Cargo.toml
  mpt_trie/Cargo.toml
  smt_trie/Cargo.toml
Labels: crate: mpt_trie

`smt_trie` library deps cleanup (#152)
  smt_trie/Cargo.toml
Labels: none

Add MemoryState serialization with BigArray, and fix proof_gen for zero-bin
  Cargo.toml
  evm_arithmetization/Cargo.toml
  evm_arithmetization/src/cpu/kernel/interpreter.rs
  evm_arithmetization/src/fixed_recursive_verifier.rs
  evm_arithmetization/src/generation/mpt.rs
  evm_arithmetization/src/memory/segments.rs
  evm_arithmetization/src/prover.rs
  evm_arithmetization/src/witness/memory.rs
  proof_gen/src/proof_gen.rs
  trace_decoder/src/types.rs
Labels: crate: evm_arithmetization, crate: trace_decoder, crate: proof_gen

feat: swap out the internal U512 inside nibbles (#132)
  CHANGELOG.md
  evm_arithmetization/src/cpu/kernel/tests/account_code.rs
  evm_arithmetization/src/cpu/kernel/tests/balance.rs
  evm_arithmetization/src/cpu/kernel/tests/mpt/delete.rs
  evm_arithmetization/src/cpu/kernel/tests/mpt/insert.rs
  evm_arithmetization/src/generation/mpt.rs
  evm_arithmetization/src/generation/trie_extractor.rs
  mpt_trie/Cargo.toml
  mpt_trie/src/nibbles.rs
  mpt_trie/src/testing_utils.rs
  mpt_trie/src/utils.rs
Labels: crate: mpt_trie, crate: evm_arithmetization

Some clippy fixes (#149)
  evm_arithmetization/src/arithmetic/modular.rs
  evm_arithmetization/src/fixed_recursive_verifier.rs
Labels: crate: evm_arithmetization
