Repository 0xPolygonZero/zk_evm, changes with the labels that .github/labeler.yml gives for each.
All labels: crate: mpt_trie, crate: evm_arithmetization, crate: trace_decoder, crate: proof_gen, specs

.github/labeler.yml:

# Add 'crate: mpt_trie' label to any changes within 'mpt_trie' folder.
'crate: mpt_trie':
- changed-files:
  - any-glob-to-any-file: mpt_trie/**

# Add 'crate: evm_arithmetization' label to any changes within 'evm_arithmetization' folder.
'crate: evm_arithmetization':
- changed-files:
  - any-glob-to-any-file: evm_arithmetization/**

# Add 'crate: trace_decoder' label to any changes within 'trace_decoder' folder.
'crate: trace_decoder':
- changed-files:
  - any-glob-to-any-file: trace_decoder/**

# Add 'crate: proof_gen' label to any changes within 'proof_gen' folder.
'crate: proof_gen':
- changed-files:
  - any-glob-to-any-file: proof_gen/**

# Add 'specs' label to any changes within 'docs' folder.
'specs':
- changed-files:
  - any-glob-to-any-file: docs/**

Reduce verbosity in logs
  trace_decoder/src/utils.rs
Labels: crate: trace_decoder

CHANGELOG
  CHANGELOG.md
Labels: none

Add entry for 158 in CHANGELOG
  CHANGELOG.md
Labels: none

Reduce verbosity in logs (#160)
  CHANGELOG.md
  trace_decoder/src/utils.rs
Labels: crate: trace_decoder

fix: add pr comment fix
  trace_decoder/src/decoding.rs
  trace_decoder/src/utils.rs
Labels: crate: trace_decoder

Bump with latest plonky2
  Cargo.toml
  evm_arithmetization/src/all_stark.rs
  evm_arithmetization/src/arithmetic/arithmetic_stark.rs
  evm_arithmetization/src/byte_packing/byte_packing_stark.rs
  evm_arithmetization/src/cpu/cpu_stark.rs
  evm_arithmetization/src/keccak/keccak_stark.rs
  evm_arithmetization/src/keccak_sponge/keccak_sponge_stark.rs
  evm_arithmetization/src/memory/memory_stark.rs
Labels: crate: evm_arithmetization

CHANGELOG
  CHANGELOG.md
Labels: none

Bump with latest starky (#161)
  CHANGELOG.md
  Cargo.toml
  evm_arithmetization/src/all_stark.rs
  evm_arithmetization/src/arithmetic/arithmetic_stark.rs
  evm_arithmetization/src/byte_packing/byte_packing_stark.rs
  evm_arithmetization/src/cpu/cpu_stark.rs
  evm_arithmetization/src/keccak/keccak_stark.rs
  evm_arithmetization/src/keccak_sponge/keccak_sponge_stark.rs
  evm_arithmetization/src/memory/memory_stark.rs
Labels: crate: evm_arithmetization

wip: fix todos
  evm_arithmetization/src/cpu/cpu_stark.rs
  evm_arithmetization/src/cpu/kernel/tests/ecc/ecrecover.rs
  evm_arithmetization/src/memory/mod.rs
  evm_arithmetization/tests/self_balance_gas_cost.rs
  mpt_trie/src/debug_tools/diff.rs
  mpt_trie/src/debug_tools/query.rs
  mpt_trie/src/nibbles.rs
  mpt_trie/src/trie_subsets.rs
  trace_decoder/src/compact/compact_prestate_processing.rs
  trace_decoder/src/compact/compact_to_partial_trie.rs
  trace_decoder/src/compact/complex_test_payloads.rs
  trace_decoder/src/decoding.rs
  trace_decoder/src/lib.rs
  trace_decoder/src/processed_block_trace.rs
  trace_decoder/src/types.rs
  trace_decoder/src/utils.rs
Labels: crate: mpt_trie, crate: evm_arithmetization, crate: trace_decoder

feat: decouple trace_decoder and proof_gen
  evm_arithmetization/src/lib.rs
  proof_gen/Cargo.toml
  proof_gen/README.md
  proof_gen/src/lib.rs
  proof_gen/src/proof_gen.rs
  proof_gen/src/proof_types.rs
  trace_decoder/src/decoding.rs
  trace_decoder/src/lib.rs
  trace_decoder/src/processed_block_trace.rs
  trace_decoder/src/types.rs
Labels: crate: evm_arithmetization, crate: trace_decoder, crate: proof_gen

feat: decouple trace_decoder and proof_gen (#163)
  evm_arithmetization/src/lib.rs
  proof_gen/Cargo.toml
  proof_gen/README.md
  proof_gen/src/lib.rs
  proof_gen/src/proof_gen.rs
  proof_gen/src/proof_types.rs
  trace_decoder/src/decoding.rs
  trace_decoder/src/lib.rs
  trace_decoder/src/processed_block_trace.rs
  trace_decoder/src/types.rs
Labels: crate: evm_arithmetization, crate: trace_decoder, crate: proof_gen

fix: fix clippy issue
  trace_decoder/src/processed_block_trace.rs
Labels: crate: trace_decoder

fix: fix clippy issue
  mpt_trie/src/nibbles.rs
Labels: crate: mpt_trie

Updated docs for new parameter in `prove_blocks.sh`
  zero_bin/README.md
Labels: none

Apply suggestions from code review (Nashtare)
  zero_bin/README.md
Labels: none

Simplify withdrawals logic
  trace_decoder/src/decoding.rs
Labels: crate: trace_decoder

Update CHANGELOG
  CHANGELOG.md
Labels: none

Clippy
  trace_decoder/src/decoding.rs
Labels: crate: trace_decoder

fix: remove outdated todos in the evm_arithmetization
  evm_arithmetization/src/cpu/kernel/asm/core/process_txn.asm
  evm_arithmetization/src/cpu/kernel/asm/core/touched_addresses.asm
  evm_arithmetization/src/cpu/kernel/asm/curve/secp256k1/inverse_scalar.asm
  evm_arithmetization/src/cpu/kernel/asm/curve/secp256k1/moddiv.asm
  evm_arithmetization/src/cpu/kernel/asm/mpt/delete/delete_branch.asm
Labels: crate: evm_arithmetization

feat: add a few usability functions to the interface
  mpt_trie/src/nibbles.rs
  mpt_trie/src/partial_trie.rs
  mpt_trie/src/trie_ops.rs
  mpt_trie/src/trie_subsets.rs
Labels: crate: mpt_trie

fix: fix clippy issue
  mpt_trie/src/trie_ops.rs
Labels: crate: mpt_trie

Simplify withdrawals logic (#168)
  CHANGELOG.md
  trace_decoder/src/decoding.rs
Labels: crate: trace_decoder

docs: update changelog
  CHANGELOG.md
Labels: none

feat: extend trace decoder err info (#148)
  CHANGELOG.md
  trace_decoder/src/decoding.rs
  trace_decoder/src/utils.rs
Labels: crate: trace_decoder

New logic for context pruning
  evm_arithmetization/src/all_stark.rs
  evm_arithmetization/src/cpu/contextops.rs
  evm_arithmetization/src/cpu/cpu_stark.rs
  evm_arithmetization/src/cpu/kernel/asm/core/call.asm
  evm_arithmetization/src/cpu/kernel/asm/core/precompiles/blake2_f.asm
  evm_arithmetization/src/cpu/kernel/asm/core/precompiles/bn_add.asm
  evm_arithmetization/src/cpu/kernel/asm/core/precompiles/bn_mul.asm
  evm_arithmetization/src/cpu/kernel/asm/core/precompiles/ecrec.asm
  evm_arithmetization/src/cpu/kernel/asm/core/precompiles/expmod.asm
  evm_arithmetization/src/cpu/kernel/asm/core/precompiles/id.asm
  evm_arithmetization/src/cpu/kernel/asm/core/precompiles/rip160.asm
  evm_arithmetization/src/cpu/kernel/asm/core/precompiles/sha256.asm
  evm_arithmetization/src/cpu/kernel/asm/core/precompiles/snarkv.asm
  evm_arithmetization/src/cpu/kernel/asm/core/terminate.asm
  evm_arithmetization/src/cpu/kernel/asm/main.asm
  evm_arithmetization/src/cpu/kernel/asm/memory/syscalls.asm
  evm_arithmetization/src/memory/columns.rs
  evm_arithmetization/src/memory/memory_stark.rs
  evm_arithmetization/src/memory_continuation/memory_continuation_stark.rs
  evm_arithmetization/src/witness/operation.rs
  evm_arithmetization/tests/add11_yml.rs
  evm_arithmetization/tests/empty_txn_list.rs
  evm_arithmetization/tests/log_opcode.rs
Labels: crate: evm_arithmetization

Clarify comments
  evm_arithmetization/src/cpu/contextops.rs
  evm_arithmetization/src/cpu/kernel/asm/main.asm
  evm_arithmetization/src/memory/columns.rs
  evm_arithmetization/src/memory/memory_stark.rs
  evm_arithmetization/src/witness/operation.rs
Labels: crate: evm_arithmetization

Fix set_ctx_pruning_flag's locations
  evm_arithmetization/src/cpu/kernel/asm/core/precompiles/blake2_f.asm
  evm_arithmetization/src/cpu/kernel/asm/core/precompiles/bn_add.asm
  evm_arithmetization/src/cpu/kernel/asm/core/precompiles/bn_mul.asm
  evm_arithmetization/src/cpu/kernel/asm/core/precompiles/ecrec.asm
  evm_arithmetization/src/cpu/kernel/asm/core/precompiles/expmod.asm
  evm_arithmetization/src/cpu/kernel/asm/core/precompiles/id.asm
  evm_arithmetization/src/cpu/kernel/asm/core/precompiles/rip160.asm
  evm_arithmetization/src/cpu/kernel/asm/core/precompiles/sha256.asm
  evm_arithmetization/src/cpu/kernel/asm/core/precompiles/snarkv.asm
  evm_arithmetization/src/cpu/kernel/asm/memory/syscalls.asm
Labels: crate: evm_arithmetization

Apply comments
  evm_arithmetization/src/cpu/kernel/asm/core/call.asm
  evm_arithmetization/src/cpu/kernel/asm/core/terminate.asm
  evm_arithmetization/src/cpu/kernel/asm/memory/syscalls.asm
  evm_arithmetization/src/witness/operation.rs
Labels: crate: evm_arithmetization

Now logs time to generate proofs
  zero_bin/Cargo.lock
  zero_bin/Cargo.toml
  zero_bin/ops/Cargo.toml
  zero_bin/ops/src/lib.rs
Labels: none

Add comment as per suggestion
  evm_arithmetization/src/cpu/contextops.rs
Labels: crate: evm_arithmetization

Removed agg & block proof timing logic
  zero_bin/ops/Cargo.toml
  zero_bin/ops/src/lib.rs
Labels: none

Moved `Unreleased` changes to `0.3.0`
  CHANGELOG.md
Labels: none

Moved `Unreleased` changes to `0.3.0` (#173)
  CHANGELOG.md
Labels: none

Fixed txn proof logs not rendering correctly
  zero_bin/ops/src/lib.rs
Labels: none

Cleaned up txn proof timing output even more
  zero_bin/ops/Cargo.toml
  zero_bin/ops/src/lib.rs
Labels: none

Revert "Simplify withdrawals logic (#168)"
  trace_decoder/src/decoding.rs
Labels: crate: trace_decoder

CHANGELOG
  CHANGELOG.md
Labels: none

Fix withdrawals accesses in state trie
  trace_decoder/src/decoding.rs
  trace_decoder/src/processed_block_trace.rs
Labels: crate: trace_decoder

Apply review comments and add state accesses in dummy payload case
  trace_decoder/src/decoding.rs
  trace_decoder/src/processed_block_trace.rs
Labels: crate: trace_decoder

Fix withdrawals accesses in state trie (#176)
  trace_decoder/src/decoding.rs
  trace_decoder/src/processed_block_trace.rs
Labels: crate: trace_decoder
