Repository 0xPolygonZero/zk_evm, changes with the labels that .github/labeler.yml gives for each.
All labels: crate: mpt_trie, crate: evm_arithmetization, crate: trace_decoder, crate: proof_gen, specs

introduce trace processing for multiple storage tries
  trace_decoder/src/processed_block_trace.rs
Labels: crate: trace_decoder

add code_db to BlockTrace
  trace_decoder/src/processed_block_trace.rs
  trace_decoder/src/trace_protocol.rs
Labels: crate: trace_decoder

feat: add usize to nibbles
  mpt_trie/src/nibbles.rs
Labels: crate: mpt_trie

Merge branch 'develop' into fix_todos
  CHANGELOG.md
  trace_decoder/src/decoding.rs
  trace_decoder/src/processed_block_trace.rs
  trace_decoder/src/utils.rs
Labels: crate: trace_decoder

fix: fix utils
  trace_decoder/src/utils.rs
Labels: crate: trace_decoder

feat: adding block proof ci
  zero_bin/.github/workflows/ci.yml
  zero_bin/tools/simple_test.sh
Labels: none

Update tools/simple_test.sh
  zero_bin/tools/simple_test.sh
Labels: none

Add kernel code to MemBefore
  evm_arithmetization/src/fixed_recursive_verifier.rs
  evm_arithmetization/src/prover.rs
Labels: crate: evm_arithmetization

Remove kernel code hashing from
  evm_arithmetization/src/cpu/kernel/asm/main.asm
Labels: crate: evm_arithmetization

Bumped `trace_decoder` version for new `zk_evm` release
  trace_decoder/Cargo.toml
Labels: crate: trace_decoder

Updated `CHANGELOG.md`
  CHANGELOG.md
Labels: none

Bumped `trace_decoder` version for new `zk_evm` release (#177)
  CHANGELOG.md
  trace_decoder/Cargo.toml
Labels: crate: trace_decoder

Fix comments
  evm_arithmetization/src/fixed_recursive_verifier.rs
  evm_arithmetization/src/prover.rs
Labels: crate: evm_arithmetization

Fix
  proof_gen/src/proof_gen.rs
Labels: crate: proof_gen

Update plonky2 dependencies (#119)
  CHANGELOG.md
  Cargo.toml
Labels: none

chore: add debug function for better logging in development (#134)
  evm_arithmetization/src/recursive_verifier.rs
Labels: crate: evm_arithmetization

refactor: remove some reallocations from decoder (#126)
  trace_decoder/src/compact/compact_prestate_processing.rs
  trace_decoder/src/decoding.rs
Labels: crate: trace_decoder

Mpt trie panic refactor (#118)
  evm_arithmetization/tests/add11_yml.rs
  evm_arithmetization/tests/basic_smart_contract.rs
  evm_arithmetization/tests/erc20.rs
  evm_arithmetization/tests/erc721.rs
  evm_arithmetization/tests/log_opcode.rs
  evm_arithmetization/tests/self_balance_gas_cost.rs
  evm_arithmetization/tests/selfdestruct.rs
  evm_arithmetization/tests/simple_transfer.rs
  evm_arithmetization/tests/withdrawals.rs
  mpt_trie/examples/ethereum_trie.rs
  mpt_trie/examples/hash_nodes.rs
  mpt_trie/examples/simple.rs
  mpt_trie/src/debug_tools/diff.rs
  mpt_trie/src/debug_tools/stats.rs
  mpt_trie/src/partial_trie.rs
  mpt_trie/src/special_query.rs
  mpt_trie/src/testing_utils.rs
  mpt_trie/src/trie_hashing.rs
  mpt_trie/src/trie_ops.rs
  mpt_trie/src/trie_subsets.rs
  mpt_trie/src/utils.rs
  trace_decoder/src/decoding.rs
Labels: crate: mpt_trie, crate: evm_arithmetization, crate: trace_decoder

Increased the public interface for `trie_tools` (#123)
  trace_decoder/src/compact/compact_prestate_processing.rs
  trace_decoder/src/compact/compact_to_partial_trie.rs
  trace_decoder/src/compact/complex_test_payloads.rs
  trace_decoder/src/compact/mod.rs
  trace_decoder/src/processed_block_trace.rs
Labels: crate: trace_decoder

Charge cold access cost in *CALL* before accessing state (#124)
  evm_arithmetization/src/cpu/kernel/asm/core/call_gas.asm
Labels: crate: evm_arithmetization

Charge gas before SLOAD and refactor `insert_accessed_storage_keys` (#117)
  evm_arithmetization/src/cpu/kernel/asm/core/access_lists.asm
  evm_arithmetization/src/cpu/kernel/asm/mpt/storage/storage_read.asm
  evm_arithmetization/src/cpu/kernel/asm/mpt/storage/storage_write.asm
  evm_arithmetization/src/cpu/kernel/asm/transactions/common_decoding.asm
  evm_arithmetization/src/cpu/kernel/tests/core/access_lists.rs
Labels: crate: evm_arithmetization

Add a getter for the KERNEL codehash (#136)
  evm_arithmetization/src/cpu/kernel/assembler.rs
Labels: crate: evm_arithmetization

Remove interpreter-specific preinialization logic from State trait (#139)
  CHANGELOG.md
  evm_arithmetization/src/cpu/kernel/interpreter.rs
  evm_arithmetization/src/generation/state.rs
Labels: crate: evm_arithmetization

Make test_receipt_encoding more meaningful. (#131)
  evm_arithmetization/src/cpu/kernel/tests/receipt.rs
Labels: crate: evm_arithmetization

Some clippy fixes (#149)
  evm_arithmetization/src/arithmetic/modular.rs
  evm_arithmetization/src/fixed_recursive_verifier.rs
Labels: crate: evm_arithmetization

feat: swap out the internal U512 inside nibbles (#132)
  CHANGELOG.md
  evm_arithmetization/src/cpu/kernel/tests/account_code.rs
  evm_arithmetization/src/cpu/kernel/tests/balance.rs
  evm_arithmetization/src/cpu/kernel/tests/mpt/delete.rs
  evm_arithmetization/src/cpu/kernel/tests/mpt/insert.rs
  evm_arithmetization/src/generation/mpt.rs
  evm_arithmetization/src/generation/trie_extractor.rs
  mpt_trie/Cargo.toml
  mpt_trie/src/nibbles.rs
  mpt_trie/src/testing_utils.rs
  mpt_trie/src/utils.rs
Labels: crate: mpt_trie, crate: evm_arithmetization

Update CHANGELOG
  CHANGELOG.md
Labels: none

Version bump for next release (#137)
  CHANGELOG.md
  evm_arithmetization/Cargo.toml
  mpt_trie/Cargo.toml
  proof_gen/Cargo.toml
  trace_decoder/Cargo.toml
Labels: crate: mpt_trie, crate: evm_arithmetization, crate: trace_decoder, crate: proof_gen

Make some more functions constant (#154)
  CHANGELOG.md
  evm_arithmetization/src/cpu/kernel/assembler.rs
  evm_arithmetization/src/cpu/kernel/interpreter.rs
  evm_arithmetization/src/generation/prover_input.rs
  mpt_trie/src/debug_tools/diff.rs
  mpt_trie/src/debug_tools/query.rs
  mpt_trie/src/debug_tools/stats.rs
  mpt_trie/src/nibbles.rs
  mpt_trie/src/trie_hashing.rs
  mpt_trie/src/trie_subsets.rs
  mpt_trie/src/utils.rs
  proof_gen/src/proof_types.rs
  proof_gen/src/prover_state.rs
  trace_decoder/src/compact/compact_prestate_processing.rs
  trace_decoder/src/processed_block_trace.rs
Labels: crate: mpt_trie, crate: evm_arithmetization, crate: trace_decoder, crate: proof_gen

feat: extend trace decoder err info (#148)
  CHANGELOG.md
  trace_decoder/src/decoding.rs
  trace_decoder/src/utils.rs
Labels: crate: trace_decoder

Moved `Unreleased` changes to `0.3.0` (#173)
  CHANGELOG.md
Labels: none

feat: decouple trace_decoder and proof_gen (#163)
  evm_arithmetization/src/lib.rs
  proof_gen/Cargo.toml
  proof_gen/README.md
  proof_gen/src/lib.rs
  proof_gen/src/proof_gen.rs
  proof_gen/src/proof_types.rs
  trace_decoder/src/decoding.rs
  trace_decoder/src/lib.rs
  trace_decoder/src/processed_block_trace.rs
  trace_decoder/src/types.rs
Labels: crate: evm_arithmetization, crate: trace_decoder, crate: proof_gen

Bump with latest starky (#161)
  CHANGELOG.md
  Cargo.toml
  evm_arithmetization/src/all_stark.rs
  evm_arithmetization/src/arithmetic/arithmetic_stark.rs
  evm_arithmetization/src/byte_packing/byte_packing_stark.rs
  evm_arithmetization/src/cpu/cpu_stark.rs
  evm_arithmetization/src/keccak/keccak_stark.rs
  evm_arithmetization/src/keccak_sponge/keccak_sponge_stark.rs
  evm_arithmetization/src/memory/memory_stark.rs
Labels: crate: evm_arithmetization

Reduce verbosity in logs (#160)
  CHANGELOG.md
  trace_decoder/src/utils.rs
Labels: crate: trace_decoder

fix(keccak-sponge): properly constrain padding bytes (#158)
  evm_arithmetization/src/keccak_sponge/columns.rs
  evm_arithmetization/src/keccak_sponge/keccak_sponge_stark.rs
Labels: crate: evm_arithmetization

Simplify withdrawals logic (#168)
  CHANGELOG.md
  trace_decoder/src/decoding.rs
Labels: crate: trace_decoder

First pass of cleanup
  evm_arithmetization/src/all_stark.rs
  evm_arithmetization/src/cpu/kernel/interpreter.rs
  evm_arithmetization/src/cpu/kernel/tests/add11.rs
  evm_arithmetization/src/fixed_recursive_verifier.rs
  evm_arithmetization/src/generation/mod.rs
  evm_arithmetization/src/generation/mpt.rs
  evm_arithmetization/src/generation/state.rs
  evm_arithmetization/src/keccak_sponge/keccak_sponge_stark.rs
  evm_arithmetization/src/memory_continuation/memory_continuation_stark.rs
  evm_arithmetization/src/proof.rs
  evm_arithmetization/src/prover.rs
  evm_arithmetization/src/recursive_verifier.rs
  evm_arithmetization/src/witness/operation.rs
  evm_arithmetization/src/witness/traces.rs
  evm_arithmetization/src/witness/util.rs
Labels: crate: evm_arithmetization

More cleanup
  evm_arithmetization/src/cpu/kernel/interpreter.rs
  evm_arithmetization/src/generation/state.rs
  evm_arithmetization/src/memory/memory_stark.rs
  evm_arithmetization/src/witness/state.rs
  evm_arithmetization/src/witness/transition.rs
  evm_arithmetization/src/witness/util.rs
Labels: crate: evm_arithmetization

Add initial memory check to verifier
  evm_arithmetization/src/fixed_recursive_verifier.rs
  evm_arithmetization/src/verifier.rs
Labels: crate: evm_arithmetization

Comment
  evm_arithmetization/src/generation/mod.rs
  evm_arithmetization/src/prover.rs
  evm_arithmetization/src/witness/traces.rs
Labels: crate: evm_arithmetization

.github/labeler.yml:

# Add 'crate: mpt_trie' label to any changes within 'mpt_trie' folder.
'crate: mpt_trie':
- changed-files:
  - any-glob-to-any-file: mpt_trie/**

# Add 'crate: evm_arithmetization' label to any changes within 'evm_arithmetization' folder.
'crate: evm_arithmetization':
- changed-files:
  - any-glob-to-any-file: evm_arithmetization/**

# Add 'crate: trace_decoder' label to any changes within 'trace_decoder' folder.
'crate: trace_decoder':
- changed-files:
  - any-glob-to-any-file: trace_decoder/**

# Add 'crate: proof_gen' label to any changes within 'proof_gen' folder.
'crate: proof_gen':
- changed-files:
  - any-glob-to-any-file: proof_gen/**

# Add 'specs' label to any changes within 'docs' folder.
'specs':
- changed-files:
  - any-glob-to-any-file: docs/**
