Repository 0xPolygonZero/zk_evm, changes with the labels that .github/labeler.yml gives for each.
All labels: crate: mpt_trie, crate: evm_arithmetization, crate: trace_decoder, crate: proof_gen, specs

Hack to avoid jemalloc failure
  trace_decoder/Cargo.toml
Labels: crate: trace_decoder

add testcase to pass
  trace_decoder/src/compact/compact_prestate_processing.rs
  trace_decoder/src/compact/complex_test_payloads.rs
Labels: crate: trace_decoder

add support for smt leaf
  trace_decoder/src/compact/compact_prestate_processing.rs
Labels: crate: trace_decoder

Implement single-segment aggregations
  Cargo.toml
  evm_arithmetization/src/fixed_recursive_verifier.rs
  evm_arithmetization/src/proof.rs
  evm_arithmetization/src/prover.rs
  evm_arithmetization/tests/empty_txn_list.rs
  evm_arithmetization/tests/log_opcode.rs
  proof_gen/src/proof_gen.rs
Labels: crate: evm_arithmetization, crate: proof_gen

Add getter and handle single segment
  evm_arithmetization/src/prover.rs
  evm_arithmetization/tests/log_opcode.rs
Labels: crate: evm_arithmetization

Add getter and handle single segment
  evm_arithmetization/src/prover.rs
  evm_arithmetization/tests/log_opcode.rs
Labels: crate: evm_arithmetization

Add JDA log for end of simulation
  evm_arithmetization/src/cpu/kernel/interpreter.rs
Labels: crate: evm_arithmetization

Add JDA log for end of simulation (#201)
  evm_arithmetization/src/cpu/kernel/interpreter.rs
Labels: crate: evm_arithmetization

algo for parsing witness
  trace_decoder/src/compact/compact_prestate_processing.rs
  trace_decoder/src/compact/compact_to_mpt_trie.rs
  trace_decoder/src/compact/compact_to_partial_trie.rs
  trace_decoder/src/compact/complex_test_payloads.rs
  trace_decoder/src/processed_block_trace.rs
  trace_decoder/src/processed_block_trace_mpt.rs
Labels: crate: trace_decoder

add code for k, v for smt nodes
  evm_arithmetization/src/generation/mpt.rs
  trace_decoder/src/compact/compact_prestate_processing.rs
  trace_decoder/src/compact/compact_to_partial_trie.rs
  trace_decoder/src/compact/complex_test_payloads.rs
Labels: crate: evm_arithmetization, crate: trace_decoder

Cleanip, docs, & clippy pass
  trace_decoder/src/compact/compact_prestate_processing.rs
  trace_decoder/src/compact/compact_to_partial_trie.rs
Labels: crate: trace_decoder

Prep to split mpt & smt trie logic
  trace_decoder/src/compact/compact_prestate_processing.rs
  trace_decoder/src/compact/compact_to_mpt_trie.rs
  trace_decoder/src/compact/compact_to_smt_trie.rs
  trace_decoder/src/compact/complex_test_payloads.rs
  trace_decoder/src/compact/mod.rs
  trace_decoder/src/decoding.rs
  trace_decoder/src/processed_block_trace.rs
  trace_decoder/src/processed_block_trace_mpt.rs
Labels: crate: trace_decoder

More work on isolating smt logic
  trace_decoder/src/compact/compact_prestate_processing.rs
  trace_decoder/src/compact/compact_to_mpt_trie.rs
  trace_decoder/src/compact/compact_to_smt_trie.rs
Labels: crate: trace_decoder

Major refactor for smt & mpt logic
  trace_decoder/src/compact/compact_debug_tools.rs
  trace_decoder/src/compact/compact_mpt_processing.rs
  trace_decoder/src/compact/compact_prestate_processing.rs
  trace_decoder/src/compact/compact_processing_common.rs
  trace_decoder/src/compact/compact_smt_processing.rs
  trace_decoder/src/compact/compact_to_mpt_trie.rs
  trace_decoder/src/compact/compact_to_partial_trie.rs
  trace_decoder/src/compact/compact_to_smt_trie.rs
  trace_decoder/src/compact/complex_test_payloads.rs
  trace_decoder/src/compact/mod.rs
  trace_decoder/src/decoding_mpt.rs
  trace_decoder/src/processed_block_trace_mpt.rs
  trace_decoder/src/protocol_processing.rs
Labels: crate: trace_decoder

REMOVE!! Hacked in smt logic
  trace_decoder/Cargo.toml
  trace_decoder/src/compact/mod.rs
  trace_decoder/src/compact/tmp/bits.rs
  trace_decoder/src/compact/tmp/db.rs
  trace_decoder/src/compact/tmp/keys.rs
  trace_decoder/src/compact/tmp/mod.rs
  trace_decoder/src/compact/tmp/smt.rs
  trace_decoder/src/compact/tmp/utils.rs
Labels: crate: trace_decoder

Impled `process_smt_leaf`
  trace_decoder/src/compact/compact_to_smt_trie.rs
  trace_decoder/src/compact/tmp/mod.rs
Labels: crate: trace_decoder

implement code, hash
  trace_decoder/src/compact/compact_to_smt_trie.rs
Labels: crate: trace_decoder

Disabled logic for hash nodes
  trace_decoder/src/compact/compact_to_smt_trie.rs
Labels: crate: trace_decoder

Remove redundant simulation of last segment
  evm_arithmetization/src/prover.rs
Labels: crate: evm_arithmetization

Fixed smt tests
  trace_decoder/src/compact/compact_mpt_processing.rs
  trace_decoder/src/compact/compact_processing_common.rs
  trace_decoder/src/compact/compact_smt_processing.rs
  trace_decoder/src/compact/complex_test_payloads.rs
  trace_decoder/src/processed_block_trace_mpt.rs
  trace_decoder/src/trace_protocol.rs
Labels: crate: trace_decoder

Hash node inserts + another fix
  trace_decoder/src/compact/compact_to_smt_trie.rs
  trace_decoder/src/compact/tmp/mod.rs
  trace_decoder/src/compact/tmp/smt.rs
Labels: crate: trace_decoder

Added Will's hash node update
  trace_decoder/src/compact/tmp/smt.rs
Labels: crate: trace_decoder

Removed an unused param
  trace_decoder/src/compact/compact_smt_processing.rs
Labels: crate: trace_decoder

add testcases, fix parsing error for smt
  trace_decoder/src/compact/compact_processing_common.rs
  trace_decoder/src/compact/compact_smt_processing.rs
  trace_decoder/src/compact/compact_to_smt_trie.rs
  trace_decoder/src/compact/complex_test_payloads.rs
  trace_decoder/src/compact/large_test_payloads/test_payload_10.txt
  trace_decoder/src/compact/large_test_payloads/test_payload_8.txt
  trace_decoder/src/compact/large_test_payloads/test_payload_9.txt
Labels: crate: trace_decoder

add testcases
  trace_decoder/src/compact/compact_processing_common.rs
  trace_decoder/src/compact/complex_test_payloads.rs
Labels: crate: trace_decoder

code instruction add
  trace_decoder/src/compact/compact_processing_common.rs
  trace_decoder/src/compact/compact_smt_processing.rs
  trace_decoder/src/compact/complex_test_payloads.rs
  trace_decoder/src/compact/large_test_payloads/test_payload_10.txt
  trace_decoder/src/compact/large_test_payloads/test_payload_8.txt
  trace_decoder/src/compact/large_test_payloads/test_payload_9.txt
Labels: crate: trace_decoder

add support for code node
  trace_decoder/src/compact/compact_processing_common.rs
  trace_decoder/src/compact/compact_smt_processing.rs
  trace_decoder/src/compact/compact_to_smt_trie.rs
Labels: crate: trace_decoder

process code node
  trace_decoder/src/compact/compact_smt_processing.rs
  trace_decoder/src/compact/compact_to_smt_trie.rs
Labels: crate: trace_decoder

Do some refactoring
  evm_arithmetization/src/cpu/kernel/interpreter.rs
  evm_arithmetization/src/prover.rs
Labels: crate: evm_arithmetization

Cleanup
  evm_arithmetization/src/prover.rs
Labels: crate: evm_arithmetization

More small fixes
  trace_decoder/src/compact/compact_processing_common.rs
  trace_decoder/src/compact/compact_smt_processing.rs
  trace_decoder/src/compact/compact_to_smt_trie.rs
Labels: crate: trace_decoder

Added a simple test case
  trace_decoder/src/compact/compact_processing_common.rs
  trace_decoder/src/compact/complex_test_payloads.rs
Labels: crate: trace_decoder

first case passed
  trace_decoder/src/compact/compact_processing_common.rs
  trace_decoder/src/compact/compact_smt_processing.rs
  trace_decoder/src/compact/compact_to_smt_trie.rs
  trace_decoder/src/compact/complex_test_payloads.rs
Labels: crate: trace_decoder

add code node support
  trace_decoder/src/compact/compact_processing_common.rs
  trace_decoder/src/compact/compact_smt_processing.rs
  trace_decoder/src/compact/compact_to_smt_trie.rs
  trace_decoder/src/compact/complex_test_payloads.rs
Labels: crate: trace_decoder

add testcases
  evm_arithmetization/src/generation/mpt.rs
  trace_decoder/src/compact/compact_processing_common.rs
  trace_decoder/src/compact/compact_smt_processing.rs
  trace_decoder/src/compact/compact_to_smt_trie.rs
  trace_decoder/src/compact/complex_test_payloads.rs
Labels: crate: evm_arithmetization, crate: trace_decoder

Now buffers smt leaf & hash inserts
  trace_decoder/src/compact/compact_smt_processing.rs
  trace_decoder/src/compact/compact_to_smt_trie.rs
  trace_decoder/src/compact/complex_test_payloads.rs
Labels: crate: trace_decoder

modify testcase 18
  trace_decoder/src/compact/compact_smt_processing.rs
  trace_decoder/src/compact/compact_to_smt_trie.rs
  trace_decoder/src/compact/complex_test_payloads.rs
Labels: crate: trace_decoder

Renamed compact tests for better readability
  trace_decoder/src/compact/compact_processing_common.rs
  trace_decoder/src/compact/complex_test_payloads.rs
  trace_decoder/src/compact/large_test_payloads/mpt_test_payload_5.txt
  trace_decoder/src/compact/large_test_payloads/mpt_test_payload_6.txt
  trace_decoder/src/compact/large_test_payloads/smt_test_payload_2.txt
  trace_decoder/src/compact/large_test_payloads/smt_test_payload_3.txt
  trace_decoder/src/compact/large_test_payloads/smt_test_payload_4.txt
Labels: crate: trace_decoder

7 - 12 testcases passing
  trace_decoder/src/compact/compact_processing_common.rs
  trace_decoder/src/compact/compact_smt_processing.rs
  trace_decoder/src/compact/compact_to_smt_trie.rs
  trace_decoder/src/compact/complex_test_payloads.rs
Labels: crate: trace_decoder

add testcases
  trace_decoder/src/compact/compact_processing_common.rs
  trace_decoder/src/compact/complex_test_payloads.rs
  trace_decoder/src/compact/large_test_payloads/smt_test_payload_10.txt
  trace_decoder/src/compact/large_test_payloads/smt_test_payload_11.txt
  trace_decoder/src/compact/large_test_payloads/smt_test_payload_12.txt
  trace_decoder/src/compact/large_test_payloads/smt_test_payload_13.txt
  trace_decoder/src/compact/large_test_payloads/smt_test_payload_14.txt
  trace_decoder/src/compact/large_test_payloads/smt_test_payload_15.txt
Labels: crate: trace_decoder

.github/labeler.yml:

# Add 'crate: mpt_trie' label to any changes within 'mpt_trie' folder.
'crate: mpt_trie':
- changed-files:
  - any-glob-to-any-file: mpt_trie/**

# Add 'crate: evm_arithmetization' label to any changes within 'evm_arithmetization' folder.
'crate: evm_arithmetization':
- changed-files:
  - any-glob-to-any-file: evm_arithmetization/**

# Add 'crate: trace_decoder' label to any changes within 'trace_decoder' folder.
'crate: trace_decoder':
- changed-files:
  - any-glob-to-any-file: trace_decoder/**

# Add 'crate: proof_gen' label to any changes within 'proof_gen' folder.
'crate: proof_gen':
- changed-files:
  - any-glob-to-any-file: proof_gen/**

# Add 'specs' label to any changes within 'docs' folder.
'specs':
- changed-files:
  - any-glob-to-any-file: docs/**
