Repository 0xPolygonZero/zk_evm, changes with the labels that .github/labeler.yml gives for each.
All labels: crate: mpt_trie, crate: evm_arithmetization, crate: trace_decoder, crate: proof_gen, specs

.github/labeler.yml:

# Add 'crate: mpt_trie' label to any changes within 'mpt_trie' folder.
'crate: mpt_trie':
- changed-files:
  - any-glob-to-any-file: mpt_trie/**

# Add 'crate: evm_arithmetization' label to any changes within 'evm_arithmetization' folder.
'crate: evm_arithmetization':
- changed-files:
  - any-glob-to-any-file: evm_arithmetization/**

# Add 'crate: trace_decoder' label to any changes within 'trace_decoder' folder.
'crate: trace_decoder':
- changed-files:
  - any-glob-to-any-file: trace_decoder/**

# Add 'crate: proof_gen' label to any changes within 'proof_gen' folder.
'crate: proof_gen':
- changed-files:
  - any-glob-to-any-file: proof_gen/**

# Add 'specs' label to any changes within 'docs' folder.
'specs':
- changed-files:
  - any-glob-to-any-file: docs/**

fix testcases
  trace_decoder/src/compact/complex_test_payloads.rs
Labels: crate: trace_decoder

add 10 testcases
  trace_decoder/src/compact/compact_processing_common.rs
  trace_decoder/src/compact/complex_test_payloads.rs
  trace_decoder/src/compact/large_test_payloads/smt_test_payload_16.txt
  trace_decoder/src/compact/large_test_payloads/smt_test_payload_17.txt
  trace_decoder/src/compact/large_test_payloads/smt_test_payload_18.txt
  trace_decoder/src/compact/large_test_payloads/smt_test_payload_19.txt
  trace_decoder/src/compact/large_test_payloads/smt_test_payload_20.txt
  trace_decoder/src/compact/large_test_payloads/smt_test_payload_21.txt
  trace_decoder/src/compact/large_test_payloads/smt_test_payload_22.txt
  trace_decoder/src/compact/large_test_payloads/smt_test_payload_23.txt
  trace_decoder/src/compact/large_test_payloads/smt_test_payload_24.txt
  trace_decoder/src/compact/large_test_payloads/smt_test_payload_25.txt
Labels: crate: trace_decoder

Fix
  evm_arithmetization/src/prover.rs
Labels: crate: evm_arithmetization

Remove needless import
  evm_arithmetization/src/prover.rs
Labels: crate: evm_arithmetization

Silence clippy
  evm_arithmetization/src/prover.rs
  evm_arithmetization/src/witness/state.rs
Labels: crate: evm_arithmetization

continuations: Remove redundant simulation (#203)
  evm_arithmetization/src/cpu/kernel/interpreter.rs
  evm_arithmetization/src/prover.rs
  evm_arithmetization/src/witness/state.rs
Labels: crate: evm_arithmetization

Add is_dummy to PublicValues, cleanup and add dummy proof
  evm_arithmetization/src/fixed_recursive_verifier.rs
  evm_arithmetization/src/generation/mod.rs
  evm_arithmetization/src/proof.rs
  evm_arithmetization/src/recursive_verifier.rs
  evm_arithmetization/tests/empty_txn_list.rs
  evm_arithmetization/tests/log_opcode.rs
  proof_gen/src/proof_gen.rs
Labels: crate: evm_arithmetization, crate: proof_gen

Change at_end_segment to remove special logic for dummy proofs
  evm_arithmetization/src/generation/state.rs
Labels: crate: evm_arithmetization

Swapped out copied smt logic with lib dep
  trace_decoder/Cargo.toml
  trace_decoder/src/compact/compact_mpt_processing.rs
  trace_decoder/src/compact/compact_to_smt_trie.rs
  trace_decoder/src/compact/complex_test_payloads.rs
  trace_decoder/src/compact/mod.rs
  trace_decoder/src/compact/tmp/bits.rs
  trace_decoder/src/compact/tmp/db.rs
  trace_decoder/src/compact/tmp/keys.rs
  trace_decoder/src/compact/tmp/mod.rs
  trace_decoder/src/compact/tmp/smt.rs
  trace_decoder/src/compact/tmp/utils.rs
Labels: crate: trace_decoder

refactor: fix todos (#162)
  evm_arithmetization/src/cpu/cpu_stark.rs
  evm_arithmetization/src/cpu/kernel/asm/core/process_txn.asm
  evm_arithmetization/src/cpu/kernel/asm/core/touched_addresses.asm
  evm_arithmetization/src/cpu/kernel/asm/curve/secp256k1/inverse_scalar.asm
  evm_arithmetization/src/cpu/kernel/asm/curve/secp256k1/moddiv.asm
  evm_arithmetization/src/cpu/kernel/asm/mpt/delete/delete_branch.asm
  evm_arithmetization/src/cpu/kernel/tests/ecc/ecrecover.rs
  evm_arithmetization/src/memory/mod.rs
  evm_arithmetization/tests/self_balance_gas_cost.rs
  mpt_trie/src/debug_tools/diff.rs
  mpt_trie/src/debug_tools/query.rs
  mpt_trie/src/nibbles.rs
  mpt_trie/src/trie_subsets.rs
  trace_decoder/src/compact/compact_prestate_processing.rs
  trace_decoder/src/compact/compact_to_partial_trie.rs
  trace_decoder/src/compact/complex_test_payloads.rs
  trace_decoder/src/decoding.rs
  trace_decoder/src/lib.rs
  trace_decoder/src/processed_block_trace.rs
  trace_decoder/src/types.rs
  trace_decoder/src/utils.rs
Labels: crate: mpt_trie, crate: evm_arithmetization, crate: trace_decoder

Fix constant assertion check
  evm_arithmetization/tests/log_opcode.rs
Labels: crate: evm_arithmetization

Finished wiring up of SMT decoding logic
  mpt_trie/src/nibbles.rs
  trace_decoder/src/compact/compact_processing_common.rs
  trace_decoder/src/compact/compact_smt_processing.rs
  trace_decoder/src/compact/compact_to_mpt_trie.rs
  trace_decoder/src/compact/mod.rs
  trace_decoder/src/processed_block_trace_smt.rs
  trace_decoder/src/protocol_processing.rs
Labels: crate: mpt_trie, crate: trace_decoder

Added a feature flag to disable `jemalloc`
  evm_arithmetization/Cargo.toml
  evm_arithmetization/src/lib.rs
Labels: crate: evm_arithmetization

Requested changes for PR #204
  evm_arithmetization/Cargo.toml
  evm_arithmetization/src/lib.rs
Labels: crate: evm_arithmetization

Added a feature flag to disable `jemalloc` (#204)
  evm_arithmetization/Cargo.toml
  evm_arithmetization/src/lib.rs
Labels: crate: evm_arithmetization

Add beacon root update in the decoder
  trace_decoder/src/decoding.rs
Labels: crate: trace_decoder

Update padding logic
  trace_decoder/src/decoding.rs
  trace_decoder/src/processed_block_trace.rs
Labels: crate: trace_decoder

Remove print call in trace_decoder
  trace_decoder/src/utils.rs
Labels: crate: trace_decoder

Insert blob versioned hashes in signature payload for hashing
  evm_arithmetization/src/cpu/kernel/asm/transactions/type_3.asm
Labels: crate: evm_arithmetization

Two-to-one block aggregation proof
  evm_arithmetization/src/fixed_recursive_verifier.rs
Labels: crate: evm_arithmetization

Fix KZG precompile context setup
  evm_arithmetization/src/cpu/kernel/asm/core/precompiles/blake2_f.asm
  evm_arithmetization/src/cpu/kernel/asm/core/precompiles/kzg_peval.asm
Labels: crate: evm_arithmetization

SMT KV store + SMT delete
  smt_trie/src/smt.rs
Labels: none

Fmt
  smt_trie/src/smt.rs
Labels: none

Minor
  smt_trie/src/smt.rs
Labels: none

Insert blob versioned hashes in signature payload for hashing (#209)
  evm_arithmetization/src/cpu/kernel/asm/transactions/type_3.asm
Labels: crate: evm_arithmetization

Fix KZG precompile context setup (#210)
  evm_arithmetization/src/cpu/kernel/asm/core/precompiles/blake2_f.asm
  evm_arithmetization/src/cpu/kernel/asm/core/precompiles/kzg_peval.asm
Labels: crate: evm_arithmetization

SMT KV store + SMT delete (#211)
  smt_trie/src/smt.rs
Labels: none

SMT KV store + SMT delete (#211)
  smt_trie/src/smt.rs
Labels: none

Fmt
  smt_trie/src/smt.rs
  smt_trie/src/smt_test.rs
Labels: none

Remove is_dummy from PublicValues and update prove_all_segments
  evm_arithmetization/src/fixed_recursive_verifier.rs
  evm_arithmetization/src/generation/mod.rs
  evm_arithmetization/src/proof.rs
  evm_arithmetization/src/prover.rs
  evm_arithmetization/src/recursive_verifier.rs
  evm_arithmetization/tests/empty_txn_list.rs
  evm_arithmetization/tests/log_opcode.rs
  proof_gen/src/proof_gen.rs
  proof_gen/src/proof_types.rs
Labels: crate: evm_arithmetization, crate: proof_gen

Remove print call in trace_decoder (#208)
  trace_decoder/src/utils.rs
Labels: crate: trace_decoder

Cleanup
  evm_arithmetization/src/fixed_recursive_verifier.rs
  evm_arithmetization/src/prover.rs
Labels: crate: evm_arithmetization

Fix returndata
  evm_arithmetization/src/cpu/kernel/asm/core/precompiles/kzg_peval.asm
Labels: crate: evm_arithmetization

Fix parsing of calldata for KZG precompile
  evm_arithmetization/src/cpu/kernel/tests/bls381.rs
  evm_arithmetization/src/generation/prover_input.rs
Labels: crate: evm_arithmetization

Pacify mighty clippy
  evm_arithmetization/src/generation/prover_input.rs
Labels: crate: evm_arithmetization

Fix txn type encoding for receipts
  evm_arithmetization/src/cpu/kernel/asm/core/create_receipt.asm
  evm_arithmetization/src/cpu/kernel/asm/mpt/hash/hash_trie_specific.asm
Labels: crate: evm_arithmetization

SMT hash node (#212)
  smt_trie/src/smt.rs
  smt_trie/src/smt_test.rs
Labels: none

SMT hash node (#212)
  smt_trie/src/smt.rs
  smt_trie/src/smt_test.rs
Labels: none

[WIP] add account to linked list
  evm_arithmetization/src/cpu/kernel/asm/mpt/linked_list.asm
Labels: crate: evm_arithmetization

SMT pruning
  smt_trie/src/smt.rs
  smt_trie/src/smt_test.rs
Labels: none
