Repository 0xPolygonZero/zk_evm, changes with the labels that .github/labeler.yml gives for each.
All labels: crate: mpt_trie, crate: evm_arithmetization, crate: trace_decoder, crate: proof_gen, specs

.github/labeler.yml:

# Add 'crate: mpt_trie' label to any changes within 'mpt_trie' folder.
'crate: mpt_trie':
- changed-files:
  - any-glob-to-any-file: mpt_trie/**

# Add 'crate: evm_arithmetization' label to any changes within 'evm_arithmetization' folder.
'crate: evm_arithmetization':
- changed-files:
  - any-glob-to-any-file: evm_arithmetization/**

# Add 'crate: trace_decoder' label to any changes within 'trace_decoder' folder.
'crate: trace_decoder':
- changed-files:
  - any-glob-to-any-file: trace_decoder/**

# Add 'crate: proof_gen' label to any changes within 'proof_gen' folder.
'crate: proof_gen':
- changed-files:
  - any-glob-to-any-file: proof_gen/**

# Add 'specs' label to any changes within 'docs' folder.
'specs':
- changed-files:
  - any-glob-to-any-file: docs/**

Remove interpreter-specific preinialization logic from State trait (#139)
  CHANGELOG.md
  evm_arithmetization/src/cpu/kernel/interpreter.rs
  evm_arithmetization/src/generation/state.rs
Labels: crate: evm_arithmetization

Change create_transaction_circuit so that it always takes a lhs and a rhs
  evm_arithmetization/src/fixed_recursive_verifier.rs
  evm_arithmetization/src/prover.rs
  evm_arithmetization/tests/add11_yml.rs
  evm_arithmetization/tests/empty_txn_list.rs
  evm_arithmetization/tests/log_opcode.rs
  proof_gen/src/proof_gen.rs
Labels: crate: evm_arithmetization, crate: proof_gen

Use main as initial offset for clarity
  evm_arithmetization/src/cpu/kernel/tests/add11.rs
Labels: crate: evm_arithmetization

Fix broken type2 tests (#151)
  evm_arithmetization/src/cpu/kernel/tests/account_code.rs
  evm_arithmetization/src/cpu/kernel/tests/add11.rs
  evm_arithmetization/src/cpu/kernel/tests/balance.rs
  evm_arithmetization/src/cpu/kernel/tests/receipt.rs
  evm_arithmetization/tests/log_opcode.rs
Labels: crate: evm_arithmetization

Update proof_gen (partially) to accomodate for type2 changes
  proof_gen/Cargo.toml
  proof_gen/src/constants.rs
  proof_gen/src/proof_gen.rs
  proof_gen/src/prover_state.rs
Labels: crate: proof_gen

Get rid of trace_decoder dependency temporarily
  proof_gen/Cargo.toml
  proof_gen/src/proof_types.rs
Labels: crate: proof_gen

Make some more functions constant
  evm_arithmetization/src/cpu/kernel/assembler.rs
  evm_arithmetization/src/cpu/kernel/interpreter.rs
  evm_arithmetization/src/generation/prover_input.rs
  mpt_trie/src/debug_tools/diff.rs
  mpt_trie/src/debug_tools/query.rs
  mpt_trie/src/debug_tools/stats.rs
  mpt_trie/src/nibbles.rs
  mpt_trie/src/trie_hashing.rs
  mpt_trie/src/trie_subsets.rs
  mpt_trie/src/utils.rs
  proof_gen/src/proof_types.rs
  proof_gen/src/prover_state.rs
  trace_decoder/src/compact/compact_prestate_processing.rs
  trace_decoder/src/processed_block_trace.rs
Labels: crate: mpt_trie, crate: evm_arithmetization, crate: trace_decoder, crate: proof_gen

Update changelog
  CHANGELOG.md
Labels: none

Make some more functions constant (#154)
  CHANGELOG.md
  evm_arithmetization/src/cpu/kernel/assembler.rs
  evm_arithmetization/src/cpu/kernel/interpreter.rs
  evm_arithmetization/src/generation/prover_input.rs
  mpt_trie/src/debug_tools/diff.rs
  mpt_trie/src/debug_tools/query.rs
  mpt_trie/src/debug_tools/stats.rs
  mpt_trie/src/nibbles.rs
  mpt_trie/src/trie_hashing.rs
  mpt_trie/src/trie_subsets.rs
  mpt_trie/src/utils.rs
  proof_gen/src/proof_types.rs
  proof_gen/src/prover_state.rs
  trace_decoder/src/compact/compact_prestate_processing.rs
  trace_decoder/src/processed_block_trace.rs
Labels: crate: mpt_trie, crate: evm_arithmetization, crate: trace_decoder, crate: proof_gen

Update `proof_gen` (partially) to accomodate for type2 changes (#153)
  proof_gen/Cargo.toml
  proof_gen/src/constants.rs
  proof_gen/src/proof_gen.rs
  proof_gen/src/proof_types.rs
  proof_gen/src/prover_state.rs
Labels: crate: proof_gen

fix: add pr comments fixes
  zero_bin/common/src/prover_state/utils.rs
Labels: none

fix: add pr comments fixes
  trace_decoder/src/decoding.rs
  trace_decoder/src/utils.rs
Labels: crate: trace_decoder

fixed all warnings
  trace_decoder/src/compact/compact_debug_tools.rs
  trace_decoder/src/compact/compact_prestate_processing.rs
  trace_decoder/src/compact/compact_to_partial_trie.rs
  trace_decoder/src/compact/complex_test_payloads.rs
Labels: crate: trace_decoder

remove cargo clippy issues
  trace_decoder/src/compact/compact_prestate_processing.rs
  trace_decoder/src/compact/compact_to_partial_trie.rs
Labels: crate: trace_decoder

Debug & proving scripts now use indentical logging
  zero_bin/tools/debug_block.sh
  zero_bin/tools/prove_blocks.sh
Labels: none

Add flag to scripts
  zero_bin/tools/debug_block.sh
  zero_bin/tools/prove_blocks.sh
Labels: none

SMT hash node
  smt_trie/src/smt.rs
  smt_trie/src/smt_test.rs
Labels: none

Comment
  smt_trie/src/smt.rs
Labels: none

fix(keccak-sponge): properly constrain padding bytes
  evm_arithmetization/src/keccak_sponge/columns.rs
  evm_arithmetization/src/keccak_sponge/keccak_sponge_stark.rs
Labels: crate: evm_arithmetization

fix: block bytes offset
  evm_arithmetization/src/keccak_sponge/columns.rs
Labels: crate: evm_arithmetization

fix: constrain zero padding bytes
  evm_arithmetization/src/keccak_sponge/columns.rs
  evm_arithmetization/src/keccak_sponge/keccak_sponge_stark.rs
Labels: crate: evm_arithmetization

fix: use collect_vec
  evm_arithmetization/src/keccak_sponge/keccak_sponge_stark.rs
Labels: crate: evm_arithmetization

Allow verifier to load .env file
  zero_bin/Cargo.lock
  zero_bin/verifier/Cargo.toml
  zero_bin/verifier/src/main.rs
Labels: none

Add logging info from verifier side
  zero_bin/verifier/src/main.rs
Labels: none

feat: replace is_final_input_len with is_padding_byte
  evm_arithmetization/src/keccak_sponge/columns.rs
  evm_arithmetization/src/keccak_sponge/keccak_sponge_stark.rs
Labels: crate: evm_arithmetization

fix: remove unnecessary iterators
  evm_arithmetization/src/keccak_sponge/keccak_sponge_stark.rs
Labels: crate: evm_arithmetization

fix: add pr comments fix
  trace_decoder/src/decoding.rs
Labels: crate: trace_decoder

Differentiate aggregation circuits and fix create_transaction_aggregation.
  evm_arithmetization/src/fixed_recursive_verifier.rs
  evm_arithmetization/src/prover.rs
  evm_arithmetization/tests/add11_yml.rs
  proof_gen/src/proof_gen.rs
  proof_gen/src/proof_types.rs
Labels: crate: evm_arithmetization, crate: proof_gen

Fix empty_txn_list and cleanup
  evm_arithmetization/src/fixed_recursive_verifier.rs
  evm_arithmetization/tests/empty_txn_list.rs
Labels: crate: evm_arithmetization

Update evm_arithmetization/src/keccak_sponge/keccak_sponge_stark.rs
  evm_arithmetization/src/keccak_sponge/keccak_sponge_stark.rs
Labels: crate: evm_arithmetization

Update evm_arithmetization/src/keccak_sponge/keccak_sponge_stark.rs
  evm_arithmetization/src/keccak_sponge/keccak_sponge_stark.rs
Labels: crate: evm_arithmetization

Update evm_arithmetization/src/keccak_sponge/keccak_sponge_stark.rs
  evm_arithmetization/src/keccak_sponge/keccak_sponge_stark.rs
Labels: crate: evm_arithmetization

Update evm_arithmetization/src/keccak_sponge/keccak_sponge_stark.rs
  evm_arithmetization/src/keccak_sponge/keccak_sponge_stark.rs
Labels: crate: evm_arithmetization

Update evm_arithmetization/src/keccak_sponge/keccak_sponge_stark.rs
  evm_arithmetization/src/keccak_sponge/keccak_sponge_stark.rs
Labels: crate: evm_arithmetization

Update evm_arithmetization/src/keccak_sponge/keccak_sponge_stark.rs
  evm_arithmetization/src/keccak_sponge/keccak_sponge_stark.rs
Labels: crate: evm_arithmetization

Apply suggestions from code review
  evm_arithmetization/src/keccak_sponge/keccak_sponge_stark.rs
Labels: crate: evm_arithmetization

fix: remove redundant constraint
  evm_arithmetization/src/keccak_sponge/keccak_sponge_stark.rs
Labels: crate: evm_arithmetization

docs: define padding byte in comment
  evm_arithmetization/src/keccak_sponge/columns.rs
Labels: crate: evm_arithmetization

Change generate_all_segments so it generates at least two segments
  evm_arithmetization/src/prover.rs
Labels: crate: evm_arithmetization

fix(keccak-sponge): properly constrain padding bytes (#158)
  evm_arithmetization/src/keccak_sponge/columns.rs
  evm_arithmetization/src/keccak_sponge/keccak_sponge_stark.rs
Labels: crate: evm_arithmetization
