Repository 0xPolygonZero/zk_evm, changes with the labels that .github/labeler.yml gives for each.
All labels: crate: mpt_trie, crate: evm_arithmetization, crate: trace_decoder, crate: proof_gen, specs

Comments
  smt_trie/src/smt.rs
Labels: none

Minor
  smt_trie/src/smt_test.rs
Labels: none

Minor
  smt_trie/src/smt.rs
Labels: none

Minor
  evm_arithmetization/src/fixed_recursive_verifier.rs
  evm_arithmetization/tests/two_to_one_agg.rs
Labels: crate: evm_arithmetization

Minor
  evm_arithmetization/src/fixed_recursive_verifier.rs
  evm_arithmetization/tests/two_to_one_agg.rs
Labels: crate: evm_arithmetization

Clippy
  smt_trie/src/smt_test.rs
Labels: none

Fix access lists pointers
  evm_arithmetization/src/cpu/kernel/asm/core/access_lists.asm
  evm_arithmetization/src/cpu/kernel/asm/util/assertions.asm
Labels: crate: evm_arithmetization

Cleanup and fix init_exc_stop
  evm_arithmetization/src/cpu/kernel/tests/init_exc_stop.rs
  evm_arithmetization/src/fixed_recursive_verifier.rs
  evm_arithmetization/src/proof.rs
Labels: crate: evm_arithmetization

Fix txn type encoding for receipts (#214)
  evm_arithmetization/src/cpu/kernel/asm/core/create_receipt.asm
  evm_arithmetization/src/cpu/kernel/asm/mpt/hash/hash_trie_specific.asm
Labels: crate: evm_arithmetization

Add is_dummy to ProverOutputData
  evm_arithmetization/src/fixed_recursive_verifier.rs
  evm_arithmetization/tests/empty_txn_list.rs
  evm_arithmetization/tests/log_opcode.rs
Labels: crate: evm_arithmetization

Improve comment
  evm_arithmetization/src/fixed_recursive_verifier.rs
Labels: crate: evm_arithmetization

Remove ceil_div_usize
  evm_arithmetization/src/cpu/kernel/tests/bignum/mod.rs
  evm_arithmetization/src/cpu/kernel/utils.rs
  evm_arithmetization/src/keccak_sponge/keccak_sponge_stark.rs
  evm_arithmetization/src/logic.rs
Labels: crate: evm_arithmetization

Apply comments
  Cargo.toml
  evm_arithmetization/src/cpu/kernel/tests/init_exc_stop.rs
  evm_arithmetization/src/fixed_recursive_verifier.rs
  evm_arithmetization/src/proof.rs
Labels: crate: evm_arithmetization

Re-export dummy_proof
  proof_gen/src/proof_gen.rs
Labels: crate: proof_gen

Apply comment and fix at_halt and test_init_exc_stop
  evm_arithmetization/src/cpu/kernel/tests/init_exc_stop.rs
  evm_arithmetization/src/generation/state.rs
  proof_gen/Cargo.toml
  proof_gen/src/proof_gen.rs
Labels: crate: evm_arithmetization, crate: proof_gen

Add account linked list and some unit tests
  evm_arithmetization/src/cpu/kernel/aggregator.rs
  evm_arithmetization/src/cpu/kernel/asm/mpt/linked_list.asm
  evm_arithmetization/src/cpu/kernel/asm/util/assertions.asm
  evm_arithmetization/src/cpu/kernel/constants/global_metadata.rs
  evm_arithmetization/src/cpu/kernel/tests/mpt/linked_list.rs
  evm_arithmetization/src/cpu/kernel/tests/mpt/mod.rs
  evm_arithmetization/src/generation/prover_input.rs
  evm_arithmetization/src/memory/segments.rs
Labels: crate: evm_arithmetization

Add blob gas fee burn for type-3 txns
  evm_arithmetization/src/cpu/kernel/asm/core/precompiles/main.asm
  evm_arithmetization/src/cpu/kernel/asm/core/process_txn.asm
  evm_arithmetization/src/cpu/kernel/asm/transactions/type_3.asm
  evm_arithmetization/src/cpu/kernel/constants/mod.rs
  evm_arithmetization/src/generation/prover_input.rs
Labels: crate: evm_arithmetization

Fix fake_exponential
  evm_arithmetization/src/generation/prover_input.rs
Labels: crate: evm_arithmetization

Remove comment
  evm_arithmetization/src/generation/prover_input.rs
Labels: crate: evm_arithmetization

Apply some comments
  trace_decoder/src/decoding.rs
Labels: crate: trace_decoder

First rough plan on trait structure
  trace_decoder/src/decoding_traits.rs
  trace_decoder/src/lib.rs
Labels: crate: trace_decoder

Nit
  trace_decoder/src/decoding.rs
Labels: crate: trace_decoder

Now conditionally uses evm types at compile time
  trace_decoder/Cargo.toml
  trace_decoder/src/aliased_crate_types.rs
  trace_decoder/src/compact/compact_to_partial_trie.rs
  trace_decoder/src/compact/complex_test_payloads.rs
  trace_decoder/src/decoding.rs
  trace_decoder/src/decoding_traits.rs
  trace_decoder/src/lib.rs
  trace_decoder/src/processed_block_trace.rs
  trace_decoder/src/types.rs
Labels: crate: trace_decoder

Removed the default feature of "mpt"
  trace_decoder/Cargo.toml
  trace_decoder/src/lib.rs
Labels: crate: trace_decoder

Renamed `processed_block_trace.rs` --> `processed_block_trace_mpt.rs`
  trace_decoder/src/decoding.rs
  trace_decoder/src/lib.rs
  trace_decoder/src/processed_block_trace_mpt.rs
  trace_decoder/src/types.rs
Labels: crate: trace_decoder

Newline
  evm_arithmetization/src/cpu/kernel/asm/transactions/type_3.asm
Labels: crate: evm_arithmetization

Add blob gas fee burn for type-3 txns (#219)
  evm_arithmetization/src/cpu/kernel/asm/core/precompiles/main.asm
  evm_arithmetization/src/cpu/kernel/asm/core/process_txn.asm
  evm_arithmetization/src/cpu/kernel/asm/transactions/type_3.asm
  evm_arithmetization/src/cpu/kernel/constants/mod.rs
  evm_arithmetization/src/generation/prover_input.rs
Labels: crate: evm_arithmetization

SQUASH!!
  mpt_trie/src/nibbles.rs
  mpt_trie/src/trie_ops.rs
  trace_decoder/src/aliased_crate_types.rs
  trace_decoder/src/compact/compact_prestate_processing.rs
  trace_decoder/src/compact/compact_to_partial_trie.rs
  trace_decoder/src/compact/complex_test_payloads.rs
  trace_decoder/src/decoding.rs
  trace_decoder/src/decoding_mpt.rs
  trace_decoder/src/decoding_smt.rs
  trace_decoder/src/decoding_traits.rs
  trace_decoder/src/lib.rs
  trace_decoder/src/processed_block_trace.rs
  trace_decoder/src/processed_block_trace_mpt.rs
  trace_decoder/src/processed_block_trace_smt.rs
  trace_decoder/src/protocol_processing.rs
  trace_decoder/src/trace_protocol.rs
Labels: crate: mpt_trie, crate: trace_decoder

Removed feature gating for MPT/SMT
  trace_decoder/Cargo.toml
  trace_decoder/src/aliased_crate_types.rs
  trace_decoder/src/compact/compact_to_partial_trie.rs
  trace_decoder/src/compact/complex_test_payloads.rs
  trace_decoder/src/decoding_mpt.rs
  trace_decoder/src/decoding_traits.rs
  trace_decoder/src/lib.rs
  trace_decoder/src/processed_block_trace_mpt.rs
  trace_decoder/src/processed_block_trace_smt.rs
  trace_decoder/src/types.rs
Labels: crate: trace_decoder

Hack to avoid jemalloc failure
  trace_decoder/Cargo.toml
Labels: crate: trace_decoder

A bit more cleanup
  trace_decoder/Cargo.toml
  trace_decoder/src/aliased_crate_types.rs
  trace_decoder/src/decoding_mpt.rs
  trace_decoder/src/decoding_smt.rs
  trace_decoder/src/decoding_traits.rs
  trace_decoder/src/lib.rs
  trace_decoder/src/processed_block_trace_mpt.rs
  trace_decoder/src/processed_block_trace_smt.rs
  trace_decoder/src/protocol_processing.rs
Labels: crate: trace_decoder

Requested changes for PR #197
  trace_decoder/src/compact/compact_prestate_processing.rs
  trace_decoder/src/compact/compact_to_partial_trie.rs
  trace_decoder/src/compact/complex_test_payloads.rs
  trace_decoder/src/decoding.rs
  trace_decoder/src/decoding_mpt.rs
  trace_decoder/src/processed_block_trace_mpt.rs
  trace_decoder/src/protocol_processing.rs
Labels: crate: trace_decoder

Fixed all clippy errors
  trace_decoder/src/aliased_crate_types.rs
  trace_decoder/src/decoding_smt.rs
  trace_decoder/src/lib.rs
  trace_decoder/src/processed_block_trace_mpt.rs
  trace_decoder/src/processed_block_trace_smt.rs
  trace_decoder/src/protocol_processing.rs
Labels: crate: trace_decoder

Initial refactoring for SMT & Contination support in `trace_decoder` (#197)
  mpt_trie/src/nibbles.rs
  mpt_trie/src/trie_ops.rs
  trace_decoder/Cargo.toml
  trace_decoder/src/aliased_crate_types.rs
  trace_decoder/src/compact/compact_prestate_processing.rs
  trace_decoder/src/compact/compact_to_partial_trie.rs
  trace_decoder/src/compact/complex_test_payloads.rs
  trace_decoder/src/decoding.rs
  trace_decoder/src/decoding_mpt.rs
  trace_decoder/src/decoding_smt.rs
  trace_decoder/src/lib.rs
  trace_decoder/src/processed_block_trace.rs
  trace_decoder/src/processed_block_trace_mpt.rs
  trace_decoder/src/processed_block_trace_smt.rs
  trace_decoder/src/protocol_processing.rs
  trace_decoder/src/trace_protocol.rs
  trace_decoder/src/types.rs
Labels: crate: mpt_trie, crate: trace_decoder

Update decoder processing for cancun (#207)
  trace_decoder/src/decoding.rs
  trace_decoder/src/processed_block_trace.rs
Labels: crate: trace_decoder

.github/labeler.yml:

# Add 'crate: mpt_trie' label to any changes within 'mpt_trie' folder.
'crate: mpt_trie':
- changed-files:
  - any-glob-to-any-file: mpt_trie/**

# Add 'crate: evm_arithmetization' label to any changes within 'evm_arithmetization' folder.
'crate: evm_arithmetization':
- changed-files:
  - any-glob-to-any-file: evm_arithmetization/**

# Add 'crate: trace_decoder' label to any changes within 'trace_decoder' folder.
'crate: trace_decoder':
- changed-files:
  - any-glob-to-any-file: trace_decoder/**

# Add 'crate: proof_gen' label to any changes within 'proof_gen' folder.
'crate: proof_gen':
- changed-files:
  - any-glob-to-any-file: proof_gen/**

# Add 'specs' label to any changes within 'docs' folder.
'specs':
- changed-files:
  - any-glob-to-any-file: docs/**
