Repository 0xPolygonZero/zk_evm, changes with the labels that .github/labeler.yml gives for each.
All labels: crate: mpt_trie, crate: evm_arithmetization, crate: trace_decoder, crate: zero_bin, specs, crate: common, ci

Keep changes
  evm_arithmetization/src/cpu/kernel/asm/main.asm
  evm_arithmetization/src/generation/state.rs
  smt_trie/src/smt_test.rs
  trace_decoder/src/core.rs
Labels: crate: evm_arithmetization, crate: trace_decoder

fix: multiline command
  .github/workflows/jerigon-native.yml
  .github/workflows/jerigon-zero.yml
Labels: ci

Revert "remove todo"
  evm_arithmetization/src/generation/prover_input.rs
Labels: crate: evm_arithmetization

run: cargo init scripts
  Cargo.toml
  scripts/Cargo.toml
  scripts/src/main.rs
Labels: none

feat: cargo xtask outdated
  .cargo/config.toml
  Cargo.lock
  Cargo.toml
  scripts/Cargo.toml
  scripts/src/main.rs
  scripts/xtask.rs
Labels: none

ci: lint outdated
  .github/workflows/lint.yml
Labels: ci

Replace trie diff regex
  Cargo.lock
  zero/Cargo.toml
  zero/src/bin/trie_diff.rs
Labels: crate: zero_bin

RM previous regex crate
  Cargo.lock
  zero/Cargo.toml
Labels: crate: zero_bin

Last fixes
  evm_arithmetization/src/cpu/kernel/asm/core/call.asm
  evm_arithmetization/src/cpu/kernel/asm/core/call_gas.asm
Labels: crate: evm_arithmetization

Add AccountRlp trait
  evm_arithmetization/benches/fibonacci_25m_gas.rs
  evm_arithmetization/src/cpu/kernel/tests/account_code.rs
  evm_arithmetization/src/cpu/kernel/tests/balance.rs
  evm_arithmetization/src/cpu/kernel/tests/mpt/mod.rs
  evm_arithmetization/src/generation/mpt.rs
  evm_arithmetization/tests/erc20_type2.rs
  trace_decoder/src/tries.rs
  trace_decoder/src/world.rs
Labels: crate: evm_arithmetization, crate: trace_decoder

wip
  evm_arithmetization/src/cpu/kernel/interpreter.rs
  evm_arithmetization/src/generation/jumpdest.rs
  evm_arithmetization/src/generation/prover_input.rs
Labels: crate: evm_arithmetization

increase timeout
  scripts/test_new_chain.sh
Labels: none

Fix regressions
  evm_arithmetization/src/cpu/kernel/asm/account_code.asm
  evm_arithmetization/src/cpu/kernel/interpreter.rs
  evm_arithmetization/src/generation/prover_input.rs
  evm_arithmetization/src/generation/segments.rs
  evm_arithmetization/src/generation/state.rs
  evm_arithmetization/src/lib.rs
  evm_arithmetization/src/witness/operation.rs
  evm_arithmetization/src/witness/transition.rs
Labels: crate: evm_arithmetization

readd CREATE1/2
  zero/src/rpc/jumpdest.rs
Labels: crate: zero_bin

test 29 with 1hr timeout
  scripts/test_new_chain.sh
Labels: none

chore: update description
  scripts/xtask.rs
Labels: none

fix(ci): pin kurtosis version
  .github/workflows/jerigon-native.yml
  .github/workflows/jerigon-zero.yml
Labels: ci

ci: warn on outdated top level dependencies (#757)
  .cargo/config.toml
  .github/workflows/jerigon-native.yml
  .github/workflows/jerigon-zero.yml
  .github/workflows/lint.yml
  Cargo.lock
  Cargo.toml
  scripts/Cargo.toml
  scripts/xtask.rs
Labels: ci

remove timeouts
  scripts/test_new_chain.sh
Labels: none

add exit code 7 and 8
  scripts/prove_stdio.sh
  scripts/test_new_chain.sh
Labels: none

test error codes
  scripts/prove_stdio.sh
  scripts/test_new_chain.sh
Labels: none

Start moving world to evm_arithmetization
  Cargo.lock
  Cargo.toml
  evm_arithmetization/Cargo.toml
  evm_arithmetization/src/generation/mod.rs
  evm_arithmetization/src/generation/mpt.rs
  evm_arithmetization/src/generation/prover_input.rs
  evm_arithmetization/src/generation/state.rs
  evm_arithmetization/src/lib.rs
  evm_arithmetization/src/world/mod.rs
  evm_arithmetization/src/world/tries.rs
  evm_arithmetization/src/world/type1.rs
  evm_arithmetization/src/world/type2.rs
  evm_arithmetization/src/world/wire.rs
  evm_arithmetization/src/world/world.rs
  trace_decoder/src/lib.rs
Labels: crate: evm_arithmetization, crate: trace_decoder

feat: use abort signal for proving tasks
  Cargo.lock
  Cargo.toml
  artifacts/witness_b1033.json
  zero/src/bin/leader.rs
  zero/src/ops.rs
  zero/src/prover_state/mod.rs
Labels: crate: zero_bin

feat: docker compose setup for proving test
  scripts/docker-compose.yml
  scripts/prove_stdio_docker_compose.sh
  zero/README.md
Labels: crate: zero_bin

fix: number of workers
  scripts/docker-compose.yml
Labels: none

fix: nit
  scripts/docker-compose.yml
  scripts/prove_stdio_docker_compose.sh
Labels: none

fix: cleanup
  scripts/docker-compose.yml
  scripts/prove_stdio_docker_compose.sh
Labels: none

Reapply "fix (#738)"
  evm_arithmetization/src/generation/mod.rs
  evm_arithmetization/src/witness/traces.rs
Labels: crate: evm_arithmetization

Add warning when the last MemAfter is not empty
  evm_arithmetization/src/generation/mod.rs
Labels: crate: evm_arithmetization

Apply comment
  evm_arithmetization/src/cpu/kernel/asm/core/create.asm
Labels: crate: evm_arithmetization

fix: abort signal
  Cargo.lock
  zero/src/prover_state/mod.rs
Labels: crate: zero_bin

Full chain
  scripts/test_new_chain.sh
Labels: none

don't insert code
  zero/src/rpc/jumpdest.rs
Labels: crate: zero_bin

WIP
  zero/src/rpc/jumpdest.rs
Labels: crate: zero_bin

WIP
  scripts/test_new_chain.sh
Labels: none

WIP
  scripts/test_new_chain.sh
Labels: none

WIP
  scripts/test_new_chain.sh
Labels: none

progressive
  evm_arithmetization/src/cpu/kernel/interpreter.rs
  evm_arithmetization/src/generation/jumpdest.rs
  evm_arithmetization/src/generation/prover_input.rs
  zero/src/rpc/jumpdest.rs
Labels: crate: evm_arithmetization, crate: zero_bin

test_new_chain
  scripts/test_new_chain.sh
Labels: none

.
  evm_arithmetization/src/generation/prover_input.rs
  scripts/test_new_chain.sh
Labels: crate: evm_arithmetization

.github/labeler.yml:

---  # Github labeler configuration file

# Add 'crate: mpt_trie' label to any changes within 'mpt_trie' folder.
'crate: mpt_trie':
  - changed-files:
      - any-glob-to-any-file: mpt_trie/**

# Add 'crate: evm_arithmetization' label to any changes within 'evm_arithmetization' folder.
'crate: evm_arithmetization':
  - changed-files:
      - any-glob-to-any-file: evm_arithmetization/**

# Add 'crate: trace_decoder' label to any changes within 'trace_decoder' folder.
'crate: trace_decoder':
  - changed-files:
      - any-glob-to-any-file: trace_decoder/**

# Add 'crate: zero_bin' label to any changes within 'zero' folder.
'crate: zero_bin':
  - changed-files:
      - any-glob-to-any-file: zero/**

# Add 'specs' label to any changes within 'docs' or `book` folder.
'specs':
  - changed-files:
      - any-glob-to-any-file: ['docs/**', 'book/**']

# Add 'crate: common' label to any changes within 'common' folder.
'crate: common':
  - changed-files:
      - any-glob-to-any-file: common/**

# Add 'ci' label to any changes within '.github' folder.
'ci':
  - changed-files:
      - any-glob-to-any-file: .github/**
