Repository 0xPolygonZero/zk_evm, pull requests merged in 2024-03, with the labels that each got.

#78 Fix blake2 precompile
  CHANGELOG.md
  evm_arithmetization/src/cpu/kernel/asm/core/precompiles/blake2_f.asm
Labels: bug, crate: evm_arithmetization

#79 Cleanup needless imports
  evm_arithmetization/src/arithmetic/addcy.rs
  evm_arithmetization/src/arithmetic/arithmetic_stark.rs
  evm_arithmetization/src/arithmetic/byte.rs
  evm_arithmetization/src/arithmetic/divmod.rs
  evm_arithmetization/src/arithmetic/modular.rs
  evm_arithmetization/src/arithmetic/mul.rs
  evm_arithmetization/src/arithmetic/shift.rs
  evm_arithmetization/src/cpu/kernel/interpreter.rs
  evm_arithmetization/src/cpu/kernel/tests/account_code.rs
  evm_arithmetization/src/cpu/kernel/tests/add11.rs
  evm_arithmetization/src/cpu/kernel/tests/core/access_lists.rs
  evm_arithmetization/src/cpu/kernel/tests/core/jumpdest_analysis.rs
  evm_arithmetization/src/generation/mod.rs
  evm_arithmetization/src/generation/prover_input.rs
  evm_arithmetization/src/generation/state.rs
  evm_arithmetization/src/memory/segments.rs
  evm_arithmetization/src/util.rs
  evm_arithmetization/src/witness/operation.rs
  evm_arithmetization/src/witness/traces.rs
  evm_arithmetization/src/witness/transition.rs
  evm_arithmetization/src/witness/util.rs
Labels: crate: evm_arithmetization

#77 Fix Cycle count in logs for interpreter
  CHANGELOG.md
  evm_arithmetization/src/cpu/kernel/interpreter.rs
  evm_arithmetization/src/generation/state.rs
  evm_arithmetization/src/witness/transition.rs
Labels: bug, crate: evm_arithmetization

#76 Creating sub-tries now never hashes leaves
  mpt_trie/src/trie_subsets.rs
Labels: crate: mpt_trie

#89 Fix generation inputs logging pre-transaction execution
  CHANGELOG.md
  evm_arithmetization/src/cpu/kernel/interpreter.rs
  evm_arithmetization/src/generation/mod.rs
  evm_arithmetization/src/generation/state.rs
Labels: bug, crate: evm_arithmetization

#88 Reduce state trie size for dummy payloads
  CHANGELOG.md
  trace_decoder/src/decoding.rs
Labels: optimization, crate: trace_decoder

#83 Reduce cloning overhead
  evm_arithmetization/src/cpu/kernel/interpreter.rs
  evm_arithmetization/src/cpu/kernel/tests/add11.rs
  evm_arithmetization/src/generation/mod.rs
  evm_arithmetization/src/generation/prover_input.rs
  evm_arithmetization/src/generation/state.rs
  evm_arithmetization/src/prover.rs
Labels: crate: evm_arithmetization

#84 Unify MemBefore and MemAfer
  evm_arithmetization/src/all_stark.rs
  evm_arithmetization/src/fixed_recursive_verifier.rs
  evm_arithmetization/src/lib.rs
  evm_arithmetization/src/mem_after/columns.rs
  evm_arithmetization/src/mem_after/mem_after_stark.rs
  evm_arithmetization/src/mem_before/mod.rs
  evm_arithmetization/src/memory_continuation/columns.rs
  evm_arithmetization/src/memory_continuation/memory_continuation_stark.rs
  evm_arithmetization/src/memory_continuation/mod.rs
  evm_arithmetization/src/proof.rs
  evm_arithmetization/src/prover.rs
  evm_arithmetization/src/recursive_verifier.rs
  evm_arithmetization/src/witness/traces.rs
Labels: crate: evm_arithmetization

#59 Eip 1153 (TLOAD/TSTORE)
  evm_arithmetization/src/cpu/kernel/aggregator.rs
  evm_arithmetization/src/cpu/kernel/asm/core/exception.asm
  evm_arithmetization/src/cpu/kernel/asm/core/syscall.asm
  evm_arithmetization/src/cpu/kernel/asm/journal/journal.asm
  evm_arithmetization/src/cpu/kernel/asm/journal/revert.asm
  evm_arithmetization/src/cpu/kernel/asm/journal/transient_storage_change.asm
  evm_arithmetization/src/cpu/kernel/asm/memory/transient_storage.asm
  evm_arithmetization/src/cpu/kernel/constants/exc_bitfields.rs
  evm_arithmetization/src/cpu/kernel/constants/global_metadata.rs
  evm_arithmetization/src/cpu/kernel/constants/journal_entry.rs
  evm_arithmetization/src/cpu/kernel/opcodes.rs
  evm_arithmetization/src/cpu/kernel/stack/permutations.rs
  evm_arithmetization/src/cpu/kernel/tests/checkpoint_label.asm
  evm_arithmetization/src/cpu/kernel/tests/mod.rs
  evm_arithmetization/src/cpu/kernel/tests/transient_storage.rs
  evm_arithmetization/src/memory/segments.rs
  evm_arithmetization/src/witness/transition.rs
Labels: crate: evm_arithmetization

#99 A small clippy fix
  evm_arithmetization/src/cpu/kernel/stack/permutations.rs
Labels: crate: evm_arithmetization

#101 Fix simulation output result
  evm_arithmetization/src/prover.rs
Labels: crate: evm_arithmetization

#100 Remove `blobbasefee` from block header
  evm_arithmetization/src/cpu/kernel/asm/memory/metadata.asm
  evm_arithmetization/src/cpu/kernel/constants/global_metadata.rs
  evm_arithmetization/src/cpu/kernel/constants/mod.rs
  evm_arithmetization/src/cpu/kernel/interpreter.rs
  evm_arithmetization/src/generation/mod.rs
  evm_arithmetization/src/generation/prover_input.rs
  evm_arithmetization/src/recursive_verifier.rs
  evm_arithmetization/src/verifier.rs
Labels: crate: evm_arithmetization

#103 Fix `MCOPY` from rebasing
  evm_arithmetization/src/cpu/kernel/asm/core/exception.asm
  evm_arithmetization/src/cpu/kernel/asm/core/syscall.asm
  evm_arithmetization/src/cpu/kernel/constants/exc_bitfields.rs
Labels: bug, crate: evm_arithmetization

#98 Added a test for trie cloning
  mpt_trie/src/trie_ops.rs
Labels: crate: mpt_trie

#97 Now prunes tries properly (and more aggressively!) without hack
  CHANGELOG.md
  mpt_trie/src/debug_tools/query.rs
  mpt_trie/src/nibbles.rs
  mpt_trie/src/special_query.rs
  mpt_trie/src/trie_subsets.rs
  mpt_trie/src/utils.rs
  trace_decoder/src/decoding.rs
  trace_decoder/src/processed_block_trace.rs
  trace_decoder/src/types.rs
Labels: crate: trace_decoder, crate: mpt_trie

#102 Fix storage write for beacons root contract
  evm_arithmetization/src/cpu/kernel/asm/beacon_roots.asm
  evm_arithmetization/src/cpu/kernel/asm/global_exit_root.asm
  evm_arithmetization/src/testing_utils.rs
  evm_arithmetization/tests/empty_txn_list.rs
  evm_arithmetization/tests/global_exit_root.rs
  evm_arithmetization/tests/withdrawals.rs
Labels: bug, crate: evm_arithmetization

#75 Fixed trie hash collision issue when constructing storage tries
  CHANGELOG.md
  trace_decoder/src/compact/compact_prestate_processing.rs
  trace_decoder/src/compact/compact_to_partial_trie.rs
  trace_decoder/src/types.rs
Labels: crate: trace_decoder

#107 Add dependency graph in README
  README.md
Labels: documentation

#109 Add clock to GenerationStateCheckpoint and fix interpreter rollback
  CHANGELOG.md
  evm_arithmetization/src/cpu/kernel/interpreter.rs
  evm_arithmetization/src/generation/state.rs
Labels: crate: evm_arithmetization

#111 Add trimmed inputs to `ExtraSegmentData`
  evm_arithmetization/src/cpu/kernel/interpreter.rs
  evm_arithmetization/src/prover.rs
Labels: crate: evm_arithmetization

#110 Fix trace lengths
  evm_arithmetization/src/generation/mod.rs
  evm_arithmetization/src/memory/memory_stark.rs
  evm_arithmetization/src/witness/traces.rs
Labels: crate: evm_arithmetization

#114 Merge clock fix
  CHANGELOG.md
  README.md
  evm_arithmetization/src/cpu/kernel/interpreter.rs
  evm_arithmetization/src/generation/state.rs
Labels: crate: evm_arithmetization

#115 Bumped all sub-crates
  CHANGELOG.md
  evm_arithmetization/Cargo.toml
  mpt_trie/Cargo.toml
  proof_gen/Cargo.toml
  trace_decoder/Cargo.toml
Labels: crate: trace_decoder, crate: proof_gen, crate: evm_arithmetization, crate: mpt_trie

#120 Update dependencies
  CHANGELOG.md
  Cargo.toml
  evm_arithmetization/Cargo.toml
  mpt_trie/Cargo.toml
  proof_gen/Cargo.toml
  trace_decoder/Cargo.toml
Labels: crate: trace_decoder, crate: proof_gen, crate: evm_arithmetization, crate: mpt_trie

#117 Charge gas before SLOAD and refactor `insert_accessed_storage_keys`
  evm_arithmetization/src/cpu/kernel/asm/core/access_lists.asm
  evm_arithmetization/src/cpu/kernel/asm/mpt/storage/storage_read.asm
  evm_arithmetization/src/cpu/kernel/asm/mpt/storage/storage_write.asm
  evm_arithmetization/src/cpu/kernel/asm/transactions/common_decoding.asm
  evm_arithmetization/src/cpu/kernel/tests/core/access_lists.rs
Labels: crate: evm_arithmetization

#118 Mpt trie panic refactor
  evm_arithmetization/tests/add11_yml.rs
  evm_arithmetization/tests/basic_smart_contract.rs
  evm_arithmetization/tests/erc20.rs
  evm_arithmetization/tests/erc721.rs
  evm_arithmetization/tests/log_opcode.rs
  evm_arithmetization/tests/self_balance_gas_cost.rs
  evm_arithmetization/tests/selfdestruct.rs
  evm_arithmetization/tests/simple_transfer.rs
  evm_arithmetization/tests/withdrawals.rs
  mpt_trie/examples/ethereum_trie.rs
  mpt_trie/examples/hash_nodes.rs
  mpt_trie/examples/simple.rs
  mpt_trie/src/debug_tools/diff.rs
  mpt_trie/src/debug_tools/stats.rs
  mpt_trie/src/partial_trie.rs
  mpt_trie/src/special_query.rs
  mpt_trie/src/testing_utils.rs
  mpt_trie/src/trie_hashing.rs
  mpt_trie/src/trie_ops.rs
  mpt_trie/src/trie_subsets.rs
  mpt_trie/src/utils.rs
  trace_decoder/src/decoding.rs
Labels: crate: trace_decoder, crate: evm_arithmetization, crate: mpt_trie

#124 Charge cold access cost in *CALL* before accessing state
  evm_arithmetization/src/cpu/kernel/asm/core/call_gas.asm
Labels: crate: evm_arithmetization
