Repository 0xPolygonZero/zk_evm, pull requests merged in 2024-05, with the labels that each got.

#204 Added a feature flag to disable `jemalloc`
  evm_arithmetization/Cargo.toml
  evm_arithmetization/src/lib.rs
Labels: crate: evm_arithmetization

#209 Insert blob versioned hashes in signature payload for hashing
  evm_arithmetization/src/cpu/kernel/asm/transactions/type_3.asm
Labels: crate: evm_arithmetization

#210 Fix-kzg-precompile-init
  evm_arithmetization/src/cpu/kernel/asm/core/precompiles/blake2_f.asm
  evm_arithmetization/src/cpu/kernel/asm/core/precompiles/kzg_peval.asm
Labels: crate: evm_arithmetization

#208 Remove print call in `trace_decoder`
  trace_decoder/src/utils.rs
Labels: crate: trace_decoder

#214 Fix receipts for type-3 txns
  evm_arithmetization/src/cpu/kernel/asm/core/create_receipt.asm
  evm_arithmetization/src/cpu/kernel/asm/mpt/hash/hash_trie_specific.asm
Labels: crate: evm_arithmetization

#219 Add blob gas fee burn for type-3 txns
  evm_arithmetization/src/cpu/kernel/asm/core/precompiles/main.asm
  evm_arithmetization/src/cpu/kernel/asm/core/process_txn.asm
  evm_arithmetization/src/cpu/kernel/asm/transactions/type_3.asm
  evm_arithmetization/src/cpu/kernel/constants/mod.rs
  evm_arithmetization/src/generation/prover_input.rs
Labels: crate: evm_arithmetization

#197 Initial refactoring for SMT & Contination support in `trace_decoder`
  mpt_trie/src/nibbles.rs
  mpt_trie/src/trie_ops.rs
  trace_decoder/Cargo.toml
  trace_decoder/src/aliased_crate_types.rs
  trace_decoder/src/compact/compact_prestate_processing.rs
  trace_decoder/src/compact/compact_to_partial_trie.rs
  trace_decoder/src/compact/complex_test_payloads.rs
  trace_decoder/src/decoding.rs
  trace_decoder/src/decoding_mpt.rs
  trace_decoder/src/decoding_smt.rs
  trace_decoder/src/lib.rs
  trace_decoder/src/processed_block_trace.rs
  trace_decoder/src/processed_block_trace_mpt.rs
  trace_decoder/src/processed_block_trace_smt.rs
  trace_decoder/src/protocol_processing.rs
  trace_decoder/src/trace_protocol.rs
  trace_decoder/src/types.rs
Labels: crate: trace_decoder, crate: mpt_trie

#207 Update decoder processing for cancun
  trace_decoder/src/decoding.rs
  trace_decoder/src/processed_block_trace.rs
Labels: crate: trace_decoder

#213 Fix KZG precompile I/O
  evm_arithmetization/Cargo.toml
  evm_arithmetization/src/cpu/kernel/asm/core/precompiles/kzg_peval.asm
  evm_arithmetization/src/cpu/kernel/tests/bls381.rs
  evm_arithmetization/src/cpu/kernel/tests/hash.rs
  evm_arithmetization/src/generation/prover_input.rs
  evm_arithmetization/src/util.rs
Labels: crate: evm_arithmetization

#225 cancun: Fix EIP-6780 implementation
  evm_arithmetization/src/cpu/kernel/asm/core/create_contract_account.asm
Labels: bug, crate: evm_arithmetization

#169 feat: add a few usability functions to the interface
  CHANGELOG.md
  mpt_trie/src/nibbles.rs
  mpt_trie/src/partial_trie.rs
  mpt_trie/src/trie_ops.rs
  mpt_trie/src/trie_subsets.rs
Labels: crate: mpt_trie

#228 Fix withdrawals without txns and add test for empty block
  trace_decoder/src/decoding.rs
  trace_decoder/tests/b19840104_trace.json
  trace_decoder/tests/test_parsing_and_proving.rs
Labels: bug, crate: trace_decoder

#238 fix: Revert interpreter stack display
  evm_arithmetization/src/cpu/kernel/interpreter.rs
Labels: crate: evm_arithmetization

#235 feat(continuations): trim public values at block proof level
  evm_arithmetization/src/fixed_recursive_verifier.rs
  evm_arithmetization/src/proof.rs
  evm_arithmetization/tests/empty_txn_list.rs
Labels: crate: evm_arithmetization

#242 doc(cancun): update README
  evm_arithmetization/README.md
Labels: documentation, crate: evm_arithmetization

#232 chore(cancun): Cleanup and bring back `dead_code` lint for `evm_arithmetization`
  evm_arithmetization/src/arithmetic/addcy.rs
  evm_arithmetization/src/cpu/columns/general.rs
  evm_arithmetization/src/cpu/kernel/constants/txn_fields.rs
  evm_arithmetization/src/cpu/kernel/interpreter.rs
  evm_arithmetization/src/cpu/kernel/mod.rs
  evm_arithmetization/src/cpu/kernel/parser.rs
  evm_arithmetization/src/cpu/kernel/tests/account_code.rs
  evm_arithmetization/src/cpu/kernel/tests/add11.rs
  evm_arithmetization/src/cpu/kernel/tests/balance.rs
  evm_arithmetization/src/cpu/kernel/tests/blobhash.rs
  evm_arithmetization/src/cpu/kernel/tests/bls381.rs
  evm_arithmetization/src/cpu/kernel/tests/core/access_lists.rs
  evm_arithmetization/src/cpu/kernel/tests/core/jumpdest_analysis.rs
  evm_arithmetization/src/cpu/kernel/tests/mpt/insert.rs
  evm_arithmetization/src/cpu/kernel/tests/transaction_parsing/parse_type_0_txn.rs
  evm_arithmetization/src/cpu/kernel/tests/transient_storage.rs
  evm_arithmetization/src/curve_pairings.rs
  evm_arithmetization/src/generation/prover_input.rs
  evm_arithmetization/src/generation/state.rs
  evm_arithmetization/src/generation/trie_extractor.rs
  evm_arithmetization/src/lib.rs
  evm_arithmetization/src/memory/segments.rs
  evm_arithmetization/src/testing_utils.rs
  evm_arithmetization/src/util.rs
  evm_arithmetization/src/verifier.rs
Labels: crate: evm_arithmetization

#247 fix: `clippy::doc_lazy_continuation`
  evm_arithmetization/src/arithmetic/addcy.rs
  evm_arithmetization/src/cpu/decode.rs
  evm_arithmetization/src/fixed_recursive_verifier.rs
  evm_arithmetization/src/prover.rs
Labels: crate: evm_arithmetization

#239 perf: Improve blake2 precompile
  evm_arithmetization/src/cpu/kernel/asm/core/precompiles/blake2_f.asm
  evm_arithmetization/src/cpu/kernel/asm/hash/blake2/g_functions.asm
  evm_arithmetization/src/cpu/kernel/asm/hash/blake2/hash.asm
  evm_arithmetization/src/cpu/kernel/asm/hash/blake2/iv.asm
  evm_arithmetization/src/cpu/kernel/asm/hash/blake2/ops.asm
  evm_arithmetization/src/cpu/kernel/asm/hash/blake2/permutations.asm
Labels: performance, crate: evm_arithmetization

#249 fix(cancun): dummy payloads and public input retrieval
  evm_arithmetization/src/proof.rs
  trace_decoder/src/decoding.rs
Labels: bug, crate: trace_decoder, crate: evm_arithmetization

#253 fix(cancun): encode calldata for EIP-4780 as `U256`
  trace_decoder/src/decoding.rs
Labels: bug, crate: trace_decoder

#251 fix(cancun): handle KZG precompile errors properly
  evm_arithmetization/src/cpu/kernel/asm/core/precompiles/kzg_peval.asm
  evm_arithmetization/src/cpu/kernel/tests/bls381.rs
  evm_arithmetization/src/generation/prover_input.rs
Labels: bug, crate: evm_arithmetization

#255 fix: rustdoc
  .github/workflows/ci.yml
  evm_arithmetization/src/byte_packing/byte_packing_stark.rs
  mpt_trie/src/debug_tools/common.rs
  mpt_trie/src/debug_tools/diff.rs
  mpt_trie/src/debug_tools/mod.rs
  mpt_trie/src/debug_tools/query.rs
  mpt_trie/src/partial_trie.rs
  mpt_trie/src/trie_ops.rs
  trace_decoder/src/decoding.rs
  trace_decoder/src/lib.rs
Labels: crate: trace_decoder, crate: evm_arithmetization, crate: mpt_trie

#254 fix(cancun): revamp `MCOPY` with overlapping
  evm_arithmetization/src/cpu/kernel/asm/memory/memcpy.asm
  evm_arithmetization/src/cpu/kernel/asm/memory/syscalls.asm
  evm_arithmetization/src/cpu/kernel/tests/mcopy.rs
  evm_arithmetization/src/cpu/kernel/tests/mod.rs
Labels: crate: evm_arithmetization

#252 fix(cancun): `mcopy` check offsets
  evm_arithmetization/src/cpu/kernel/asm/memory/memcpy.asm
  evm_arithmetization/src/cpu/kernel/asm/memory/syscalls.asm
  evm_arithmetization/src/cpu/kernel/tests/mcopy.rs
  evm_arithmetization/src/cpu/kernel/tests/mod.rs
Labels: bug, crate: evm_arithmetization

#227 Bring back support for multi-txn batches
  evm_arithmetization/src/cpu/kernel/asm/core/access_lists.asm
  evm_arithmetization/src/cpu/kernel/asm/core/create_receipt.asm
  evm_arithmetization/src/cpu/kernel/asm/core/process_txn.asm
  evm_arithmetization/src/cpu/kernel/asm/main.asm
  evm_arithmetization/src/cpu/kernel/asm/rlp/increment_bounded_rlp.asm
  evm_arithmetization/src/cpu/kernel/interpreter.rs
  evm_arithmetization/src/cpu/kernel/tests/add11.rs
  evm_arithmetization/src/cpu/kernel/tests/init_exc_stop.rs
  evm_arithmetization/src/generation/mod.rs
  evm_arithmetization/src/generation/prover_input.rs
  evm_arithmetization/src/generation/rlp.rs
  evm_arithmetization/src/generation/state.rs
  evm_arithmetization/src/prover.rs
  evm_arithmetization/tests/add11_yml.rs
  evm_arithmetization/tests/basic_smart_contract.rs
  evm_arithmetization/tests/empty_txn_list.rs
  evm_arithmetization/tests/erc20.rs
  evm_arithmetization/tests/erc721.rs
  evm_arithmetization/tests/log_opcode.rs
  evm_arithmetization/tests/self_balance_gas_cost.rs
  evm_arithmetization/tests/selfdestruct.rs
  evm_arithmetization/tests/simple_transfer.rs
  evm_arithmetization/tests/withdrawals.rs
  trace_decoder/src/decoding.rs
  trace_decoder/src/processed_block_trace.rs
Labels: crate: trace_decoder, crate: evm_arithmetization
