Repository 0xPolygonZero/zk_evm, pull requests merged in 2024-02, with the labels that each got.

#37 Add `mpt_trie` missing docs
  mpt_trie/src/debug_tools/common.rs
  mpt_trie/src/debug_tools/diff.rs
  mpt_trie/src/debug_tools/query.rs
  mpt_trie/src/debug_tools/stats.rs
  mpt_trie/src/lib.rs
  mpt_trie/src/nibbles.rs
  mpt_trie/src/partial_trie.rs
  mpt_trie/src/trie_ops.rs
  mpt_trie/src/trie_subsets.rs
Labels: documentation, crate: mpt_trie

#43 Withdrawls not in state trie fix
  trace_decoder/src/decoding.rs
Labels: bug, crate: trace_decoder

#44 Code hash resolve fix + cleanup
  trace_decoder/src/processed_block_trace.rs
Labels: bug, crate: trace_decoder

#42 Update `PROVER_INPUT` opcode value
  docs/arithmetization/cpulogic.tex
  evm_arithmetization/src/cpu/control_flow.rs
  evm_arithmetization/src/cpu/cpu_stark.rs
  evm_arithmetization/src/cpu/decode.rs
  evm_arithmetization/src/cpu/gas.rs
  evm_arithmetization/src/cpu/kernel/interpreter.rs
  evm_arithmetization/src/cpu/kernel/opcodes.rs
  evm_arithmetization/src/witness/operation.rs
  evm_arithmetization/src/witness/transition.rs
Labels: crate: evm_arithmetization

#40 Implement EIP-4788 for Cancun
  docs/arithmetization/cpulogic.tex
  evm_arithmetization/src/cpu/control_flow.rs
  evm_arithmetization/src/cpu/cpu_stark.rs
  evm_arithmetization/src/cpu/decode.rs
  evm_arithmetization/src/cpu/gas.rs
  evm_arithmetization/src/cpu/kernel/aggregator.rs
  evm_arithmetization/src/cpu/kernel/asm/beacon_roots.asm
  evm_arithmetization/src/cpu/kernel/asm/main.asm
  evm_arithmetization/src/cpu/kernel/asm/memory/metadata.asm
  evm_arithmetization/src/cpu/kernel/asm/mpt/accounts.asm
  evm_arithmetization/src/cpu/kernel/asm/mpt/insert/insert.asm
  evm_arithmetization/src/cpu/kernel/asm/mpt/read.asm
  evm_arithmetization/src/cpu/kernel/constants/global_metadata.rs
  evm_arithmetization/src/cpu/kernel/constants/mod.rs
  evm_arithmetization/src/cpu/kernel/interpreter.rs
  evm_arithmetization/src/cpu/kernel/mod.rs
  evm_arithmetization/src/cpu/kernel/opcodes.rs
  evm_arithmetization/src/cpu/kernel/tests/add11.rs
  evm_arithmetization/src/generation/mod.rs
  evm_arithmetization/src/get_challenges.rs
  evm_arithmetization/src/lib.rs
  evm_arithmetization/src/proof.rs
  evm_arithmetization/src/recursive_verifier.rs
  evm_arithmetization/src/testing_utils.rs
  evm_arithmetization/src/verifier.rs
  evm_arithmetization/src/witness/operation.rs
  evm_arithmetization/src/witness/transition.rs
  evm_arithmetization/tests/add11_yml.rs
  evm_arithmetization/tests/basic_smart_contract.rs
  evm_arithmetization/tests/empty_txn_list.rs
  evm_arithmetization/tests/erc20.rs
  evm_arithmetization/tests/erc721.rs
  evm_arithmetization/tests/log_opcode.rs
  evm_arithmetization/tests/self_balance_gas_cost.rs
  evm_arithmetization/tests/selfdestruct.rs
  evm_arithmetization/tests/simple_transfer.rs
  evm_arithmetization/tests/withdrawals.rs
Labels: crate: evm_arithmetization

#48 fix(evm_arithmetization): remove duplicate constraint in keccak_stark
  evm_arithmetization/src/keccak/keccak_stark.rs
  evm_arithmetization/src/keccak/round_flags.rs
Labels: soundness

#51 fix(evm_arithmetization): constrain keccak round flags to bits
  evm_arithmetization/src/keccak/round_flags.rs
Labels: soundness

#39 Additional tooling for allowing aggresive pruning logic
  mpt_trie/src/debug_tools/common.rs
  mpt_trie/src/debug_tools/diff.rs
  mpt_trie/src/debug_tools/query.rs
  mpt_trie/src/lib.rs
  mpt_trie/src/nibbles.rs
  mpt_trie/src/special_query.rs
  mpt_trie/src/trie_subsets.rs
  mpt_trie/src/utils.rs
Labels: optimization, crate: mpt_trie

#30 Refactor access lists
  evm_arithmetization/src/cpu/kernel/asm/core/access_lists.asm
  evm_arithmetization/src/cpu/kernel/asm/journal/account_loaded.asm
  evm_arithmetization/src/cpu/kernel/asm/journal/journal.asm
  evm_arithmetization/src/cpu/kernel/asm/main.asm
  evm_arithmetization/src/cpu/kernel/asm/util/assertions.asm
  evm_arithmetization/src/cpu/kernel/tests/account_code.rs
  evm_arithmetization/src/cpu/kernel/tests/core/access_lists.rs
  evm_arithmetization/src/generation/prover_input.rs
Labels: optimization, crate: evm_arithmetization

#61 Bring latest `main` to `feat/cancun`
  CHANGELOG.md
  Cargo.toml
  README.md
  SECURITY.md
  docs/usage_seq_diagrams.md
  evm_arithmetization/Cargo.toml
  evm_arithmetization/src/cpu/kernel/asm/core/access_lists.asm
  evm_arithmetization/src/cpu/kernel/asm/journal/account_loaded.asm
  evm_arithmetization/src/cpu/kernel/asm/journal/journal.asm
  evm_arithmetization/src/cpu/kernel/asm/main.asm
  evm_arithmetization/src/cpu/kernel/asm/util/assertions.asm
  evm_arithmetization/src/cpu/kernel/tests/account_code.rs
  evm_arithmetization/src/cpu/kernel/tests/core/access_lists.rs
  evm_arithmetization/src/generation/prover_input.rs
  evm_arithmetization/src/keccak/keccak_stark.rs
  evm_arithmetization/src/keccak/round_flags.rs
  mpt_trie/Cargo.toml
  mpt_trie/src/debug_tools/common.rs
  mpt_trie/src/debug_tools/diff.rs
  mpt_trie/src/debug_tools/query.rs
  mpt_trie/src/debug_tools/stats.rs
  mpt_trie/src/lib.rs
  mpt_trie/src/nibbles.rs
  mpt_trie/src/partial_trie.rs
  mpt_trie/src/special_query.rs
  mpt_trie/src/trie_ops.rs
  mpt_trie/src/trie_subsets.rs
  mpt_trie/src/utils.rs
  proof_gen/Cargo.toml
  proof_gen/README.md
  trace_decoder/Cargo.toml
  trace_decoder/README.md
  trace_decoder/src/decoding.rs
  trace_decoder/src/lib.rs
  trace_decoder/src/processed_block_trace.rs
Labels: crate: evm_arithmetization

#36 Add non jumpdests
  CHANGELOG.md
  evm_arithmetization/src/cpu/kernel/asm/core/exception.asm
  evm_arithmetization/src/cpu/kernel/asm/core/jumpdest_analysis.asm
  evm_arithmetization/src/cpu/kernel/interpreter.rs
  evm_arithmetization/src/cpu/kernel/tests/core/jumpdest_analysis.rs
  evm_arithmetization/src/generation/prover_input.rs
Labels: crate: evm_arithmetization, soundness

#63 Fix trace decoder padding with dummy payloads
  CHANGELOG.md
  trace_decoder/src/decoding.rs
Labels: bug

#62 Update location of `ENCODED_EMPTY_NODE`
  CHANGELOG.md
  evm_arithmetization/src/cpu/kernel/asm/core/create_receipt.asm
  evm_arithmetization/src/cpu/kernel/asm/main.asm
  evm_arithmetization/src/cpu/kernel/asm/mpt/hash/hash.asm
  evm_arithmetization/src/cpu/kernel/asm/mpt/util.asm
  evm_arithmetization/src/cpu/kernel/asm/rlp/read_to_memory.asm
  evm_arithmetization/src/cpu/kernel/asm/transactions/router.asm
  evm_arithmetization/src/cpu/kernel/asm/transactions/type_0.asm
  evm_arithmetization/src/cpu/kernel/asm/transactions/type_1.asm
  evm_arithmetization/src/cpu/kernel/asm/transactions/type_2.asm
  evm_arithmetization/src/cpu/kernel/constants/global_metadata.rs
  evm_arithmetization/src/cpu/kernel/constants/mod.rs
  evm_arithmetization/src/cpu/kernel/interpreter.rs
  evm_arithmetization/src/cpu/kernel/tests/mpt/hex_prefix.rs
  evm_arithmetization/src/cpu/kernel/tests/receipt.rs
  evm_arithmetization/src/cpu/kernel/tests/rlp/encode.rs
  evm_arithmetization/src/cpu/kernel/tests/transaction_parsing/parse_type_0_txn.rs
  evm_arithmetization/src/memory/segments.rs
  evm_arithmetization/src/witness/memory.rs
Labels: crate: evm_arithmetization

#64 Document trace-decoder.
  trace_decoder/src/decoding.rs
  trace_decoder/src/lib.rs
  trace_decoder/src/processed_block_trace.rs
  trace_decoder/src/trace_protocol.rs
  trace_decoder/src/types.rs
Labels: documentation, crate: trace_decoder

#70 Fix beacons root contract bytecode
  evm_arithmetization/src/cpu/kernel/constants/mod.rs
Labels: bug

#71 Add utility method for testing CPU execution
  CHANGELOG.md
  evm_arithmetization/src/cpu/kernel/tests/add11.rs
  evm_arithmetization/src/prover.rs
Labels: crate: evm_arithmetization
