Repository 0xPolygonZero/zk_evm, pull requests merged in 2024-11, with the labels that each got.

#754 chore: remove conditional ci execution
  .github/workflows/ci.yml
  .github/workflows/jerigon-native.yml
  .github/workflows/jerigon-zero.yml
  .github/workflows/pr_checking.yml
Labels: ci

#756 feat: add yaml linter
  .github/actions/rust/action.yml
  .github/labeler.yml
  .github/workflows/audit.yml
  .github/workflows/book.yml
  .github/workflows/ci.yml
  .github/workflows/docker_build.yml
  .github/workflows/docker_build_push.yml
  .github/workflows/jerigon-native.yml
  .github/workflows/jerigon-zero.yml
  .github/workflows/labeler.yml
  .github/workflows/lint.yml
  .github/workflows/pr_checking.yml
  .github/workflows/yamllint.yml
Labels: ci

#758 Replace regex in trie diff main
  Cargo.lock
  zero/Cargo.toml
  zero/src/bin/trie_diff.rs
Labels: crate: zero_bin

#753 feat: add ci shellcheck
  .github/workflows/pr_checking.yml
  .github/workflows/shellcheck.yml
  scripts/prove_stdio.sh
Labels: ci

#739 Add faster STARK configuration for testing purposes
  evm_arithmetization/src/fixed_recursive_verifier.rs
  evm_arithmetization/src/testing_utils.rs
  evm_arithmetization/tests/add11_yml.rs
  evm_arithmetization/tests/empty_tables.rs
  evm_arithmetization/tests/erc20.rs
  evm_arithmetization/tests/erc721.rs
  evm_arithmetization/tests/global_exit_root.rs
  evm_arithmetization/tests/log_opcode.rs
  evm_arithmetization/tests/selfdestruct.rs
  evm_arithmetization/tests/simple_transfer.rs
  evm_arithmetization/tests/two_to_one_block.rs
  evm_arithmetization/tests/withdrawals.rs
  zero/src/prover_state/circuit.rs
Labels: crate: evm_arithmetization, crate: zero_bin

#742 Add test config in zero bin
  evm_arithmetization/src/fixed_recursive_verifier.rs
  zero/src/prover_state/circuit.rs
  zero/src/prover_state/cli.rs
  zero/src/prover_state/mod.rs
Labels: crate: evm_arithmetization, crate: zero_bin

#771 ci: update actions/checkout@v3 -> v4
  .github/workflows/audit.yml
  .github/workflows/book.yml
  .github/workflows/ci.yml
  .github/workflows/lint.yml
Labels: ci

#747 Prune child context in create and call faults
  evm_arithmetization/src/cpu/kernel/asm/core/call.asm
  evm_arithmetization/src/cpu/kernel/asm/core/create.asm
  evm_arithmetization/src/cpu/kernel/asm/core/gas.asm
  evm_arithmetization/src/cpu/kernel/asm/core/util.asm
  evm_arithmetization/src/cpu/kernel/asm/memory/syscalls.asm
  evm_arithmetization/src/generation/mod.rs
Labels: crate: evm_arithmetization

#769 Refactor recursion params
  evm_arithmetization/src/fixed_recursive_verifier.rs
  evm_arithmetization/tests/empty_tables.rs
  evm_arithmetization/tests/two_to_one_block.rs
  zero/src/prover_state/circuit.rs
Labels: crate: evm_arithmetization, crate: zero_bin

#763 feat: prove stdio using amqp docker compose setup
  .github/workflows/yamllint.yml
  scripts/docker-compose.yml
  scripts/prove_stdio_docker_compose.sh
  zero/README.md
Labels: crate: zero_bin, ci

#773 Fix witness endpoint for cdk
  zero/src/rpc/jerigon.rs
Labels: crate: zero_bin

#783 Move `World` trait and related into `evm_arithmetization` crate
  Cargo.lock
  Cargo.toml
  evm_arithmetization/Cargo.toml
  evm_arithmetization/src/lib.rs
  evm_arithmetization/src/tries.rs
  evm_arithmetization/src/world.rs
  trace_decoder/Cargo.toml
  trace_decoder/src/core.rs
  trace_decoder/src/lib.rs
  trace_decoder/src/observer.rs
  trace_decoder/src/type1.rs
  trace_decoder/src/type2.rs
Labels: crate: trace_decoder, crate: evm_arithmetization

#782 Fix bytecode hashing for Type2 SMT
  Cargo.lock
  Cargo.toml
  evm_arithmetization/Cargo.toml
  evm_arithmetization/src/lib.rs
  evm_arithmetization/src/tries.rs
  evm_arithmetization/src/world.rs
  smt_trie/src/code.rs
  smt_trie/src/utils.rs
  trace_decoder/Cargo.toml
  trace_decoder/src/core.rs
  trace_decoder/src/lib.rs
  trace_decoder/src/observer.rs
  trace_decoder/src/type1.rs
  trace_decoder/src/type2.rs
Labels: crate: trace_decoder, crate: evm_arithmetization

#786 feat: Add env support to all leader prog args
  zero/src/bin/leader/cli.rs
  zero/src/bin/rpc.rs
  zero/src/bin/trie_diff.rs
  zero/src/prover/cli.rs
Labels: crate: zero_bin

#789 fix: follow from block interval
  zero/src/block_interval.rs
Labels: crate: zero_bin

#772 Replace `ethereum_types` with `alloy::primitives` in `smt_trie` crate
  Cargo.lock
  evm_arithmetization/src/witness/operation.rs
  evm_arithmetization/src/world.rs
  smt_trie/Cargo.toml
  smt_trie/src/bits.rs
  smt_trie/src/code.rs
  smt_trie/src/keys.rs
  smt_trie/src/smt.rs
  smt_trie/src/smt_test.rs
  smt_trie/src/utils.rs
Labels: crate: evm_arithmetization

#795 refactor: remove the `compat` crate
  .github/workflows/lint.yml
  Cargo.lock
  Cargo.toml
  compat/Cargo.toml
  compat/src/lib.rs
  zero/Cargo.toml
  zero/src/rpc/mod.rs
  zero/src/rpc/native/txn.rs
Labels: crate: zero_bin, ci

#796 Oxidize prove_rpc.sh
  .github/workflows/jerigon-native.yml
  .github/workflows/jerigon-zero.yml
  Cargo.lock
  scripts/Cargo.toml
  scripts/outdated.rs
  scripts/prove_rpc.rs
  scripts/prove_rpc.sh
  scripts/xtask.rs
  zero/README.md
Labels: crate: zero_bin, ci

#793 feat: revamp zero prove function
  scripts/prove_stdio.sh
  zero/src/ops.rs
  zero/src/prover.rs
Labels: crate: zero_bin

#808 v0.7.0 release
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  evm_arithmetization/Cargo.toml
  evm_arithmetization/src/get_challenges.rs
  evm_arithmetization/src/prover.rs
  evm_arithmetization/src/recursive_verifier.rs
  mpt_trie/Cargo.toml
  smt_trie/Cargo.toml
  trace_decoder/Cargo.toml
Labels: crate: trace_decoder, crate: evm_arithmetization, crate: mpt_trie
