Repository 0xPolygonZero/zk_evm, pull requests merged in 2024-08, with the labels that each got.

#402 Linked lists for the state trie
  evm_arithmetization/src/cpu/kernel/aggregator.rs
  evm_arithmetization/src/cpu/kernel/asm/core/access_lists.asm
  evm_arithmetization/src/cpu/kernel/asm/core/util.asm
  evm_arithmetization/src/cpu/kernel/asm/journal/account_destroyed.asm
  evm_arithmetization/src/cpu/kernel/asm/journal/code_change.asm
  evm_arithmetization/src/cpu/kernel/asm/journal/nonce_change.asm
  evm_arithmetization/src/cpu/kernel/asm/journal/storage_change.asm
  evm_arithmetization/src/cpu/kernel/asm/main.asm
  evm_arithmetization/src/cpu/kernel/asm/mpt/accounts.asm
  evm_arithmetization/src/cpu/kernel/asm/mpt/delete/delete.asm
  evm_arithmetization/src/cpu/kernel/asm/mpt/hash/hash_trie_specific.asm
  evm_arithmetization/src/cpu/kernel/asm/mpt/insert/insert_trie_specific.asm
  evm_arithmetization/src/cpu/kernel/asm/mpt/linked_list/final_tries.asm
  evm_arithmetization/src/cpu/kernel/asm/mpt/linked_list/initial_tries.asm
  evm_arithmetization/src/cpu/kernel/asm/mpt/linked_list/linked_list.asm
  evm_arithmetization/src/cpu/kernel/asm/mpt/read.asm
  evm_arithmetization/src/cpu/kernel/asm/mpt/storage/storage_read.asm
  evm_arithmetization/src/cpu/kernel/asm/mpt/storage/storage_write.asm
  evm_arithmetization/src/cpu/kernel/asm/transactions/common_decoding.asm
  evm_arithmetization/src/cpu/kernel/constants/global_metadata.rs
  evm_arithmetization/src/cpu/kernel/constants/mod.rs
  evm_arithmetization/src/cpu/kernel/interpreter.rs
  evm_arithmetization/src/cpu/kernel/tests/account_code.rs
  evm_arithmetization/src/cpu/kernel/tests/balance.rs
  evm_arithmetization/src/cpu/kernel/tests/core/access_lists.rs
  evm_arithmetization/src/cpu/kernel/tests/mpt/delete.rs
  evm_arithmetization/src/cpu/kernel/tests/mpt/hash.rs
  evm_arithmetization/src/cpu/kernel/tests/mpt/insert.rs
  evm_arithmetization/src/cpu/kernel/tests/mpt/linked_list.rs
  evm_arithmetization/src/cpu/kernel/tests/mpt/load.rs
  evm_arithmetization/src/cpu/kernel/tests/mpt/mod.rs
  evm_arithmetization/src/cpu/kernel/tests/mpt/read.rs
  evm_arithmetization/src/cpu/kernel/tests/receipt.rs
  evm_arithmetization/src/generation/linked_list.rs
  evm_arithmetization/src/generation/mod.rs
  evm_arithmetization/src/generation/mpt.rs
  evm_arithmetization/src/generation/prover_input.rs
  evm_arithmetization/src/generation/state.rs
  evm_arithmetization/src/memory/columns.rs
  evm_arithmetization/src/memory/memory_stark.rs
  evm_arithmetization/src/memory/segments.rs
  evm_arithmetization/src/prover.rs
  evm_arithmetization/src/witness/memory.rs
  evm_arithmetization/tests/log_opcode.rs
Labels: crate: evm_arithmetization

#456 Added derives to `pub` types where possible for `mpt_trie`
  mpt_trie/src/builder.rs
  mpt_trie/src/debug_tools/diff.rs
  mpt_trie/src/debug_tools/query.rs
  mpt_trie/src/debug_tools/stats.rs
  mpt_trie/src/nibbles.rs
  mpt_trie/src/special_query.rs
  mpt_trie/src/trie_hashing.rs
  mpt_trie/src/trie_ops.rs
  mpt_trie/src/trie_subsets.rs
  mpt_trie/src/utils.rs
Labels: crate: mpt_trie

#429 perf(continuations): Improve initializations and reduce redundant computations
  .env
  evm_arithmetization/src/cpu/kernel/interpreter.rs
  evm_arithmetization/src/fixed_recursive_verifier.rs
  evm_arithmetization/src/generation/mod.rs
  evm_arithmetization/src/generation/prover_input.rs
  evm_arithmetization/src/generation/state.rs
  evm_arithmetization/src/prover.rs
  proof_gen/src/proof_gen.rs
  trace_decoder/src/types.rs
  zero_bin/common/src/prover_state/mod.rs
  zero_bin/ops/src/lib.rs
  zero_bin/prover/src/lib.rs
  zero_bin/tools/prove_rpc.sh
  zero_bin/tools/prove_stdio.sh
Labels: performance, crate: trace_decoder, crate: proof_gen, crate: evm_arithmetization, crate: zero_bin

#433 feat(continuations): write storage values directly in linked lists
  evm_arithmetization/src/cpu/kernel/asm/journal/storage_change.asm
  evm_arithmetization/src/cpu/kernel/asm/main.asm
  evm_arithmetization/src/cpu/kernel/asm/mpt/linked_list/final_tries.asm
  evm_arithmetization/src/cpu/kernel/asm/mpt/linked_list/initial_tries.asm
  evm_arithmetization/src/cpu/kernel/asm/mpt/linked_list/linked_list.asm
  evm_arithmetization/src/cpu/kernel/asm/mpt/storage/storage_write.asm
  evm_arithmetization/src/cpu/kernel/asm/transactions/common_decoding.asm
  evm_arithmetization/src/cpu/kernel/tests/mpt/delete.rs
  evm_arithmetization/src/generation/mpt.rs
Labels: crate: evm_arithmetization

#461 Remove self destructs from the native tracer
  trace_decoder/src/decoding.rs
  trace_decoder/src/lib.rs
  trace_decoder/src/processed_block_trace.rs
  zero_bin/rpc/src/native/txn.rs
Labels: crate: trace_decoder, crate: zero_bin

#451 implement version command for all zero bin binaries
  Cargo.lock
  Cargo.toml
  trace_decoder/src/typed_mpt.rs
  zero_bin/README.md
  zero_bin/common/Cargo.toml
  zero_bin/common/build.rs
  zero_bin/common/src/lib.rs
  zero_bin/common/src/version.rs
  zero_bin/leader/Cargo.toml
  zero_bin/leader/src/main.rs
  zero_bin/rpc/Cargo.toml
  zero_bin/rpc/src/main.rs
  zero_bin/verifier/Cargo.toml
  zero_bin/verifier/src/main.rs
  zero_bin/worker/Cargo.toml
  zero_bin/worker/src/main.rs
Labels: crate: trace_decoder, crate: zero_bin

#466 Preinitialize segments in all contexts
  evm_arithmetization/src/memory/columns.rs
  evm_arithmetization/src/memory/memory_stark.rs
Labels: crate: evm_arithmetization

#464 Fix 2-to-1 test for Cancun
  evm_arithmetization/tests/two_to_one_block.rs
Labels: crate: evm_arithmetization

#476 Process state trie at the end
  evm_arithmetization/src/cpu/kernel/asm/main.asm
  evm_arithmetization/src/cpu/kernel/tests/account_code.rs
  evm_arithmetization/src/cpu/kernel/tests/mpt/insert.rs
Labels: crate: evm_arithmetization

#474 bug(zero-bin): verifier binary not picking up pre-processed circuits
  zero_bin/common/src/prover_state/persistence.rs
Labels: crate: zero_bin

#422 feat: Implement `Columns` view for `BytePackingStark`
  evm_arithmetization/src/byte_packing/byte_packing_stark.rs
  evm_arithmetization/src/byte_packing/columns.rs
Labels: crate: evm_arithmetization

#481 chore: flush logs upon success
  zero_bin/tools/prove_stdio.sh
Labels: crate: zero_bin

#480 Fix account creation reversion in decoder processing
  evm_arithmetization/src/generation/mpt.rs
  trace_decoder/src/decoding.rs
  trace_decoder/tests/data/witnesses/zero_jerigon/b28_dev.json
  trace_decoder/tests/data/witnesses/zero_jerigon/b28_dev_header.json
Labels: bug, crate: trace_decoder, crate: evm_arithmetization

#455 Feat/237 mpt trie ext to branch collapse error
  mpt_trie/src/nibbles.rs
  mpt_trie/src/trie_ops.rs
Labels: crate: mpt_trie

#487 Fix `SELFDESTRUCT`
  evm_arithmetization/src/cpu/kernel/asm/core/create_contract_account.asm
Labels: bug, crate: evm_arithmetization

#405 Circuit cache dir now uses os cache dir
  Cargo.lock
  zero_bin/common/Cargo.toml
  zero_bin/common/src/prover_state/persistence.rs
  zero_bin/leader/src/main.rs
  zero_bin/verifier/src/main.rs
  zero_bin/worker/src/main.rs
Labels: crate: zero_bin

#469 refactor: trace_decoder::decoding
  Cargo.lock
  trace_decoder/Cargo.toml
  trace_decoder/src/decoding.rs
  trace_decoder/src/lib.rs
Labels: crate: trace_decoder

#488 fix: do not force precompile address access in case of txn reversion
  trace_decoder/src/lib.rs
  trace_decoder/src/processed_block_trace.rs
Labels: bug, crate: trace_decoder

#485 chore: reorganize cli params and rename some types
  .github/workflows/jerigon.yml
  Cargo.lock
  proof_gen/src/proof_gen.rs
  proof_gen/src/proof_types.rs
  zero_bin/leader/src/cli.rs
  zero_bin/leader/src/client.rs
  zero_bin/leader/src/http.rs
  zero_bin/leader/src/main.rs
  zero_bin/leader/src/stdio.rs
  zero_bin/ops/src/lib.rs
  zero_bin/prover/Cargo.toml
  zero_bin/prover/src/cli.rs
  zero_bin/prover/src/lib.rs
  zero_bin/tools/prove_stdio.sh
Labels: crate: proof_gen, crate: zero_bin

#490 Fix txn indexing in error message
  trace_decoder/src/decoding.rs
Labels: crate: trace_decoder

#491 Revert "Fix `SELFDESTRUCT`"
  evm_arithmetization/src/cpu/kernel/asm/core/create_contract_account.asm
Labels: crate: evm_arithmetization

#492 Allow features with macros within macros
  evm_arithmetization/src/cpu/kernel/assembler.rs
  evm_arithmetization/src/cpu/kernel/parser.rs
Labels: crate: evm_arithmetization

#483 Check the global variable `GLOBAL_METADATA_TRIE_DATA_SIZE`
  evm_arithmetization/src/cpu/kernel/asm/main.asm
  evm_arithmetization/src/generation/mpt.rs
Labels: crate: evm_arithmetization

#484 Do not propagate zero values
  evm_arithmetization/src/generation/mod.rs
  evm_arithmetization/src/memory/columns.rs
  evm_arithmetization/src/memory/memory_stark.rs
  evm_arithmetization/src/memory/segments.rs
  evm_arithmetization/src/witness/memory.rs
Labels: crate: evm_arithmetization

#482 handle case when contract creation was reverted
  .github/workflows/jerigon-native.yml
  trace_decoder/src/lib.rs
  zero_bin/rpc/src/native/txn.rs
Labels: crate: trace_decoder, crate: zero_bin

#494 refactor: use typed_mpt in the backend
  trace_decoder/src/decoding.rs
  trace_decoder/src/lib.rs
  trace_decoder/src/processed_block_trace.rs
  trace_decoder/src/type1.rs
  trace_decoder/src/type2.rs
  trace_decoder/src/typed_mpt.rs
Labels: crate: trace_decoder

#500 chore: add common crate for project wide definitions
  .github/labeler.yml
  Cargo.lock
  Cargo.toml
  common/Cargo.toml
  common/src/lib.rs
  mpt_trie/Cargo.toml
  mpt_trie/src/builder.rs
  trace_decoder/Cargo.toml
  trace_decoder/src/processed_block_trace.rs
Labels: crate: trace_decoder, crate: mpt_trie

#498 Parallelize test_only segment simulation
  zero_bin/ops/src/lib.rs
  zero_bin/prover/src/lib.rs
Labels: crate: zero_bin

#493 Fix selfdestruct for EIP-6780 with non-empty balances
  trace_decoder/src/decoding.rs
  trace_decoder/src/lib.rs
  trace_decoder/src/processed_block_trace.rs
  trace_decoder/src/typed_mpt.rs
  trace_decoder/tests/data/witnesses/zero_jerigon/b20472570_main.json
  trace_decoder/tests/data/witnesses/zero_jerigon/b20472570_main_header.json
  zero_bin/rpc/src/native/txn.rs
Labels: crate: trace_decoder, crate: zero_bin

#310 Fix: `zero-bin` is now able again to accesses `evm_arithmetization` for circuit versions
  zero_bin/common/src/prover_state/persistence.rs
  zero_bin/common/src/version.rs
  zero_bin/leader/src/main.rs
  zero_bin/rpc/src/main.rs
  zero_bin/tools/prove_rpc.sh
  zero_bin/tools/prove_stdio.sh
  zero_bin/verifier/src/main.rs
  zero_bin/worker/src/main.rs
Labels: crate: zero_bin

#501 Add collapse strategy to `PartialTrie` variants
  mpt_trie/src/partial_trie.rs
  mpt_trie/src/trie_ops.rs
  trace_decoder/src/lib.rs
  trace_decoder/src/type1.rs
  trace_decoder/src/typed_mpt.rs
Labels: crate: trace_decoder, crate: mpt_trie

#514 refactor: remove dead `client_code_hash_resolve_f`
  trace_decoder/benches/block_processing.rs
  trace_decoder/src/lib.rs
  trace_decoder/src/processed_block_trace.rs
  trace_decoder/tests/trace_decoder_tests.rs
  zero_bin/prover/src/lib.rs
Labels: crate: trace_decoder, crate: zero_bin

#489 Update specs for continuation
  docs/arithmetization/cpulogic.tex
  docs/arithmetization/tables.tex
  docs/arithmetization/tables/cpu.tex
  docs/arithmetization/tables/mem-continuations.tex
  docs/arithmetization/tables/memory.tex
  docs/arithmetization/zkevm.pdf
  evm_arithmetization/src/cpu/kernel/asm/mpt/linked_list/linked_list.asm
Labels: crate: evm_arithmetization, specs

#509 continuations: have segment iterator return a `Result`
  Cargo.lock
  evm_arithmetization/Cargo.toml
  evm_arithmetization/src/fixed_recursive_verifier.rs
  evm_arithmetization/src/lib.rs
  evm_arithmetization/src/prover.rs
  zero_bin/common/src/prover_state/mod.rs
  zero_bin/ops/src/lib.rs
  zero_bin/prover/src/lib.rs
Labels: crate: evm_arithmetization, crate: zero_bin

#521 Make test-only a CLI argument
  zero_bin/leader/Cargo.toml
  zero_bin/leader/src/client.rs
  zero_bin/leader/src/http.rs
  zero_bin/leader/src/main.rs
  zero_bin/leader/src/stdio.rs
  zero_bin/ops/Cargo.toml
  zero_bin/ops/src/lib.rs
  zero_bin/prover/Cargo.toml
  zero_bin/prover/src/cli.rs
  zero_bin/prover/src/lib.rs
  zero_bin/tools/prove_rpc.sh
  zero_bin/tools/prove_stdio.sh
Labels: crate: zero_bin

#499 feat: retrieve prover input per block
  Cargo.lock
  zero_bin/leader/src/client.rs
  zero_bin/leader/src/stdio.rs
  zero_bin/prover/src/lib.rs
  zero_bin/rpc/Cargo.toml
  zero_bin/rpc/src/jerigon.rs
  zero_bin/rpc/src/lib.rs
  zero_bin/rpc/src/main.rs
  zero_bin/rpc/src/native/mod.rs
  zero_bin/rpc/src/native/state.rs
Labels: crate: zero_bin

#522 refactor: Hash2Code
  trace_decoder/src/decoding.rs
  trace_decoder/src/lib.rs
  trace_decoder/src/processed_block_trace.rs
Labels: crate: trace_decoder

#520 Made sub-trie errors better
  mpt_trie/src/debug_tools/query.rs
  mpt_trie/src/trie_subsets.rs
Labels: crate: mpt_trie

#528 inline some macro calls
  evm_arithmetization/src/cpu/kernel/asm/memory/syscalls.asm
  evm_arithmetization/src/cpu/kernel/asm/mpt/linked_list/initial_tries.asm
Labels: crate: evm_arithmetization

#517 add check for checkpoint block number
  zero_bin/common/src/block_interval.rs
  zero_bin/common/src/lib.rs
  zero_bin/common/src/pre_checks.rs
  zero_bin/leader/src/client.rs
  zero_bin/rpc/Cargo.toml
  zero_bin/rpc/src/main.rs
  zero_bin/tools/prove_rpc.sh
Labels: crate: zero_bin

#527 feat: add `leader` command to flush cache
  zero_bin/common/src/prover_state/persistence.rs
  zero_bin/leader/src/cli.rs
  zero_bin/leader/src/main.rs
Labels: crate: zero_bin

#536 fix: output block proof to array format
  zero_bin/prover/src/lib.rs
  zero_bin/tools/prove_rpc.sh
Labels: crate: zero_bin

#529 chore: Move segmentation related code into a dedicated submodule within `generation`
  evm_arithmetization/src/fixed_recursive_verifier.rs
  evm_arithmetization/src/generation/mod.rs
  evm_arithmetization/src/generation/segments.rs
  evm_arithmetization/src/generation/state.rs
  evm_arithmetization/src/lib.rs
  evm_arithmetization/src/prover.rs
  proof_gen/src/proof_gen.rs
  zero_bin/common/src/prover_state/mod.rs
  zero_bin/prover/src/lib.rs
Labels: crate: proof_gen, crate: evm_arithmetization, crate: zero_bin

#545 Ignore `too_long_first_doc_paragraph` lint
  Cargo.toml
  evm_arithmetization/Cargo.toml
  mpt_trie/Cargo.toml
  proof_gen/Cargo.toml
  smt_trie/Cargo.toml
  zero_bin/common/Cargo.toml
  zero_bin/leader/Cargo.toml
  zero_bin/prover/Cargo.toml
Labels: crate: proof_gen, crate: evm_arithmetization, crate: mpt_trie, crate: zero_bin

#540 Add txn parsing tests
  evm_arithmetization/src/cpu/kernel/asm/curve/secp256k1/ecrecover.asm
  evm_arithmetization/src/cpu/kernel/asm/transactions/type_3.asm
  evm_arithmetization/src/cpu/kernel/tests/transaction_parsing/mod.rs
  evm_arithmetization/src/cpu/kernel/tests/transaction_parsing/parse_type_0_txn.rs
  evm_arithmetization/src/cpu/kernel/tests/transaction_parsing/parse_type_1_txn.rs
  evm_arithmetization/src/cpu/kernel/tests/transaction_parsing/parse_type_2_txn.rs
  evm_arithmetization/src/cpu/kernel/tests/transaction_parsing/parse_type_3_txn.rs
Labels: crate: evm_arithmetization

#502 Check the keys in the state trie correspond to accounts and storage linked lists
  evm_arithmetization/src/cpu/kernel/asm/memory/syscalls.asm
  evm_arithmetization/src/cpu/kernel/asm/mpt/linked_list/initial_tries.asm
  evm_arithmetization/src/cpu/kernel/tests/account_code.rs
  evm_arithmetization/src/cpu/kernel/tests/mpt/delete.rs
  evm_arithmetization/src/cpu/kernel/tests/mpt/insert.rs
Labels: crate: evm_arithmetization

#547 Reuse txn rlp
  evm_arithmetization/src/cpu/kernel/asm/transactions/type_0.asm
  evm_arithmetization/src/cpu/kernel/asm/transactions/type_1.asm
  evm_arithmetization/src/cpu/kernel/asm/transactions/type_2.asm
  evm_arithmetization/src/cpu/kernel/asm/transactions/type_3.asm
Labels: crate: evm_arithmetization

#519 feat: use eth_call with sc to retrieve block hashes
  Cargo.lock
  zero_bin/rpc/Cargo.toml
  zero_bin/rpc/src/lib.rs
Labels: crate: zero_bin

#504 feat: extract decoded transaction from the block
  zero_bin/README.md
  zero_bin/leader/src/cli.rs
  zero_bin/leader/src/client.rs
  zero_bin/rpc/src/lib.rs
  zero_bin/rpc/src/main.rs
Labels: crate: zero_bin

#546 fix: limit number of connections
  zero_bin/leader/src/client.rs
  zero_bin/rpc/src/jerigon.rs
  zero_bin/rpc/src/lib.rs
  zero_bin/rpc/src/main.rs
  zero_bin/rpc/src/native/mod.rs
  zero_bin/rpc/src/native/state.rs
  zero_bin/rpc/src/provider.rs
  zero_bin/rpc/src/retry.rs
Labels: crate: zero_bin

#556 fix: eth_call for previous block hashes
  zero_bin/rpc/src/lib.rs
Labels: crate: zero_bin

#542 refactor: trait StateTrie
  Cargo.lock
  trace_decoder/Cargo.toml
  trace_decoder/src/decoding.rs
  trace_decoder/src/lib.rs
  trace_decoder/src/processed_block_trace.rs
  trace_decoder/src/type1.rs
  trace_decoder/src/typed_mpt.rs
Labels: crate: trace_decoder

#557 Move documentation to Github Pages
  .github/workflows/book.yml
  README.md
  book/.gitignore
  book/book.toml
  book/src/SUMMARY.md
  book/src/bibliography.bib
  book/src/cpu_execution/exceptions.md
  book/src/cpu_execution/gas_handling.md
  book/src/cpu_execution/intro.md
  book/src/cpu_execution/kernel.md
  book/src/cpu_execution/opcodes_syscalls.md
  book/src/cpu_execution/privileged_instructions.md
  book/src/cpu_execution/stack_handling.md
  book/src/framework/cost_model.md
  book/src/framework/ctls.md
  book/src/framework/field.md
  book/src/framework/intro.md
  book/src/framework/range_check.md
  book/src/intro.md
  book/src/mpt/encoding_hashing.md
  book/src/mpt/intro.md
  book/src/mpt/linked_lists.md
  book/src/mpt/memory_format.md
  book/src/mpt/prover_input_format.md
  book/src/tables/arithmetic.md
  book/src/tables/byte_packing.md
  book/src/tables/cpu.md
  book/src/tables/intro.md
  book/src/tables/keccak.md
  book/src/tables/keccak_sponge.md
  book/src/tables/logic.md
  book/src/tables/mem_continuations.md
  book/src/tables/memory.md
  docs/arithmetization/.gitignore
  docs/arithmetization/Makefile
  docs/arithmetization/cpulogic.tex
  docs/arithmetization/framework.tex
  docs/arithmetization/introduction.tex
  docs/arithmetization/mpts.tex
  docs/arithmetization/tables.tex
  docs/arithmetization/tables/arithmetic.tex
  docs/arithmetization/tables/byte-packing.tex
  docs/arithmetization/tables/cpu.tex
  docs/arithmetization/tables/keccak-f.tex
  docs/arithmetization/tables/keccak-sponge.tex
  docs/arithmetization/tables/logic.tex
  docs/arithmetization/tables/mem-continuations.tex
  docs/arithmetization/tables/memory.tex
  docs/arithmetization/zkevm.pdf
  docs/arithmetization/zkevm.tex
Labels: specs

#549 Remove unnecessary global metadata
  evm_arithmetization/src/cpu/kernel/asm/core/access_lists.asm
  evm_arithmetization/src/cpu/kernel/asm/transactions/common_decoding.asm
  evm_arithmetization/src/cpu/kernel/asm/transactions/type_3.asm
  evm_arithmetization/src/cpu/kernel/constants/global_metadata.rs
Labels: crate: evm_arithmetization

#567 chore: move provider to the common crate
  Cargo.lock
  zero_bin/common/Cargo.toml
  zero_bin/common/src/lib.rs
  zero_bin/common/src/provider.rs
  zero_bin/leader/src/client.rs
  zero_bin/rpc/Cargo.toml
  zero_bin/rpc/src/jerigon.rs
  zero_bin/rpc/src/lib.rs
  zero_bin/rpc/src/main.rs
  zero_bin/rpc/src/native/mod.rs
  zero_bin/rpc/src/native/state.rs
Labels: crate: zero_bin

#526 Prune non-necessary values from `PublicValues` prior 2-to-1 aggregation
  evm_arithmetization/src/fixed_recursive_verifier.rs
  evm_arithmetization/src/proof.rs
  evm_arithmetization/src/recursive_verifier.rs
  evm_arithmetization/tests/two_to_one_block.rs
  proof_gen/src/proof_types.rs
Labels: crate: proof_gen, crate: evm_arithmetization

#463 Introduce a burn address for `cdk_erigon`
  Cargo.lock
  evm_arithmetization/Cargo.toml
  evm_arithmetization/benches/fibonacci_25m_gas.rs
  evm_arithmetization/src/cpu/kernel/aggregator.rs
  evm_arithmetization/src/cpu/kernel/asm/core/process_txn.asm
  evm_arithmetization/src/cpu/kernel/assembler.rs
  evm_arithmetization/src/cpu/kernel/constants/global_metadata.rs
  evm_arithmetization/src/cpu/kernel/interpreter.rs
  evm_arithmetization/src/cpu/kernel/mod.rs
  evm_arithmetization/src/cpu/kernel/parser.rs
  evm_arithmetization/src/cpu/kernel/tests/add11.rs
  evm_arithmetization/src/cpu/kernel/tests/init_exc_stop.rs
  evm_arithmetization/src/fixed_recursive_verifier.rs
  evm_arithmetization/src/generation/mod.rs
  evm_arithmetization/src/get_challenges.rs
  evm_arithmetization/src/proof.rs
  evm_arithmetization/src/prover.rs
  evm_arithmetization/src/recursive_verifier.rs
  evm_arithmetization/src/verifier.rs
  evm_arithmetization/tests/add11_yml.rs
  evm_arithmetization/tests/erc20.rs
  evm_arithmetization/tests/erc721.rs
  evm_arithmetization/tests/global_exit_root.rs
  evm_arithmetization/tests/log_opcode.rs
  evm_arithmetization/tests/selfdestruct.rs
  evm_arithmetization/tests/simple_transfer.rs
  evm_arithmetization/tests/two_to_one_block.rs
  evm_arithmetization/tests/withdrawals.rs
  trace_decoder/benches/block_processing.rs
  trace_decoder/src/decoding.rs
  trace_decoder/src/lib.rs
  trace_decoder/tests/trace_decoder_tests.rs
  zero_bin/leader/Cargo.toml
  zero_bin/prover/Cargo.toml
  zero_bin/prover/src/lib.rs
  zero_bin/rpc/Cargo.toml
  zero_bin/rpc/src/main.rs
Labels: crate: trace_decoder, crate: evm_arithmetization, crate: zero_bin

#573 chore: update alloy
  Cargo.lock
  Cargo.toml
  trace_decoder/tests/trace_decoder_tests.rs
  zero_bin/common/src/provider.rs
  zero_bin/rpc/src/lib.rs
  zero_bin/rpc/src/native/state.rs
Labels: crate: trace_decoder, crate: zero_bin
