Repository 0xPolygonZero/zk_evm, pull requests merged in 2024-04, with the labels that each got.

#134 chore: add debug function for better logging in development
  evm_arithmetization/src/recursive_verifier.rs
Labels: crate: evm_arithmetization

#131 Make test_receipt_encoding more meaningful.
  evm_arithmetization/src/cpu/kernel/tests/receipt.rs
Labels: crate: evm_arithmetization

#112 Add context pruning
  evm_arithmetization/src/all_stark.rs
  evm_arithmetization/src/cpu/columns/general.rs
  evm_arithmetization/src/cpu/cpu_stark.rs
  evm_arithmetization/src/cpu/kernel/asm/account_code.asm
  evm_arithmetization/src/cpu/kernel/asm/memory/syscalls.asm
  evm_arithmetization/src/cpu/kernel/tests/account_code.rs
  evm_arithmetization/src/generation/mod.rs
  evm_arithmetization/src/generation/state.rs
  evm_arithmetization/src/memory/columns.rs
  evm_arithmetization/src/memory/memory_stark.rs
  evm_arithmetization/src/witness/operation.rs
  evm_arithmetization/src/witness/traces.rs
Labels: crate: evm_arithmetization

#136 Add a getter for the KERNEL codehash
  evm_arithmetization/src/cpu/kernel/assembler.rs
Labels: crate: evm_arithmetization

#137 Version bump for next release
  CHANGELOG.md
  evm_arithmetization/Cargo.toml
  mpt_trie/Cargo.toml
  proof_gen/Cargo.toml
  trace_decoder/Cargo.toml
Labels: crate: trace_decoder, crate: proof_gen, crate: evm_arithmetization, crate: mpt_trie

#141 Skip trie loading when being passed default inputs
  evm_arithmetization/src/generation/mpt.rs
  evm_arithmetization/src/generation/state.rs
Labels: bug, crate: evm_arithmetization

#130 Fix SELFDESTRUCT in the type2 using EIP-6780
  evm_arithmetization/src/cpu/kernel/asm/core/create_contract_account.asm
  evm_arithmetization/src/cpu/kernel/asm/core/selfdestruct_list.asm
  evm_arithmetization/src/cpu/kernel/asm/core/terminate.asm
  evm_arithmetization/src/cpu/kernel/asm/core/transfer.asm
  evm_arithmetization/src/cpu/kernel/asm/journal/account_created.asm
  evm_arithmetization/src/cpu/kernel/asm/mpt/storage/storage_write.asm
  evm_arithmetization/src/cpu/kernel/asm/smt/delete.asm
  evm_arithmetization/src/cpu/kernel/asm/transactions/type_0.asm
  evm_arithmetization/src/cpu/kernel/constants/global_metadata.rs
  evm_arithmetization/src/memory/segments.rs
  evm_arithmetization/tests/selfdestruct.rs
Labels: crate: evm_arithmetization

#142 Add `%alloc_rlp_block` back in `type_0.asm`
  evm_arithmetization/src/cpu/kernel/asm/transactions/type_0.asm
Labels: crate: evm_arithmetization

#133 EIP-4844 part 2: Point evaluation precompile
  evm_arithmetization/src/cpu/kernel/aggregator.rs
  evm_arithmetization/src/cpu/kernel/asm/core/precompiles/blake2_f.asm
  evm_arithmetization/src/cpu/kernel/asm/core/precompiles/bn_add.asm
  evm_arithmetization/src/cpu/kernel/asm/core/precompiles/bn_mul.asm
  evm_arithmetization/src/cpu/kernel/asm/core/precompiles/ecrec.asm
  evm_arithmetization/src/cpu/kernel/asm/core/precompiles/expmod.asm
  evm_arithmetization/src/cpu/kernel/asm/core/precompiles/id.asm
  evm_arithmetization/src/cpu/kernel/asm/core/precompiles/kzg_peval.asm
  evm_arithmetization/src/cpu/kernel/asm/core/precompiles/main.asm
  evm_arithmetization/src/cpu/kernel/asm/core/precompiles/rip160.asm
  evm_arithmetization/src/cpu/kernel/asm/core/precompiles/sha256.asm
  evm_arithmetization/src/cpu/kernel/asm/core/precompiles/snarkv.asm
  evm_arithmetization/src/cpu/kernel/asm/core/process_txn.asm
  evm_arithmetization/src/cpu/kernel/asm/core/util.asm
  evm_arithmetization/src/cpu/kernel/constants/mod.rs
  evm_arithmetization/src/cpu/kernel/interpreter.rs
  evm_arithmetization/src/cpu/kernel/tests/bls381.rs
  evm_arithmetization/src/cpu/kernel/tests/bn254.rs
  evm_arithmetization/src/curve_pairings.rs
  evm_arithmetization/src/extension_tower.rs
  evm_arithmetization/src/generation/prover_input.rs
  evm_arithmetization/src/witness/errors.rs
Labels: crate: evm_arithmetization

#145 Fix data overwrite in RLP segment
  evm_arithmetization/src/cpu/kernel/asm/main.asm
  evm_arithmetization/src/cpu/kernel/asm/transactions/type_0.asm
  evm_arithmetization/src/cpu/kernel/asm/transactions/type_1.asm
  evm_arithmetization/src/cpu/kernel/asm/transactions/type_2.asm
Labels: crate: evm_arithmetization

#132 feat: swap out the internal U512 inside nibbles
  CHANGELOG.md
  evm_arithmetization/src/cpu/kernel/tests/account_code.rs
  evm_arithmetization/src/cpu/kernel/tests/balance.rs
  evm_arithmetization/src/cpu/kernel/tests/mpt/delete.rs
  evm_arithmetization/src/cpu/kernel/tests/mpt/insert.rs
  evm_arithmetization/src/generation/mpt.rs
  evm_arithmetization/src/generation/trie_extractor.rs
  mpt_trie/Cargo.toml
  mpt_trie/src/nibbles.rs
  mpt_trie/src/testing_utils.rs
  mpt_trie/src/utils.rs
Labels: crate: evm_arithmetization, crate: mpt_trie

#149 Some clippy fixes
  evm_arithmetization/src/arithmetic/modular.rs
  evm_arithmetization/src/fixed_recursive_verifier.rs
Labels: crate: evm_arithmetization

#152 `smt_trie` library deps cleanup
  .github/workflows/ci.yml
  Cargo.toml
  mpt_trie/Cargo.toml
  smt_trie/Cargo.toml
Labels: crate: mpt_trie

#139 Remove interpreter-specific preinialization logic from State trait
  CHANGELOG.md
  evm_arithmetization/src/cpu/kernel/interpreter.rs
  evm_arithmetization/src/generation/state.rs
Labels: crate: evm_arithmetization

#151 Fix broken type2 tests
  evm_arithmetization/src/cpu/kernel/tests/account_code.rs
  evm_arithmetization/src/cpu/kernel/tests/add11.rs
  evm_arithmetization/src/cpu/kernel/tests/balance.rs
  evm_arithmetization/src/cpu/kernel/tests/receipt.rs
  evm_arithmetization/tests/log_opcode.rs
Labels: crate: evm_arithmetization

#154 Make some more functions constant
  CHANGELOG.md
  evm_arithmetization/src/cpu/kernel/assembler.rs
  evm_arithmetization/src/cpu/kernel/interpreter.rs
  evm_arithmetization/src/generation/prover_input.rs
  mpt_trie/src/debug_tools/diff.rs
  mpt_trie/src/debug_tools/query.rs
  mpt_trie/src/debug_tools/stats.rs
  mpt_trie/src/nibbles.rs
  mpt_trie/src/trie_hashing.rs
  mpt_trie/src/trie_subsets.rs
  mpt_trie/src/utils.rs
  proof_gen/src/proof_types.rs
  proof_gen/src/prover_state.rs
  trace_decoder/src/compact/compact_prestate_processing.rs
  trace_decoder/src/processed_block_trace.rs
Labels: crate: trace_decoder, crate: proof_gen, crate: evm_arithmetization, crate: mpt_trie

#153 Update `proof_gen` (partially) to accomodate for type2 changes
  proof_gen/Cargo.toml
  proof_gen/src/constants.rs
  proof_gen/src/proof_gen.rs
  proof_gen/src/proof_types.rs
  proof_gen/src/prover_state.rs
Labels: crate: proof_gen

#158 fix(keccak-sponge): properly constrain padding bytes
  evm_arithmetization/src/keccak_sponge/columns.rs
  evm_arithmetization/src/keccak_sponge/keccak_sponge_stark.rs
Labels: crate: evm_arithmetization

#160 Reduce verbosity in logs
  CHANGELOG.md
  trace_decoder/src/utils.rs
Labels: crate: trace_decoder

#161 Bump with latest starky
  CHANGELOG.md
  Cargo.toml
  evm_arithmetization/src/all_stark.rs
  evm_arithmetization/src/arithmetic/arithmetic_stark.rs
  evm_arithmetization/src/byte_packing/byte_packing_stark.rs
  evm_arithmetization/src/cpu/cpu_stark.rs
  evm_arithmetization/src/keccak/keccak_stark.rs
  evm_arithmetization/src/keccak_sponge/keccak_sponge_stark.rs
  evm_arithmetization/src/memory/memory_stark.rs
Labels: crate: evm_arithmetization

#163 feat: decouple trace_decoder and proof_gen
  evm_arithmetization/src/lib.rs
  proof_gen/Cargo.toml
  proof_gen/README.md
  proof_gen/src/lib.rs
  proof_gen/src/proof_gen.rs
  proof_gen/src/proof_types.rs
  trace_decoder/src/decoding.rs
  trace_decoder/src/lib.rs
  trace_decoder/src/processed_block_trace.rs
  trace_decoder/src/types.rs
Labels: crate: trace_decoder, crate: proof_gen, crate: evm_arithmetization

#168 Simplify withdrawals logic
  CHANGELOG.md
  trace_decoder/src/decoding.rs
Labels: crate: trace_decoder

#148 feat: extend trace decoder err info
  CHANGELOG.md
  trace_decoder/src/decoding.rs
  trace_decoder/src/utils.rs
Labels: crate: trace_decoder

#176 Fix withdrawals accesses in state trie
  trace_decoder/src/decoding.rs
  trace_decoder/src/processed_block_trace.rs
Labels: crate: trace_decoder

#177 Bumped `trace_decoder` version for new `zk_evm` release
  CHANGELOG.md
  trace_decoder/Cargo.toml
Labels: crate: trace_decoder

#181 continuations: initial cleanup pass
  evm_arithmetization/src/all_stark.rs
  evm_arithmetization/src/cpu/kernel/interpreter.rs
  evm_arithmetization/src/cpu/kernel/tests/add11.rs
  evm_arithmetization/src/fixed_recursive_verifier.rs
  evm_arithmetization/src/generation/mod.rs
  evm_arithmetization/src/generation/mpt.rs
  evm_arithmetization/src/generation/state.rs
  evm_arithmetization/src/keccak_sponge/keccak_sponge_stark.rs
  evm_arithmetization/src/memory/memory_stark.rs
  evm_arithmetization/src/memory_continuation/memory_continuation_stark.rs
  evm_arithmetization/src/proof.rs
  evm_arithmetization/src/prover.rs
  evm_arithmetization/src/recursive_verifier.rs
  evm_arithmetization/src/witness/operation.rs
  evm_arithmetization/src/witness/state.rs
  evm_arithmetization/src/witness/traces.rs
  evm_arithmetization/src/witness/transition.rs
  evm_arithmetization/src/witness/util.rs
Labels: crate: evm_arithmetization

#135 Generate all segments before proving.
  evm_arithmetization/src/cpu/kernel/interpreter.rs
  evm_arithmetization/src/fixed_recursive_verifier.rs
  evm_arithmetization/src/generation/mod.rs
  evm_arithmetization/src/generation/state.rs
  evm_arithmetization/src/proof.rs
  evm_arithmetization/src/prover.rs
  evm_arithmetization/tests/add11_yml.rs
  evm_arithmetization/tests/basic_smart_contract.rs
  evm_arithmetization/tests/erc20.rs
  evm_arithmetization/tests/erc721.rs
  evm_arithmetization/tests/log_opcode.rs
  evm_arithmetization/tests/self_balance_gas_cost.rs
  evm_arithmetization/tests/selfdestruct.rs
  evm_arithmetization/tests/simple_transfer.rs
  evm_arithmetization/tests/withdrawals.rs
  proof_gen/src/proof_gen.rs
Labels: crate: proof_gen, crate: evm_arithmetization

#178 Put kernel code in first MemBefore
  evm_arithmetization/src/cpu/kernel/asm/main.asm
  evm_arithmetization/src/fixed_recursive_verifier.rs
  evm_arithmetization/src/generation/mod.rs
  evm_arithmetization/src/verifier.rs
Labels: crate: evm_arithmetization

#188 Unify `AggregationChildTarget` structs and reduce nb of args in method
  evm_arithmetization/src/fixed_recursive_verifier.rs
Labels: crate: evm_arithmetization

#187 Some fixes to Cancun
  evm_arithmetization/src/cpu/kernel/asm/beacon_roots.asm
  evm_arithmetization/src/cpu/kernel/asm/global_exit_root.asm
  evm_arithmetization/src/cpu/kernel/asm/main.asm
  evm_arithmetization/src/cpu/kernel/asm/mpt/accounts.asm
  evm_arithmetization/src/cpu/kernel/asm/mpt/read.asm
  evm_arithmetization/src/cpu/kernel/constants/mod.rs
  evm_arithmetization/src/cpu/kernel/interpreter.rs
  evm_arithmetization/src/generation/mpt.rs
Labels: crate: evm_arithmetization

#184 Adapt the circuitry to zero-bin
  Cargo.toml
  evm_arithmetization/Cargo.toml
  evm_arithmetization/src/cpu/kernel/interpreter.rs
  evm_arithmetization/src/fixed_recursive_verifier.rs
  evm_arithmetization/src/generation/mpt.rs
  evm_arithmetization/src/memory/segments.rs
  evm_arithmetization/src/prover.rs
  evm_arithmetization/src/witness/memory.rs
  evm_arithmetization/tests/add11_yml.rs
  evm_arithmetization/tests/empty_txn_list.rs
  evm_arithmetization/tests/log_opcode.rs
  proof_gen/src/proof_gen.rs
  proof_gen/src/proof_types.rs
  trace_decoder/src/types.rs
Labels: crate: trace_decoder, crate: proof_gen, crate: evm_arithmetization

#185 Add dummy segment to the left
  evm_arithmetization/src/cpu/kernel/interpreter.rs
  evm_arithmetization/src/cpu/kernel/tests/init_exc_stop.rs
  evm_arithmetization/src/cpu/kernel/tests/mod.rs
  evm_arithmetization/src/generation/mod.rs
  evm_arithmetization/src/generation/state.rs
  evm_arithmetization/src/memory/memory_stark.rs
  evm_arithmetization/src/prover.rs
  evm_arithmetization/src/verifier.rs
Labels: crate: evm_arithmetization

#191 Add segment indexing
  evm_arithmetization/src/generation/mod.rs
  evm_arithmetization/src/prover.rs
Labels: crate: evm_arithmetization

#190 Some cleanup
  evm_arithmetization/src/cpu/kernel/interpreter.rs
  evm_arithmetization/src/cpu/kernel/tests/blake2_f.rs
  evm_arithmetization/src/cpu/kernel/tests/bls381.rs
  evm_arithmetization/src/cpu/kernel/tests/bn254.rs
  evm_arithmetization/src/cpu/kernel/tests/core/access_lists.rs
  evm_arithmetization/src/cpu/kernel/tests/ecc/curve_ops.rs
  evm_arithmetization/src/cpu/kernel/tests/ecc/ecrecover.rs
  evm_arithmetization/src/cpu/kernel/tests/exp.rs
  evm_arithmetization/src/cpu/kernel/tests/hash.rs
  evm_arithmetization/src/cpu/kernel/tests/mod.rs
  evm_arithmetization/src/cpu/kernel/tests/mpt/delete.rs
  evm_arithmetization/src/cpu/kernel/tests/receipt.rs
  evm_arithmetization/src/generation/mod.rs
  evm_arithmetization/src/generation/mpt.rs
  evm_arithmetization/src/generation/prover_input.rs
  evm_arithmetization/src/generation/state.rs
  evm_arithmetization/src/keccak_sponge/keccak_sponge_stark.rs
  evm_arithmetization/src/prover.rs
  evm_arithmetization/src/witness/memory.rs
  evm_arithmetization/src/witness/transition.rs
Labels: crate: evm_arithmetization

#192 Introduce verify_all_proofs and update integration tests
  evm_arithmetization/src/verifier.rs
  evm_arithmetization/tests/add11_yml.rs
  evm_arithmetization/tests/basic_smart_contract.rs
  evm_arithmetization/tests/erc20.rs
  evm_arithmetization/tests/erc721.rs
  evm_arithmetization/tests/log_opcode.rs
  evm_arithmetization/tests/self_balance_gas_cost.rs
  evm_arithmetization/tests/selfdestruct.rs
  evm_arithmetization/tests/simple_transfer.rs
  evm_arithmetization/tests/withdrawals.rs
Labels: crate: evm_arithmetization

#170 New context pruning logic
  evm_arithmetization/src/all_stark.rs
  evm_arithmetization/src/cpu/contextops.rs
  evm_arithmetization/src/cpu/cpu_stark.rs
  evm_arithmetization/src/cpu/kernel/asm/core/terminate.asm
  evm_arithmetization/src/cpu/kernel/asm/core/util.asm
  evm_arithmetization/src/cpu/kernel/asm/main.asm
  evm_arithmetization/src/cpu/kernel/asm/memory/syscalls.asm
  evm_arithmetization/src/memory/columns.rs
  evm_arithmetization/src/memory/memory_stark.rs
  evm_arithmetization/src/memory_continuation/memory_continuation_stark.rs
  evm_arithmetization/src/verifier.rs
  evm_arithmetization/src/witness/operation.rs
  evm_arithmetization/tests/empty_txn_list.rs
  evm_arithmetization/tests/log_opcode.rs
Labels: crate: evm_arithmetization

#195 Merge with develop
  CHANGELOG.md
  evm_arithmetization/src/cpu/kernel/interpreter.rs
  evm_arithmetization/src/cpu/kernel/tests/blake2_f.rs
  evm_arithmetization/src/cpu/kernel/tests/bls381.rs
  evm_arithmetization/src/cpu/kernel/tests/bn254.rs
  evm_arithmetization/src/cpu/kernel/tests/core/access_lists.rs
  evm_arithmetization/src/cpu/kernel/tests/ecc/curve_ops.rs
  evm_arithmetization/src/cpu/kernel/tests/ecc/ecrecover.rs
  evm_arithmetization/src/cpu/kernel/tests/exp.rs
  evm_arithmetization/src/cpu/kernel/tests/hash.rs
  evm_arithmetization/src/cpu/kernel/tests/mod.rs
  evm_arithmetization/src/cpu/kernel/tests/mpt/delete.rs
  evm_arithmetization/src/cpu/kernel/tests/receipt.rs
  evm_arithmetization/src/generation/prover_input.rs
  evm_arithmetization/src/generation/state.rs
  evm_arithmetization/src/prover.rs
  evm_arithmetization/src/witness/memory.rs
  evm_arithmetization/src/witness/transition.rs
  trace_decoder/Cargo.toml
  trace_decoder/src/decoding.rs
  trace_decoder/src/processed_block_trace.rs
Labels: crate: trace_decoder, crate: evm_arithmetization

#193 Silence jumpdest analysis logs
  evm_arithmetization/src/cpu/kernel/interpreter.rs
  evm_arithmetization/src/generation/prover_input.rs
  evm_arithmetization/src/generation/state.rs
  evm_arithmetization/src/witness/operation.rs
  evm_arithmetization/src/witness/transition.rs
Labels: crate: evm_arithmetization

#199 Charge call value gas prior to call
  evm_arithmetization/src/cpu/kernel/asm/core/call_gas.asm
Labels: crate: evm_arithmetization

#201 Add log for end of jumpdest analysis simulation.
  evm_arithmetization/src/cpu/kernel/interpreter.rs
Labels: crate: evm_arithmetization

#203 continuations: Remove redundant simulation
  evm_arithmetization/src/cpu/kernel/interpreter.rs
  evm_arithmetization/src/prover.rs
  evm_arithmetization/src/witness/state.rs
Labels: crate: evm_arithmetization
