Repository 0xPolygonZero/zk_evm, pull requests merged in 2024-07, with the labels that each got.

#329 fix: docker build for worker and leader
  .github/workflows/docker_build.yml
  .github/workflows/docker_build_push.yml
  leader.Dockerfile
  worker.Dockerfile
  zero_bin/leader.Dockerfile
  zero_bin/worker.Dockerfile
Labels: crate: zero_bin

#245 continuations: Remove the need for dummy segments
  Cargo.toml
  evm_arithmetization/Cargo.toml
  evm_arithmetization/src/cpu/kernel/interpreter.rs
  evm_arithmetization/src/cpu/kernel/tests/bignum/mod.rs
  evm_arithmetization/src/cpu/kernel/tests/init_exc_stop.rs
  evm_arithmetization/src/cpu/kernel/utils.rs
  evm_arithmetization/src/fixed_recursive_verifier.rs
  evm_arithmetization/src/generation/mod.rs
  evm_arithmetization/src/generation/state.rs
  evm_arithmetization/src/keccak_sponge/keccak_sponge_stark.rs
  evm_arithmetization/src/logic.rs
  evm_arithmetization/src/proof.rs
  evm_arithmetization/src/prover.rs
  evm_arithmetization/tests/empty_txn_list.rs
  evm_arithmetization/tests/log_opcode.rs
  proof_gen/Cargo.toml
  proof_gen/src/proof_gen.rs
  proof_gen/src/proof_types.rs
Labels: crate: proof_gen, crate: evm_arithmetization

#347 Add `LogicColumnsView` struct for `LogicStark`
  evm_arithmetization/src/logic.rs
Labels: crate: evm_arithmetization

#352 fix: properly log final results when due
  zero_bin/leader/src/client.rs
Labels: crate: zero_bin

#353 fix: Add beacon roots touched slots into `state_access` with native tracer
  zero_bin/rpc/src/native/state.rs
Labels: crate: zero_bin

#363 fix(kernel): Check valid range for s and add test
  evm_arithmetization/src/cpu/kernel/asm/curve/secp256k1/ecrecover.asm
  evm_arithmetization/src/cpu/kernel/asm/transactions/common_decoding.asm
  evm_arithmetization/src/cpu/kernel/constants/mod.rs
  evm_arithmetization/src/cpu/kernel/tests/transaction_parsing/parse_type_0_txn.rs
Labels: bug, crate: evm_arithmetization

#357 refactor!: docker builds
  .cargo/config.toml
  .dockerignore
  .github/workflows/docker_build.yml
  .github/workflows/docker_build_push.yml
  Cargo.lock
  Cargo.toml
  Dockerfile
  leader.Dockerfile
  worker.Dockerfile
  zero_bin/.cargo/config.toml
  zero_bin/leader/Cargo.toml
  zero_bin/leader/build.rs
  zero_bin/leader/src/main.rs
  zero_bin/leader/src/utils.rs
  zero_bin/tools/prove_rpc.sh
  zero_bin/tools/prove_stdio.sh
Labels: crate: zero_bin

#365 feat(cancun): update test blocks
  .github/workflows/ci.yml
  zero_bin/tools/artifacts/witness_b19240705.json
  zero_bin/tools/artifacts/witness_b19807080.json
  zero_bin/tools/artifacts/witness_b2_b7.json
  zero_bin/tools/artifacts/witness_b3_b6.json
  zero_bin/tools/prove_stdio.sh
Labels: crate: zero_bin

#370 fix: tweak fetching of previous block hashes
  zero_bin/rpc/src/lib.rs
Labels: bug, crate: zero_bin

#355 fix(evm_arithmetization): Adjust layout of `CpuGeneralColumnsView`
  evm_arithmetization/src/cpu/columns/general.rs
Labels: crate: evm_arithmetization

#373 feat: skip range-checking `PUSH` operations in `KERNEL` mode
  docs/arithmetization/framework.tex
  docs/arithmetization/tables/cpu.tex
  docs/arithmetization/zkevm.pdf
  evm_arithmetization/src/byte_packing/byte_packing_stark.rs
  evm_arithmetization/src/cpu/columns/general.rs
  evm_arithmetization/src/cpu/control_flow.rs
  evm_arithmetization/src/cpu/cpu_stark.rs
  evm_arithmetization/src/witness/operation.rs
  evm_arithmetization/src/witness/state.rs
  evm_arithmetization/src/witness/traces.rs
  evm_arithmetization/src/witness/util.rs
  zero_bin/tools/prove_stdio.sh
Labels: performance, crate: evm_arithmetization, specs, crate: zero_bin

#374 fix: limit iterator length when fetching block hashes
  zero_bin/rpc/src/lib.rs
Labels: bug, crate: zero_bin

#371 fix: scale withdrawals amount to gwei
  trace_decoder/src/decoding.rs
  trace_decoder/src/utils.rs
Labels: crate: trace_decoder

#309 refactor: frontend of `trace_decoder`
  Cargo.lock
  Cargo.toml
  trace_decoder/Cargo.toml
  trace_decoder/README.md
  trace_decoder/benches/block_processing.rs
  trace_decoder/src/compact/compact_debug_tools.rs
  trace_decoder/src/compact/compact_prestate_processing.rs
  trace_decoder/src/compact/compact_to_partial_trie.rs
  trace_decoder/src/compact/complex_test_payloads.rs
  trace_decoder/src/compact/large_test_payloads/test_payload_5.txt
  trace_decoder/src/compact/large_test_payloads/test_payload_6.txt
  trace_decoder/src/compact/mod.rs
  trace_decoder/src/decoding.rs
  trace_decoder/src/deserializers.rs
  trace_decoder/src/lib.rs
  trace_decoder/src/processed_block_trace.rs
  trace_decoder/src/test_cases/.gitattributes
  trace_decoder/src/test_cases/hermez_cdk_erigon.json
  trace_decoder/src/test_cases/zero_jerigon.json
  trace_decoder/src/trace_protocol.rs
  trace_decoder/src/type1.rs
  trace_decoder/src/type2.rs
  trace_decoder/src/types.rs
  trace_decoder/src/utils.rs
  trace_decoder/src/wire.rs
  zero_bin/.cargo/config.toml
  zero_bin/prover/src/lib.rs
  zero_bin/rpc/Cargo.toml
  zero_bin/rpc/src/jerigon.rs
  zero_bin/rpc/src/lib.rs
  zero_bin/rpc/src/native/mod.rs
  zero_bin/rpc/src/native/state.rs
  zero_bin/rpc/src/native/txn.rs
  zero_bin/tools/prove_stdio.sh
Labels: crate: trace_decoder, crate: zero_bin

#376 fix(cancun): properly update accumulator in `fake_exponential()`
  evm_arithmetization/src/generation/prover_input.rs
Labels: bug, crate: evm_arithmetization

#378 doc: Update global README and add mention of `ulimit`
  README.md
  zero_bin/README.md
Labels: documentation, crate: zero_bin

#377 fix(cancun): tweak ranges in integration tests
  evm_arithmetization/tests/basic_smart_contract.rs
  evm_arithmetization/tests/empty_txn_list.rs
  evm_arithmetization/tests/log_opcode.rs
  evm_arithmetization/tests/self_balance_gas_cost.rs
Labels: crate: evm_arithmetization

#380 Improve get_descriptor()
  zero_bin/ops/src/lib.rs
Labels: crate: zero_bin

#318 Two to one block aggregation
  evm_arithmetization/src/fixed_recursive_verifier.rs
  evm_arithmetization/src/proof.rs
  evm_arithmetization/tests/two_to_one_block.rs
Labels: crate: evm_arithmetization

#364 Add necessary 2-to-1 aggreg. components for `proof_gen`
  proof_gen/src/proof_gen.rs
  proof_gen/src/proof_types.rs
  proof_gen/src/types.rs
Labels: crate: proof_gen

#392 `cancun`: cleanup pre-release
  Cargo.toml
  compat/Cargo.toml
  evm_arithmetization/Cargo.toml
  evm_arithmetization/src/cpu/columns/general.rs
  evm_arithmetization/src/cpu/kernel/asm/core/create_receipt.asm
  evm_arithmetization/src/cpu/kernel/asm/core/jumpdest_analysis.asm
  evm_arithmetization/src/cpu/kernel/asm/curve/bn254/curve_arithmetic/msm.asm
  evm_arithmetization/src/cpu/kernel/asm/mpt/insert/insert.asm
  evm_arithmetization/src/witness/traces.rs
  mpt_trie/Cargo.toml
  mpt_trie/src/builder.rs
  mpt_trie/src/nibbles.rs
  smt_trie/src/bits.rs
  trace_decoder/src/decoding.rs
  zero_bin/common/src/prover_state/circuit.rs
  zero_bin/common/src/prover_state/cli.rs
  zero_bin/common/src/prover_state/mod.rs
  zero_bin/ops/Cargo.toml
  zero_bin/prover/Cargo.toml
  zero_bin/rpc/src/native/txn.rs
  zero_bin/rpc/src/provider.rs
  zero_bin/rpc/src/retry.rs
  zero_bin/verifier/Cargo.toml
Labels: crate: trace_decoder, crate: evm_arithmetization, crate: mpt_trie, crate: zero_bin

#395 Release v0.5.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  evm_arithmetization/Cargo.toml
  mpt_trie/Cargo.toml
  proof_gen/Cargo.toml
  trace_decoder/Cargo.toml
Labels: crate: trace_decoder, crate: proof_gen, crate: evm_arithmetization, crate: mpt_trie

#397 Release v0.6.0 (`Cancun` HF support)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  evm_arithmetization/Cargo.toml
  mpt_trie/Cargo.toml
  proof_gen/Cargo.toml
  smt_trie/Cargo.toml
  trace_decoder/Cargo.toml
Labels: crate: trace_decoder, crate: proof_gen, crate: evm_arithmetization, crate: mpt_trie

#386 feat(type2): Implement bytecode padding rule in the kernel
  evm_arithmetization/src/cpu/kernel/asm/account_code.asm
  evm_arithmetization/src/cpu/kernel/asm/core/create.asm
  evm_arithmetization/src/cpu/kernel/asm/core/process_txn.asm
  evm_arithmetization/src/generation/prover_input.rs
Labels: crate: evm_arithmetization

#393 refactor: use typed tries in trace_decoder
  Cargo.lock
  evm_arithmetization/src/generation/mpt.rs
  trace_decoder/Cargo.toml
  trace_decoder/src/decoding.rs
  trace_decoder/src/lib.rs
  trace_decoder/src/processed_block_trace.rs
  trace_decoder/src/type1.rs
  trace_decoder/src/typed_mpt.rs
Labels: crate: trace_decoder, crate: evm_arithmetization

#420 Serialize flaky inputs as 'json' files
  zero_bin/ops/src/lib.rs
Labels: crate: zero_bin

#417 feat: Implement `Columns` view for `MemoryStark`
  evm_arithmetization/src/memory/columns.rs
  evm_arithmetization/src/memory/memory_stark.rs
Labels: crate: evm_arithmetization

#411 Now warns if file descriptor limit is too small for native mode
  zero_bin/tools/prove_rpc.sh
Labels: crate: zero_bin

#432 feat: reorganize cli params
  Cargo.lock
  zero_bin/leader/src/cli.rs
  zero_bin/leader/src/client.rs
  zero_bin/leader/src/http.rs
  zero_bin/leader/src/main.rs
  zero_bin/leader/src/stdio.rs
  zero_bin/prover/Cargo.toml
  zero_bin/prover/src/cli.rs
  zero_bin/prover/src/lib.rs
Labels: crate: zero_bin

#430 Make `prove_stdio.sh` work on apple chips
  zero_bin/tools/prove_stdio.sh
Labels: crate: zero_bin

#416 feat: add conditional feature support in the kernel assembly
  evm_arithmetization/src/cpu/kernel/aggregator.rs
  evm_arithmetization/src/cpu/kernel/assembler.rs
  evm_arithmetization/src/cpu/kernel/ast.rs
  evm_arithmetization/src/cpu/kernel/evm_asm.pest
  evm_arithmetization/src/cpu/kernel/mod.rs
  evm_arithmetization/src/cpu/kernel/parser.rs
Labels: enhancement, crate: evm_arithmetization

#440 Reinitialize TO transaction field in `main`
  evm_arithmetization/src/cpu/kernel/asm/main.asm
Labels: crate: evm_arithmetization

#444 Add overflow check in `codecopy`
  evm_arithmetization/src/cpu/kernel/asm/memory/syscalls.asm
Labels: crate: evm_arithmetization

#443 Check for overflow in `context_id` increment
  evm_arithmetization/src/cpu/kernel/asm/core/util.asm
Labels: crate: evm_arithmetization

#446 fix: `StorageTrie`, `ReceiptTrie` and `TransactionTrie` shouldn't use `TypedMpt`
  trace_decoder/src/type1.rs
  trace_decoder/src/typed_mpt.rs
Labels: crate: trace_decoder

#449 fix: cleanup alloy dependencies
  Cargo.lock
  trace_decoder/Cargo.toml
  trace_decoder/tests/trace_decoder_tests.rs
Labels: crate: trace_decoder

#445 Ensure proper `offset + size` bounds in `wcopy`
  evm_arithmetization/src/cpu/kernel/asm/memory/metadata.asm
  evm_arithmetization/src/cpu/kernel/asm/memory/syscalls.asm
Labels: crate: evm_arithmetization

#450 fix: set min stack length for transient opcodes
  evm_arithmetization/src/cpu/kernel/asm/core/exception.asm
Labels: bug, crate: evm_arithmetization

#419 Increase `MAXCODESIZE` for Polygon PoS
  evm_arithmetization/Cargo.toml
  evm_arithmetization/src/cpu/kernel/constants/mod.rs
Labels: crate: evm_arithmetization

#453 Fix jump_to
  evm_arithmetization/src/generation/state.rs
Labels: bug, crate: evm_arithmetization

#454 Fix Arithmetic trace length
  evm_arithmetization/src/witness/traces.rs
Labels: crate: evm_arithmetization
