Repository 0xPolygonZero/zk_evm, pull requests merged in 2024-10, with the labels that each got.

#679 fix(ci): use install-action instead of cargo-binstall
  .github/actions/rust/action.yml
  .github/workflows/lint.yml
Labels: ci

#672 Refactor proof types and method outputs
  .github/workflows/lint.yml
  evm_arithmetization/src/cpu/kernel/constants/mod.rs
  evm_arithmetization/src/fixed_recursive_verifier.rs
  evm_arithmetization/src/lib.rs
  evm_arithmetization/src/public_types.rs
  evm_arithmetization/tests/two_to_one_block.rs
  smt_trie/src/smt.rs
  trace_decoder/src/core.rs
  zero/src/ops.rs
  zero/src/proof_types.rs
  zero/src/prover.rs
  zero/src/prover_state/mod.rs
Labels: crate: trace_decoder, crate: evm_arithmetization, crate: zero_bin, ci

#687 fix: add timeouts to ci tests
  .github/workflows/audit.yml
  .github/workflows/book.yml
  .github/workflows/ci.yml
  .github/workflows/docker_build.yml
  .github/workflows/docker_build_push.yml
  .github/workflows/jerigon-native.yml
  .github/workflows/jerigon-zero.yml
  .github/workflows/labeler.yml
  .github/workflows/lint.yml
Labels: ci

#685 Fix flaky test when `DEBUG` logging is enabled
  evm_arithmetization/src/cpu/kernel/tests/transient_storage.rs
  evm_arithmetization/src/witness/transition.rs
Labels: crate: evm_arithmetization

#648 Add Tests for Segment Proving Without Keccak Tables
  evm_arithmetization/src/arithmetic/mod.rs
  evm_arithmetization/src/cpu/kernel/interpreter.rs
  evm_arithmetization/src/fixed_recursive_verifier.rs
  evm_arithmetization/src/generation/segments.rs
  evm_arithmetization/src/logic.rs
  evm_arithmetization/src/testing_utils.rs
  evm_arithmetization/src/witness/operation.rs
Labels: crate: evm_arithmetization

#674 dev: syntax highlighting for EVM Assembly
  .github/CODEOWNERS
  Cargo.lock
  evm_arithmetization/Cargo.toml
  evm_arithmetization/src/bin/lsp-server.rs
  evm_arithmetization/src/cpu/kernel/evm_asm.pest
  evm_arithmetization/src/cpu/kernel/mod.rs
  evm_arithmetization/src/cpu/kernel/parser.rs
  vscode-extension/.eslintignore
  vscode-extension/.eslintrc.js
  vscode-extension/.gitattributes
  vscode-extension/.gitignore
  vscode-extension/.vscode/extensions.json
  vscode-extension/.vscode/launch.json
  vscode-extension/.vscode/settings.json
  vscode-extension/.vscodeignore
  vscode-extension/README.md
  vscode-extension/extension.ts
  vscode-extension/package-lock.json
  vscode-extension/package.json
  vscode-extension/tsconfig.json
Labels: crate: evm_arithmetization, ci

#689 Expand error messages
  trace_decoder/src/core.rs
Labels: crate: trace_decoder

#692 Fix decoder parsing with new storage tries
  trace_decoder/src/core.rs
Labels: crate: trace_decoder

#691 Fix invalid `blob_gas_fee` burn
  evm_arithmetization/src/cpu/kernel/asm/transactions/type_3.asm
Labels: crate: evm_arithmetization

#681 discuss: deser in #427
  zero/src/rpc/jumpdest.rs
Labels: crate: zero_bin

#695 Fix address marking for state reads
  trace_decoder/src/core.rs
Labels: crate: trace_decoder

#699 fix: missing code read in state write
  trace_decoder/src/core.rs
Labels: crate: trace_decoder

#655 feat: trie multi diff comparison
  evm_arithmetization/src/generation/mod.rs
  mpt_trie/src/debug_tools/diff.rs
  zero/src/bin/trie_diff.rs
  zero/src/trie_diff/mod.rs
Labels: crate: evm_arithmetization, crate: mpt_trie, crate: zero_bin

#688 Gate Code for Testing Purposes Under testing Modules
  evm_arithmetization/src/all_stark.rs
  evm_arithmetization/src/fixed_recursive_verifier.rs
  evm_arithmetization/src/get_challenges.rs
  evm_arithmetization/src/proof.rs
  evm_arithmetization/src/prover.rs
  evm_arithmetization/src/verifier.rs
Labels: crate: evm_arithmetization

#696 perf: Improve PUSH checking in JDA
  evm_arithmetization/src/cpu/kernel/asm/core/jumpdest_analysis.asm
  scripts/prove_stdio.sh
Labels: crate: evm_arithmetization

#652 Update the root circuit to conditionally verify Keccak proofs
  evm_arithmetization/src/all_stark.rs
  evm_arithmetization/src/fixed_recursive_verifier.rs
  evm_arithmetization/src/recursive_verifier.rs
Labels: crate: evm_arithmetization

#657 Enables optional verification of Keccak tables
  evm_arithmetization/src/fixed_recursive_verifier.rs
  evm_arithmetization/src/generation/mod.rs
  evm_arithmetization/src/get_challenges.rs
  evm_arithmetization/src/proof.rs
  evm_arithmetization/src/prover.rs
  evm_arithmetization/src/verifier.rs
Labels: crate: evm_arithmetization

#682 feat: block structlog retrieval
  zero/src/bin/leader/cli.rs
  zero/src/bin/rpc.rs
  zero/src/rpc/jerigon.rs
  zero/src/rpc/jumpdest.rs
  zero/src/rpc/mod.rs
  zero/src/rpc/native/txn.rs
Labels: crate: zero_bin

#708 Fix zero_bin test
  .github/workflows/ci.yml
Labels: ci

#709 Fix contract call reversion
  evm_arithmetization/src/cpu/kernel/asm/core/call.asm
  evm_arithmetization/src/cpu/kernel/asm/core/process_txn.asm
Labels: crate: evm_arithmetization

#710 fix: Add jump DDOS protection
  evm_arithmetization/src/cpu/kernel/asm/core/exception.asm
  evm_arithmetization/src/cpu/kernel/constants/mod.rs
  evm_arithmetization/src/cpu/kernel/interpreter.rs
  evm_arithmetization/src/generation/state.rs
  evm_arithmetization/src/witness/transition.rs
  trace_decoder/tests/cases/b978_dev.json
  trace_decoder/tests/cases/b978_dev_header.json
Labels: crate: trace_decoder, crate: evm_arithmetization

#715 perf: Inline some hot spots in witness generation
  evm_arithmetization/src/memory/segments.rs
  evm_arithmetization/src/witness/memory.rs
  evm_arithmetization/src/witness/traces.rs
  evm_arithmetization/src/witness/util.rs
Labels: crate: evm_arithmetization

#684 perf: reduce `MemBefore` initial size
  evm_arithmetization/src/cpu/kernel/asm/cdk_pre_execution.asm
  evm_arithmetization/src/cpu/kernel/asm/core/gas.asm
  evm_arithmetization/src/cpu/kernel/asm/core/precompiles/blake2_f.asm
  evm_arithmetization/src/cpu/kernel/asm/core/precompiles/bn_add.asm
  evm_arithmetization/src/cpu/kernel/asm/core/precompiles/bn_mul.asm
  evm_arithmetization/src/cpu/kernel/asm/core/precompiles/ecrec.asm
  evm_arithmetization/src/cpu/kernel/asm/core/precompiles/expmod.asm
  evm_arithmetization/src/cpu/kernel/asm/core/terminate.asm
  evm_arithmetization/src/cpu/kernel/asm/curve/bn254/curve_arithmetic/glv.asm
  evm_arithmetization/src/cpu/kernel/asm/curve/secp256k1/curve_add.asm
  evm_arithmetization/src/cpu/kernel/asm/hash/blake2/blake2_f.asm
  evm_arithmetization/src/cpu/kernel/asm/main.asm
  evm_arithmetization/src/cpu/kernel/asm/memory/syscalls.asm
  evm_arithmetization/src/cpu/kernel/asm/mpt/hex_prefix.asm
  evm_arithmetization/src/cpu/kernel/asm/signed.asm
  evm_arithmetization/src/cpu/kernel/asm/util/basic_macros.asm
  evm_arithmetization/src/fixed_recursive_verifier.rs
  scripts/prove_stdio.sh
Labels: crate: evm_arithmetization

#670 Optimize code by using De Morgan laws
  evm_arithmetization/src/cpu/kernel/optimizer.rs
Labels: enhancement, crate: evm_arithmetization

#717 fix: reset global metadata fields in memory post txn processing
  evm_arithmetization/src/cpu/kernel/asm/main.asm
  evm_arithmetization/src/cpu/kernel/constants/global_metadata.rs
Labels: crate: evm_arithmetization

#719 Fix check against 0xEF byte in contract creation.
  evm_arithmetization/src/cpu/kernel/asm/core/process_txn.asm
Labels: bug, crate: evm_arithmetization

#690 Optimize zkVM Proving by Skipping Unused Keccak Tables
  Cargo.lock
  Cargo.toml
  evm_arithmetization/src/fixed_recursive_verifier.rs
  evm_arithmetization/src/get_challenges.rs
  evm_arithmetization/src/proof.rs
  evm_arithmetization/src/prover.rs
  evm_arithmetization/src/testing_utils.rs
  evm_arithmetization/src/verifier.rs
  evm_arithmetization/tests/empty_tables.rs
  zero/src/prover_state/mod.rs
Labels: crate: evm_arithmetization, crate: zero_bin

#564 Assign specific jobs to dedicated workers
  Cargo.lock
  Cargo.toml
  zero/src/bin/leader.rs
  zero/src/bin/leader/cli.rs
  zero/src/bin/leader/client.rs
  zero/src/bin/leader/http.rs
  zero/src/bin/leader/stdio.rs
  zero/src/prover.rs
Labels: crate: zero_bin

#693 feat: SMT support in `trace_decoder` ignores storage
  .github/workflows/lint.yml
  Cargo.lock
  Cargo.toml
  trace_decoder/Cargo.toml
  trace_decoder/benches/block_processing.rs
  trace_decoder/src/core.rs
  trace_decoder/src/lib.rs
  trace_decoder/src/observer.rs
  trace_decoder/src/tries.rs
  trace_decoder/src/type1.rs
  trace_decoder/src/type2.rs
  trace_decoder/src/wire.rs
  trace_decoder/tests/consistent-with-header.rs
  trace_decoder/tests/simulate-execution.rs
  zero/Cargo.toml
  zero/src/bin/rpc.rs
  zero/src/bin/trie_diff.rs
  zero/src/prover.rs
Labels: crate: trace_decoder, crate: zero_bin, ci

#729 Bump plonky2 (serialization fix)
  Cargo.lock
  Cargo.toml
  evm_arithmetization/src/all_stark.rs
  evm_arithmetization/src/fixed_recursive_verifier.rs
  evm_arithmetization/src/recursive_verifier.rs
  evm_arithmetization/src/verifier.rs
  evm_arithmetization/src/witness/errors.rs
  evm_arithmetization/tests/empty_tables.rs
  evm_arithmetization/tests/two_to_one_block.rs
Labels: bug, crate: evm_arithmetization

#714 Fix max_cpu_len_log
  evm_arithmetization/src/generation/state.rs
Labels: crate: evm_arithmetization

#724 feat: Enable more optional tables
  evm_arithmetization/src/all_stark.rs
  evm_arithmetization/src/fixed_recursive_verifier.rs
  evm_arithmetization/src/generation/mod.rs
  evm_arithmetization/src/get_challenges.rs
  evm_arithmetization/src/proof.rs
  evm_arithmetization/src/prover.rs
  evm_arithmetization/src/testing_utils.rs
  evm_arithmetization/src/verifier.rs
Labels: crate: evm_arithmetization

#738 fix: unused MemAfter table
  evm_arithmetization/src/generation/mod.rs
  evm_arithmetization/src/witness/traces.rs
Labels: crate: evm_arithmetization

#733 fix: more robust SMT parsing
  trace_decoder/src/type2.rs
  trace_decoder/src/wire.rs
Labels: crate: trace_decoder

#736 Move opcode_count Under Test Configuration
  evm_arithmetization/src/cpu/kernel/interpreter.rs
  evm_arithmetization/src/generation/segments.rs
  evm_arithmetization/src/testing_utils.rs
Labels: crate: evm_arithmetization

#732 feat: trait World for `trace_decoder`
  Cargo.lock
  trace_decoder/Cargo.toml
  trace_decoder/src/core.rs
  trace_decoder/src/lib.rs
  trace_decoder/src/observer.rs
  trace_decoder/src/tries.rs
  trace_decoder/src/type1.rs
  trace_decoder/src/type2.rs
  trace_decoder/src/world.rs
  zero/src/bin/trie_diff.rs
Labels: crate: trace_decoder, crate: zero_bin

#750 chore: update codeowners
  .github/CODEOWNERS
Labels: ci

#757 ci: warn on outdated top level dependencies
  .cargo/config.toml
  .github/workflows/jerigon-native.yml
  .github/workflows/jerigon-zero.yml
  .github/workflows/lint.yml
  Cargo.lock
  Cargo.toml
  scripts/Cargo.toml
  scripts/xtask.rs
Labels: ci
