Repository 0xPolygonZero/zk_evm, pull requests merged in 2024-09, with the labels that each got.

#576 `trace_decoder`: Tweak batch size for small blocks
  trace_decoder/src/lib.rs
Labels: crate: trace_decoder

#578 chore: fix some variable names and comments
  evm_arithmetization/src/fixed_recursive_verifier.rs
  evm_arithmetization/src/generation/mod.rs
  trace_decoder/src/decoding.rs
  trace_decoder/src/lib.rs
  trace_decoder/src/processed_block_trace.rs
Labels: crate: trace_decoder, crate: evm_arithmetization

#572 Reduce overhead in storage reads and fix stack descriptions
  evm_arithmetization/src/cpu/kernel/asm/mpt/linked_list/linked_list.asm
  evm_arithmetization/src/cpu/kernel/asm/mpt/storage/storage_read.asm
  evm_arithmetization/src/cpu/kernel/asm/transactions/common_decoding.asm
Labels: crate: evm_arithmetization

#579 Fix pairing tests for null accumulated values
  evm_arithmetization/src/curve_pairings.rs
Labels: crate: evm_arithmetization

#574 Expand conditional blocks logic in Kernel parsing
  evm_arithmetization/src/cpu/kernel/evm_asm.pest
  evm_arithmetization/src/cpu/kernel/parser.rs
Labels: enhancement, crate: evm_arithmetization

#582 feat: follow from block interval
  .gitignore
  zero_bin/common/src/block_interval.rs
  zero_bin/common/src/lib.rs
  zero_bin/leader/src/cli.rs
  zero_bin/leader/src/client.rs
  zero_bin/leader/src/http.rs
  zero_bin/leader/src/main.rs
  zero_bin/leader/src/stdio.rs
  zero_bin/prover/Cargo.toml
  zero_bin/prover/src/cli.rs
  zero_bin/prover/src/lib.rs
  zero_bin/rpc/src/main.rs
  zero_bin/tools/prove_rpc.sh
  zero_bin/tools/prove_stdio.sh
Labels: crate: zero_bin

#586 Fix `clean` leader's command
  zero_bin/common/src/prover_state/persistence.rs
  zero_bin/leader/src/main.rs
Labels: crate: zero_bin

#571 Mark constant functions with `const`
  evm_arithmetization/src/cpu/columns/general.rs
  evm_arithmetization/src/cpu/kernel/interpreter.rs
  evm_arithmetization/src/generation/linked_list.rs
  evm_arithmetization/src/generation/mpt.rs
  evm_arithmetization/src/generation/segments.rs
  evm_arithmetization/src/proof.rs
  proof_gen/src/proof_types.rs
  trace_decoder/src/typed_mpt.rs
Labels: crate: trace_decoder, crate: proof_gen, crate: evm_arithmetization

#602 chore: remove unused code
  evm_arithmetization/src/cpu/kernel/interpreter.rs
Labels: crate: evm_arithmetization

#577 Bring in Poseidon implementation under `cdk_erigon` feature flag
  .env
  .github/workflows/ci.yml
  Cargo.lock
  evm_arithmetization/Cargo.toml
  evm_arithmetization/src/all_stark.rs
  evm_arithmetization/src/cpu/columns/ops.rs
  evm_arithmetization/src/cpu/contextops.rs
  evm_arithmetization/src/cpu/control_flow.rs
  evm_arithmetization/src/cpu/cpu_stark.rs
  evm_arithmetization/src/cpu/decode.rs
  evm_arithmetization/src/cpu/gas.rs
  evm_arithmetization/src/cpu/kernel/interpreter.rs
  evm_arithmetization/src/cpu/kernel/tests/account_code.rs
  evm_arithmetization/src/cpu/kernel/tests/mod.rs
  evm_arithmetization/src/cpu/kernel/tests/transaction_parsing/mod.rs
  evm_arithmetization/src/cpu/kernel/tests/transient_storage.rs
  evm_arithmetization/src/cpu/stack.rs
  evm_arithmetization/src/fixed_recursive_verifier.rs
  evm_arithmetization/src/generation/mod.rs
  evm_arithmetization/src/generation/prover_input.rs
  evm_arithmetization/src/generation/state.rs
  evm_arithmetization/src/lib.rs
  evm_arithmetization/src/poseidon/columns.rs
  evm_arithmetization/src/poseidon/mod.rs
  evm_arithmetization/src/poseidon/poseidon_stark.rs
  evm_arithmetization/src/prover.rs
  evm_arithmetization/src/verifier.rs
  evm_arithmetization/src/witness/gas.rs
  evm_arithmetization/src/witness/operation.rs
  evm_arithmetization/src/witness/traces.rs
  evm_arithmetization/src/witness/transition.rs
  evm_arithmetization/src/witness/util.rs
  evm_arithmetization/tests/two_to_one_block.rs
  proof_gen/Cargo.toml
  proof_gen/src/constants.rs
  proof_gen/src/prover_state.rs
  zero_bin/common/Cargo.toml
  zero_bin/common/src/prover_state/circuit.rs
  zero_bin/common/src/prover_state/mod.rs
  zero_bin/leader/Cargo.toml
  zero_bin/tools/prove_stdio.sh
Labels: crate: proof_gen, crate: evm_arithmetization, crate: zero_bin

#594 feat: add pre-state execution for `polygon-cdk`
  evm_arithmetization/benches/fibonacci_25m_gas.rs
  evm_arithmetization/src/cpu/kernel/aggregator.rs
  evm_arithmetization/src/cpu/kernel/asm/beacon_roots.asm
  evm_arithmetization/src/cpu/kernel/asm/cdk_pre_execution.asm
  evm_arithmetization/src/cpu/kernel/asm/global_exit_root.asm
  evm_arithmetization/src/cpu/kernel/asm/mpt/linked_list/linked_list.asm
  evm_arithmetization/src/cpu/kernel/constants/mod.rs
  evm_arithmetization/src/cpu/kernel/interpreter.rs
  evm_arithmetization/src/cpu/kernel/tests/add11.rs
  evm_arithmetization/src/cpu/kernel/tests/init_exc_stop.rs
  evm_arithmetization/src/generation/mod.rs
  evm_arithmetization/src/generation/prover_input.rs
  evm_arithmetization/src/generation/state.rs
  evm_arithmetization/src/testing_utils.rs
  evm_arithmetization/tests/add11_yml.rs
  evm_arithmetization/tests/erc20.rs
  evm_arithmetization/tests/erc721.rs
  evm_arithmetization/tests/global_exit_root.rs
  evm_arithmetization/tests/log_opcode.rs
  evm_arithmetization/tests/selfdestruct.rs
  evm_arithmetization/tests/simple_transfer.rs
  evm_arithmetization/tests/two_to_one_block.rs
  evm_arithmetization/tests/withdrawals.rs
  trace_decoder/src/decoding.rs
Labels: crate: trace_decoder, crate: evm_arithmetization

#598 feat: Add feature-gating in prover code based on target network
  .github/workflows/ci.yml
  Cargo.toml
  evm_arithmetization/Cargo.toml
  evm_arithmetization/src/cpu/kernel/aggregator.rs
  evm_arithmetization/src/cpu/kernel/asm/beacon_roots.asm
  evm_arithmetization/src/cpu/kernel/asm/core/exception.asm
  evm_arithmetization/src/cpu/kernel/asm/core/precompiles/main.asm
  evm_arithmetization/src/cpu/kernel/asm/core/syscall.asm
  evm_arithmetization/src/cpu/kernel/asm/main.asm
  evm_arithmetization/src/cpu/kernel/asm/memory/metadata.asm
  evm_arithmetization/src/cpu/kernel/asm/transactions/common_decoding.asm
  evm_arithmetization/src/cpu/kernel/asm/transactions/router.asm
  evm_arithmetization/src/cpu/kernel/constants/exc_bitfields.rs
  evm_arithmetization/src/cpu/kernel/interpreter.rs
  evm_arithmetization/src/cpu/kernel/parser.rs
  evm_arithmetization/src/cpu/kernel/tests/bls381.rs
  evm_arithmetization/src/cpu/kernel/tests/mod.rs
  evm_arithmetization/src/cpu/kernel/tests/transaction_parsing/mod.rs
  evm_arithmetization/src/fixed_recursive_verifier.rs
  evm_arithmetization/src/generation/mod.rs
  evm_arithmetization/src/get_challenges.rs
  evm_arithmetization/src/lib.rs
  evm_arithmetization/src/proof.rs
  evm_arithmetization/src/prover.rs
  evm_arithmetization/src/recursive_verifier.rs
  evm_arithmetization/src/verifier.rs
  evm_arithmetization/src/witness/transition.rs
  evm_arithmetization/tests/add11_yml.rs
  evm_arithmetization/tests/erc20.rs
  evm_arithmetization/tests/erc721.rs
  evm_arithmetization/tests/global_exit_root.rs
  evm_arithmetization/tests/log_opcode.rs
  evm_arithmetization/tests/selfdestruct.rs
  evm_arithmetization/tests/simple_transfer.rs
  evm_arithmetization/tests/two_to_one_block.rs
  evm_arithmetization/tests/withdrawals.rs
  proof_gen/Cargo.toml
  trace_decoder/Cargo.toml
  zero_bin/common/Cargo.toml
  zero_bin/leader/Cargo.toml
  zero_bin/ops/Cargo.toml
  zero_bin/prover/Cargo.toml
  zero_bin/rpc/Cargo.toml
  zero_bin/verifier/Cargo.toml
  zero_bin/worker/Cargo.toml
Labels: crate: trace_decoder, crate: proof_gen, crate: evm_arithmetization, crate: zero_bin

#600 optimize: limit number of blocks proving in parallel
  zero_bin/prover/src/lib.rs
Labels: crate: zero_bin

#608 doc(book): Fill up empty sections and add table diagram
  .github/workflows/book.yml
  README.md
  book/.gitignore
  book/book.toml
  book/src/SUMMARY.md
  book/src/intro.md
  book/src/mpt/intro.md
  book/src/tables/intro.md
Labels: documentation

#619 Clarify `eth_to_gwei` helper name and move to `common` crate
  Cargo.lock
  common/src/lib.rs
  evm_arithmetization/Cargo.toml
  evm_arithmetization/src/testing_utils.rs
  evm_arithmetization/tests/selfdestruct.rs
  evm_arithmetization/tests/simple_transfer.rs
  trace_decoder/src/decoding.rs
Labels: crate: trace_decoder, crate: evm_arithmetization, crate: common

#615 chore: move utility functions to common crate
  Cargo.lock
  trace_decoder/Cargo.toml
  zero_bin/common/Cargo.toml
  zero_bin/common/src/env.rs
  zero_bin/common/src/fs.rs
  zero_bin/common/src/lib.rs
  zero_bin/common/src/tracing.rs
  zero_bin/leader/Cargo.toml
  zero_bin/leader/src/main.rs
  zero_bin/ops/Cargo.toml
  zero_bin/rpc/Cargo.toml
  zero_bin/verifier/Cargo.toml
  zero_bin/worker/src/init.rs
  zero_bin/worker/src/main.rs
Labels: crate: trace_decoder, crate: zero_bin

#583 refactor: trace decoder backend
  .github/workflows/ci.yml
  .gitignore
  Cargo.lock
  evm_arithmetization/src/cpu/kernel/constants/mod.rs
  evm_arithmetization/src/testing_utils.rs
  trace_decoder/Cargo.toml
  trace_decoder/src/core.rs
  trace_decoder/src/decoding.rs
  trace_decoder/src/interface.rs
  trace_decoder/src/lib.rs
  trace_decoder/src/processed_block_trace.rs
  trace_decoder/src/type1.rs
  trace_decoder/src/typed_mpt.rs
  trace_decoder/src/wire.rs
  zero_bin/leader/Cargo.toml
  zero_bin/prover/Cargo.toml
  zero_bin/rpc/Cargo.toml
  zero_bin/rpc/src/native/state.rs
  zero_bin/tools/prove_stdio.sh
Labels: crate: trace_decoder, crate: evm_arithmetization, crate: zero_bin, ci

#605 Skip missing Cancun bits for non Eth mainnet chains
  Cargo.lock
  common/src/lib.rs
  evm_arithmetization/Cargo.toml
  evm_arithmetization/src/cpu/kernel/asm/core/precompiles/main.asm
  evm_arithmetization/src/cpu/kernel/asm/core/util.asm
  evm_arithmetization/src/generation/mod.rs
  evm_arithmetization/src/lib.rs
  evm_arithmetization/src/prover.rs
  proof_gen/Cargo.toml
  proof_gen/src/lib.rs
  trace_decoder/Cargo.toml
  trace_decoder/benches/block_processing.rs
  trace_decoder/src/core.rs
  trace_decoder/src/decoding.rs
  trace_decoder/src/interface.rs
  trace_decoder/src/lib.rs
  trace_decoder/tests/consistent-with-header.rs
  trace_decoder/tests/simulate-execution.rs
  zero_bin/common/Cargo.toml
  zero_bin/common/src/lib.rs
  zero_bin/leader/Cargo.toml
  zero_bin/leader/src/main.rs
  zero_bin/ops/Cargo.toml
  zero_bin/ops/src/lib.rs
  zero_bin/prover/Cargo.toml
  zero_bin/prover/src/lib.rs
  zero_bin/rpc/Cargo.toml
  zero_bin/rpc/src/lib.rs
  zero_bin/rpc/src/main.rs
  zero_bin/rpc/src/native/state.rs
  zero_bin/verifier/Cargo.toml
  zero_bin/verifier/src/main.rs
  zero_bin/worker/Cargo.toml
Labels: crate: trace_decoder, crate: proof_gen, crate: evm_arithmetization, crate: zero_bin, crate: common

#603 Search in linked lists using a BTree
  evm_arithmetization/src/cpu/kernel/asm/mpt/linked_list/linked_list.asm
  evm_arithmetization/src/cpu/kernel/interpreter.rs
  evm_arithmetization/src/cpu/kernel/tests/account_code.rs
  evm_arithmetization/src/cpu/kernel/tests/mpt/linked_list.rs
  evm_arithmetization/src/generation/linked_list.rs
  evm_arithmetization/src/generation/mpt.rs
  evm_arithmetization/src/generation/prover_input.rs
  evm_arithmetization/src/generation/segments.rs
  evm_arithmetization/src/generation/state.rs
Labels: crate: evm_arithmetization

#629 Small fixes to `rpc` and `common` modules
  zero_bin/common/src/fs.rs
  zero_bin/rpc/src/main.rs
Labels: crate: zero_bin

#631 feat(type2): Skip jumpdest analysis
  evm_arithmetization/src/cpu/jumps.rs
  evm_arithmetization/src/cpu/kernel/aggregator.rs
  evm_arithmetization/src/cpu/kernel/asm/core/call.asm
  evm_arithmetization/src/cpu/kernel/asm/core/exception.asm
  evm_arithmetization/src/cpu/kernel/tests/core/jumpdest_analysis.rs
  evm_arithmetization/src/cpu/kernel/tests/mod.rs
  evm_arithmetization/src/witness/transition.rs
Labels: crate: evm_arithmetization

#632 refactor: --version in the CLI
  Cargo.lock
  Cargo.toml
  zero/Cargo.toml
  zero/build.rs
  zero/src/bin/leader.rs
  zero/src/bin/leader/cli.rs
  zero/src/bin/rpc.rs
  zero/src/bin/verifier.rs
  zero/src/bin/verifier/cli.rs
  zero/src/bin/worker.rs
  zero/src/lib.rs
  zero/src/prover_state/persistence.rs
  zero/src/version.rs
Labels: crate: zero_bin

#581 Refactor linked lists initial hashing
  evm_arithmetization/src/cpu/kernel/aggregator.rs
  evm_arithmetization/src/cpu/kernel/asm/main.asm
  evm_arithmetization/src/cpu/kernel/asm/mpt/hash/hash.asm
  evm_arithmetization/src/cpu/kernel/asm/mpt/linked_list/final_tries.asm
  evm_arithmetization/src/cpu/kernel/asm/mpt/linked_list/initial_tries.asm
  evm_arithmetization/src/cpu/kernel/asm/mpt/linked_list/linked_list.asm
  evm_arithmetization/src/cpu/kernel/asm/mpt/read.asm
  evm_arithmetization/src/cpu/kernel/tests/account_code.rs
  evm_arithmetization/src/cpu/kernel/tests/mpt/delete.rs
  evm_arithmetization/src/cpu/kernel/tests/mpt/insert.rs
  evm_arithmetization/src/cpu/kernel/tests/mpt/read.rs
  evm_arithmetization/src/generation/prover_input.rs
  scripts/prove_stdio.sh
Labels: crate: evm_arithmetization

#639 Fix address masking in `trace_decoder` processing
  trace_decoder/src/core.rs
Labels: crate: trace_decoder

#644 make pool size configurable
  zero/src/bin/leader.rs
  zero/src/prover.rs
  zero/src/prover/cli.rs
Labels: crate: zero_bin

#638 Check block_timestamp always increases.
  evm_arithmetization/src/fixed_recursive_verifier.rs
Labels: crate: evm_arithmetization

#642 Remove unnecessary overhead in linked list preprocessing
  evm_arithmetization/src/cpu/kernel/interpreter.rs
  evm_arithmetization/src/cpu/kernel/tests/account_code.rs
  evm_arithmetization/src/cpu/kernel/tests/mpt/linked_list.rs
  evm_arithmetization/src/generation/linked_list.rs
  evm_arithmetization/src/generation/state.rs
Labels: crate: evm_arithmetization

#635 misc: Do not perform sanity check on `test_only` runs
  zero/src/bin/leader/client.rs
Labels: crate: zero_bin

#647 Refactor recursive circuit initialization and per table proving and verification with macros
  evm_arithmetization/src/arithmetic/arithmetic_stark.rs
  evm_arithmetization/src/byte_packing/byte_packing_stark.rs
  evm_arithmetization/src/cpu/cpu_stark.rs
  evm_arithmetization/src/fixed_recursive_verifier.rs
  evm_arithmetization/src/keccak/keccak_stark.rs
  evm_arithmetization/src/keccak_sponge/keccak_sponge_stark.rs
  evm_arithmetization/src/logic.rs
  evm_arithmetization/src/memory/memory_stark.rs
  evm_arithmetization/src/memory_continuation/memory_continuation_stark.rs
  evm_arithmetization/src/poseidon/poseidon_stark.rs
  evm_arithmetization/src/prover.rs
  evm_arithmetization/src/verifier.rs
Labels: crate: evm_arithmetization

#633 feat: add network-specific pre-state execution in decoder
  evm_arithmetization/src/cpu/kernel/asm/beacon_roots.asm
  evm_arithmetization/src/cpu/kernel/constants/mod.rs
  trace_decoder/Cargo.toml
  trace_decoder/src/core.rs
  trace_decoder/src/interface.rs
  trace_decoder/src/typed_mpt.rs
  zero/Cargo.toml
  zero/src/rpc/mod.rs
  zero/src/rpc/native/state.rs
Labels: crate: trace_decoder, crate: evm_arithmetization, crate: zero_bin

#650 Remove `proof_gen` crate
  .github/labeler.yml
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
  README.md
  evm_arithmetization/src/fixed_recursive_verifier.rs
  evm_arithmetization/tests/global_exit_root.rs
  evm_arithmetization/tests/two_to_one_block.rs
  proof_gen/Cargo.toml
  proof_gen/README.md
  proof_gen/src/constants.rs
  proof_gen/src/lib.rs
  proof_gen/src/proof_gen.rs
  proof_gen/src/prover_state.rs
  proof_gen/src/verifier_state.rs
  zero/Cargo.toml
  zero/README.md
  zero/src/bin/leader/client.rs
  zero/src/bin/leader/http.rs
  zero/src/bin/leader/stdio.rs
  zero/src/bin/verifier.rs
  zero/src/fs.rs
  zero/src/lib.rs
  zero/src/ops.rs
  zero/src/pre_checks.rs
  zero/src/proof_types.rs
  zero/src/prover.rs
  zero/src/prover_state/mod.rs
Labels: crate: proof_gen, crate: evm_arithmetization, crate: zero_bin, ci

#630 feat: trie diff tool
  Cargo.lock
  evm_arithmetization/src/fixed_recursive_verifier.rs
  evm_arithmetization/src/generation/mod.rs
  evm_arithmetization/src/generation/segments.rs
  evm_arithmetization/src/prover.rs
  evm_arithmetization/src/public_types.rs
  mpt_trie/src/debug_tools/diff.rs
  trace_decoder/benches/block_processing.rs
  trace_decoder/src/core.rs
  trace_decoder/src/lib.rs
  trace_decoder/src/observer.rs
  trace_decoder/src/typed_mpt.rs
  trace_decoder/tests/consistent-with-header.rs
  trace_decoder/tests/simulate-execution.rs
  zero/Cargo.toml
  zero/src/bin/rpc.rs
  zero/src/bin/trie_diff.rs
  zero/src/debug_utils.rs
  zero/src/lib.rs
  zero/src/ops.rs
  zero/src/prover.rs
  zero/src/prover/cli.rs
  zero/src/trie_diff/mod.rs
Labels: crate: trace_decoder, crate: evm_arithmetization, crate: mpt_trie, crate: zero_bin

#665 build: pin toolchain
  .github/workflows/ci.yml
  .github/workflows/jerigon-native.yml
  .github/workflows/jerigon-zero.yml
  rust-toolchain.toml
Labels: ci

#637 Refactor access list search
  evm_arithmetization/src/cpu/kernel/asm/core/access_lists.asm
  evm_arithmetization/src/cpu/kernel/interpreter.rs
  evm_arithmetization/src/cpu/kernel/tests/account_code.rs
  evm_arithmetization/src/cpu/kernel/tests/mpt/linked_list.rs
  evm_arithmetization/src/generation/linked_list.rs
  evm_arithmetization/src/generation/prover_input.rs
  evm_arithmetization/src/generation/segments.rs
  evm_arithmetization/src/generation/state.rs
Labels: crate: evm_arithmetization

#658 perf: Remove some binary ops & make KERNEL `init` section free of logic operations
  evm_arithmetization/src/cpu/kernel/asm/core/access_lists.asm
  evm_arithmetization/src/cpu/kernel/asm/core/exception.asm
  evm_arithmetization/src/cpu/kernel/asm/core/util.asm
  evm_arithmetization/src/cpu/kernel/asm/curve/bn254/curve_arithmetic/curve_add.asm
  evm_arithmetization/src/cpu/kernel/asm/curve/bn254/curve_arithmetic/pairing.asm
  evm_arithmetization/src/cpu/kernel/asm/curve/bn254/curve_arithmetic/twisted_curve_checks.asm
  evm_arithmetization/src/cpu/kernel/asm/curve/bn254/curve_arithmetic/twisted_curve_mul.asm
  evm_arithmetization/src/cpu/kernel/asm/curve/bn254/field_arithmetic/util.asm
  evm_arithmetization/src/cpu/kernel/asm/curve/secp256k1/curve_add.asm
  evm_arithmetization/src/cpu/kernel/asm/curve/secp256k1/ecrecover.asm
  evm_arithmetization/src/cpu/kernel/asm/curve/secp256k1/lift_x.asm
  evm_arithmetization/src/cpu/kernel/asm/curve/wnaf.asm
  evm_arithmetization/src/cpu/kernel/asm/mpt/read.asm
  evm_arithmetization/src/cpu/kernel/asm/mpt/util.asm
  evm_arithmetization/src/cpu/kernel/asm/util/basic_macros.asm
  evm_arithmetization/src/generation/mod.rs
  evm_arithmetization/tests/two_to_one_block.rs
Labels: crate: evm_arithmetization

#677 refactor: sort, merge, cleanup dependencies
  .github/actions/rust/action.yml
  .github/workflows/ci.yml
  .github/workflows/lint.yml
  Cargo.lock
  Cargo.toml
  common/Cargo.toml
  compat/Cargo.toml
  evm_arithmetization/Cargo.toml
  mpt_trie/Cargo.toml
  proc_macro/Cargo.toml
  smt_trie/Cargo.toml
  taplo.toml
  trace_decoder/Cargo.toml
  zero/Cargo.toml
Labels: crate: trace_decoder, crate: evm_arithmetization, crate: mpt_trie, crate: zero_bin, ci, crate: common
