Repository 0xPolygonZero/zk_evm, pull requests merged in 2024-06, with the labels that each got.

#257 fix(cancun): correct search loop in transient storage
  evm_arithmetization/src/cpu/kernel/asm/journal/transient_storage_change.asm
  evm_arithmetization/src/cpu/kernel/asm/main.asm
  evm_arithmetization/src/cpu/kernel/asm/memory/transient_storage.asm
  evm_arithmetization/src/cpu/kernel/tests/transient_storage.rs
Labels: bug, crate: evm_arithmetization

#260 feat(continuations): reduce some memory overhead
  evm_arithmetization/src/cpu/kernel/interpreter.rs
  evm_arithmetization/src/generation/mod.rs
  evm_arithmetization/src/generation/state.rs
  evm_arithmetization/src/prover.rs
Labels: crate: evm_arithmetization

#259 Added `Clone` to a few error types in `mpt_trie`
  mpt_trie/src/nibbles.rs
  mpt_trie/src/trie_ops.rs
Labels: crate: mpt_trie

#262 cleanup: remove outdated segment
  evm_arithmetization/src/cpu/kernel/asm/memory/core.asm
  evm_arithmetization/src/cpu/kernel/constants/mod.rs
  evm_arithmetization/src/memory/segments.rs
Labels: crate: evm_arithmetization

#264 perf(continuations): Only copy non-stale contexts
  evm_arithmetization/src/cpu/kernel/interpreter.rs
  evm_arithmetization/src/generation/state.rs
Labels: crate: evm_arithmetization

#271 fix: add multiple witness version check
  trace_decoder/src/compact/compact_prestate_processing.rs
  trace_decoder/src/processed_block_trace.rs
Labels: crate: trace_decoder

#268 fix: add G2 subgroup check for `ECPAIRING`
  evm_arithmetization/src/cpu/kernel/aggregator.rs
  evm_arithmetization/src/cpu/kernel/asm/curve/bn254/curve_arithmetic/curve_add.asm
  evm_arithmetization/src/cpu/kernel/asm/curve/bn254/curve_arithmetic/pairing.asm
  evm_arithmetization/src/cpu/kernel/asm/curve/bn254/curve_arithmetic/twisted_curve_add.asm
  evm_arithmetization/src/cpu/kernel/asm/curve/bn254/curve_arithmetic/twisted_curve_checks.asm
  evm_arithmetization/src/cpu/kernel/asm/curve/bn254/curve_arithmetic/twisted_curve_endomorphism.asm
  evm_arithmetization/src/cpu/kernel/asm/curve/bn254/curve_arithmetic/twisted_curve_mul.asm
  evm_arithmetization/src/cpu/kernel/asm/curve/bn254/field_arithmetic/inverse.asm
  evm_arithmetization/src/cpu/kernel/asm/curve/bn254/field_arithmetic/util.asm
  evm_arithmetization/src/cpu/kernel/asm/curve/common.asm
  evm_arithmetization/src/cpu/kernel/asm/rlp/num_bytes.asm
  evm_arithmetization/src/cpu/kernel/constants/mod.rs
  evm_arithmetization/src/cpu/kernel/tests/bn254.rs
  evm_arithmetization/src/extension_tower.rs
Labels: crate: evm_arithmetization

#258 Add partial trie builder
  mpt_trie/src/builder.rs
  mpt_trie/src/lib.rs
Labels: crate: mpt_trie

#276 Release 0.4.0
  CHANGELOG.md
  evm_arithmetization/Cargo.toml
  mpt_trie/Cargo.toml
  proof_gen/Cargo.toml
  trace_decoder/Cargo.toml
Labels: crate: trace_decoder, crate: proof_gen, crate: evm_arithmetization, crate: mpt_trie

#278 fix(cancun): Check `versioned_hashes` validity during type-3 txn processing
  evm_arithmetization/src/cpu/kernel/asm/transactions/common_decoding.asm
Labels: crate: evm_arithmetization

#279 Zero bin merge
  .env
  .github/workflows/ci.yml
  .gitignore
  Cargo.toml
  evm_arithmetization/Cargo.toml
  mpt_trie/Cargo.toml
  proof_gen/Cargo.toml
  trace_decoder/Cargo.toml
  zero_bin/.cargo/config.toml
  zero_bin/.gitignore
  zero_bin/README.md
  zero_bin/common/Cargo.toml
  zero_bin/common/src/block_interval.rs
  zero_bin/common/src/debug_utils.rs
  zero_bin/common/src/fs.rs
  zero_bin/common/src/lib.rs
  zero_bin/common/src/parsing.rs
  zero_bin/common/src/prover_state/circuit.rs
  zero_bin/common/src/prover_state/cli.rs
  zero_bin/common/src/prover_state/mod.rs
  zero_bin/common/src/prover_state/persistence.rs
  zero_bin/leader.Dockerfile
  zero_bin/leader/Cargo.toml
  zero_bin/leader/src/cli.rs
  zero_bin/leader/src/client.rs
  zero_bin/leader/src/http.rs
  zero_bin/leader/src/init.rs
  zero_bin/leader/src/main.rs
  zero_bin/leader/src/stdio.rs
  zero_bin/leader/src/utils.rs
  zero_bin/ops/Cargo.toml
  zero_bin/ops/src/lib.rs
  zero_bin/prover/Cargo.toml
  zero_bin/prover/src/lib.rs
  zero_bin/rpc/Cargo.toml
  zero_bin/rpc/src/compat.rs
  zero_bin/rpc/src/jerigon.rs
  zero_bin/rpc/src/lib.rs
  zero_bin/rpc/src/main.rs
  zero_bin/rpc/src/native/mod.rs
  zero_bin/rpc/src/native/state.rs
  zero_bin/rpc/src/native/txn.rs
  zero_bin/rpc/src/retry.rs
  zero_bin/tools/artifacts/witness_b19240705.json
  zero_bin/tools/artifacts/witness_b2_b7.json
  zero_bin/tools/prove_rpc.sh
  zero_bin/tools/prove_stdio.sh
  zero_bin/verifier/Cargo.toml
  zero_bin/verifier/src/cli.rs
  zero_bin/verifier/src/init.rs
  zero_bin/verifier/src/main.rs
  zero_bin/worker.Dockerfile
  zero_bin/worker/Cargo.toml
  zero_bin/worker/src/init.rs
  zero_bin/worker/src/main.rs
Labels: crate: trace_decoder, crate: proof_gen, crate: evm_arithmetization, crate: mpt_trie

#301 fix: only executables should choose a global allocator
  Cargo.lock
  evm_arithmetization/Cargo.toml
  evm_arithmetization/src/lib.rs
  zero_bin/worker/Cargo.toml
  zero_bin/worker/src/main.rs
Labels: crate: evm_arithmetization, crate: zero_bin

#298 doc: fix typos
  docs/arithmetization/tables/cpu.tex
  docs/arithmetization/tables/memory.tex
  evm_arithmetization/src/arithmetic/shift.rs
  evm_arithmetization/src/cpu/jumps.rs
  evm_arithmetization/src/cpu/kernel/asm/core/access_lists.asm
  evm_arithmetization/src/cpu/kernel/asm/core/call.asm
  evm_arithmetization/src/generation/prover_input.rs
  evm_arithmetization/src/proof.rs
  mpt_trie/src/partial_trie.rs
  mpt_trie/src/utils.rs
  trace_decoder/README.md
  trace_decoder/src/decoding.rs
  trace_decoder/src/trace_protocol.rs
  zero_bin/tools/prove_rpc.sh
  zero_bin/tools/prove_stdio.sh
  zero_bin/verifier/src/main.rs
Labels: crate: trace_decoder, crate: evm_arithmetization, crate: mpt_trie, specs, crate: zero_bin

#305 misc(zero-bin): fix logging filename for test script
  zero_bin/tools/prove_rpc.sh
Labels: crate: zero_bin

#317 Refactor `zero_bin` leader cli
  zero_bin/leader/src/cli.rs
  zero_bin/leader/src/client.rs
  zero_bin/leader/src/main.rs
  zero_bin/tools/prove_rpc.sh
Labels: crate: zero_bin

#322 perf(evm_arithmetization): Check for zero amount early in `add_eth`
  evm_arithmetization/src/cpu/kernel/asm/core/transfer.asm
Labels: performance, crate: evm_arithmetization

#324 fix: interval
  zero_bin/tools/prove_rpc.sh
Labels: crate: zero_bin

#316 fix: optimize previous hashes retrieval
  zero_bin/rpc/src/lib.rs
Labels: crate: zero_bin

#328 fix: do not add selfdestruct journal entry for skipped accounts
  evm_arithmetization/src/cpu/kernel/asm/core/terminate.asm
Labels: bug, crate: evm_arithmetization

#336 fix: add recipient to `touched_addresses` even when skipping empty transfer
  evm_arithmetization/src/cpu/kernel/asm/core/transfer.asm
Labels: bug, crate: evm_arithmetization

#339 perf: reduce overhead in final iteration of `memset`
  evm_arithmetization/src/cpu/kernel/asm/memory/memset.asm
Labels: crate: evm_arithmetization

#307 Make leader work no matter what the CWD is
  zero_bin/.cargo/config.toml
  zero_bin/common/src/prover_state/persistence.rs
  zero_bin/tools/prove_rpc.sh
  zero_bin/tools/prove_stdio.sh
Labels: crate: zero_bin

#341 Cleanup/clippy and update pass
  Cargo.lock
  Cargo.toml
  mpt_trie/Cargo.toml
  proof_gen/Cargo.toml
  smt_trie/Cargo.toml
  trace_decoder/Cargo.toml
  zero_bin/leader/src/main.rs
  zero_bin/rpc/Cargo.toml
  zero_bin/verifier/Cargo.toml
  zero_bin/worker/Cargo.toml
Labels: crate: trace_decoder, crate: proof_gen, crate: mpt_trie, crate: zero_bin

#315 Add `Columns` and `DerefColumns` derive macros
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
  evm_arithmetization/Cargo.toml
  evm_arithmetization/src/cpu/columns/mod.rs
  evm_arithmetization/src/cpu/columns/ops.rs
  evm_arithmetization/src/keccak_sponge/columns.rs
  evm_arithmetization/src/util.rs
  proc_macro/Cargo.toml
  proc_macro/src/common.rs
  proc_macro/src/impls/columns.rs
  proc_macro/src/impls/deref_columns.rs
  proc_macro/src/impls/mod.rs
  proc_macro/src/lib.rs
  proc_macro/tests/compile/mod.rs
  proc_macro/tests/compile/test_impls.rs
  proc_macro/tests/compile_fail/not_repr_c.rs
  proc_macro/tests/compile_fail/not_repr_c.stderr
  proc_macro/tests/compile_fail/not_repr_c_deref.rs
  proc_macro/tests/compile_fail/not_repr_c_deref.stderr
  proc_macro/tests/compile_fail/not_struct.rs
  proc_macro/tests/compile_fail/not_struct.stderr
  proc_macro/tests/compile_fail/not_struct_deref.rs
  proc_macro/tests/compile_fail/not_struct_deref.stderr
  proc_macro/tests/compiletest.rs
Labels: crate: evm_arithmetization

#308 migrate compat to trace_decoder crate
  Cargo.lock
  Cargo.toml
  compat/Cargo.toml
  compat/src/lib.rs
  zero_bin/rpc/Cargo.toml
  zero_bin/rpc/src/lib.rs
  zero_bin/rpc/src/native/state.rs
  zero_bin/rpc/src/native/txn.rs
Labels: crate: zero_bin
